@model SectionModel

<section>
    <link rel="stylesheet" href="~/css/comments.css" />

    <div class="pop-ups-section">
        @if (Model.currentUser == null)
        {
            <div class="pop-up-overlay for-login disabled">
                <div class="login-pop-up">
                    @{await Html.RenderPartialAsync("~/Views/Account/SmallLogin.cshtml", new Views.Account.LoginModel { ReturnUrl = null });}
                </div>
            </div>
        }
    </div>

    <div class="row my-3">
        <div class="container comments-block">
            <div class="d-flex justify-content-between section-header">
                <span class="counter">
                    COMMENTS (<span id="comments-amount">@Model.comments.Count</span>)
                </span>
                    <span class="sort-by">
                        Sort by:
                        <select id="comments-sort" onchange="Sort('@Model.articleId')" >
                            <option selected>@Model.sortType</option>
                            @if (Model.sortType != "Recent")
                            {
                                <option value="Recent">Recent</option>
                            }
                            @if (Model.sortType != "Most popular")
                            {
                                <option value="Most popular">Most popular</option>
                            }
                            @if (Model.sortType != "Oldest")
                            {
                                <option value="Oldest">Oldest</option>
                            }
                        </select>
                        <svg svg xmlns="http://www.w3.org/2000/svg" class="bi bi-chevron-compact-down sort-chevron" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </span>
            </div>
            <div class="white border-gray">
                <div class="text-input d-flex">
                    <div class="small-avatar">
                        @if (Model.currentUser == null)
                        {
                            <img src="~/img/AvatarUploads/default-avatar.png" alt="">
                        }
                        else
                        {
                            <img src="~/img/AvatarUploads/@Model.currentUser.AvatarName" alt="">
                        }
                    </div>
                    <div class="d-block w-100 pr-5">
                        <div id="comment-form">
                            <textarea name="text" type="text" placeholder="Write a comment" id="comment"></textarea>
                            <div class="submit disabled float-right">
                                <div class="comments-menu w-100">
                                    @if (Model.currentUser == null)
                                    {
                                        <button type="button" id="false-post">Submit</button>
                                    }
                                    else
                                    {
                                        <button id="post" onclick="Submit('@Model.currentUser.Id','@Model.articleId')">Submit</button>
                                    }
                                    <input type="reset" onclick="Cancel('@Model.currentUser?.Id', '@Model.articleId')" id="cancel" value="Cancel">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-section">
                    @{
                        foreach (var item in Model.comments.Where(x => x.RepliedCommentID == null).ToList())
                        {
                            var model = new CommentModel()
                            {
                                currentUser = Model.currentUser,
                                comment = item,
                                replies = Model.replies
                            };
                            await Html.RenderPartialAsync("Comment", model);
                        }
                    }
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button id="show-more" class="button">
                    Show more
                    <div class="flex-break"></div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                    </svg>
                </button>
                <button id="show-less" class="button disabled">
                    Show less
                    <div class="flex-break"></div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/comments.js" asp-append-version="true"></script>
    <script>
        var Sort = function (articleId) {
            let data = {
                method: 'post'
            }
            let url = window.location.href.slice(0, window.location.href.indexOf('/', 9));
            let sortType = $('#comments-sort').val();
            fetch(url + '/Comments/SortComments' + '?articleIdstring=' + articleId + '&sortType=' + sortType, data)
                .then((res) => res.text())
                .then((res) => {
                    $('#comment-section').html(res);
                });
        }
        var Cancel = function (userId, articleId) {
            $("#post").attr("onclick", "Submit("+ userId +", " + articleId +")");
            $(".submit").addClass("disabled");
            $("textarea").attr("placeholder", "Write a comment");
        };
        var Submit = function (userId, articleId) {
            let data = {
                method: 'post'
            }
            let url = window.location.href.slice(0, window.location.href.indexOf('/', 9));
            let text = $('#comment').val();
            fetch(url + '/Comments/Submit' + '?userId=' + userId + '&text=' + text + '&articleIdstring=' + articleId, data)
                .then((res) => res.text())
                .then((res) => {
                    $('#comment-section').html(res);
                });
        }
        var Edit = function (userId, commentId, articleId) {
            let data = {
                method: 'post'
            }
            let url = window.location.href.slice(0, window.location.href.indexOf('/', 9));
            let text = $('#comment').val();
            fetch(url + '/Comments/Submit' + '?userId=' + userId + '&text=' + text + '&commentToChangeIdstring=' + commentId + '&articleIdstring=' + articleId, data)
                .then((res) => res.text())
                .then((res) => {
                    $('#comment-section').html(res);
                });
        }
        var Comment = function (userId, commentId, articleId) {
            let data = {
                method: 'post'
            }
            let url = window.location.href.slice(0, window.location.href.indexOf('/', 9));
            let text = $('#comment').val();
            fetch(url + '/Comments/Submit' + '?userId=' + userId + '&text=' + text + '&articleIdstring=' + articleId + '&repliedCommentIdstring=' + commentId, data)
                .then((res) => res.text())
                .then((res) => {
                    $('#comment-section').html(res);
                });
        }
    </script>
</section>