@model sports_hub_portal.Views.Categories.CategoryModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Add a Category";

}
<h2>@ViewBag.Title</h2>
<div>
    <form asp-controller="Categories" asp-action="Add" method="post">
        <p>Name</p>
        <div class="form-group">
            <textarea name="categoryName" class="form-control" placeholder="Name your item"></textarea>
        </div>
        <div class="add-cancel-btns">
            <input type="submit" id="add" value="Add"/>
        </div>
    </form>
</div>