@using sports_hub_portal.Helpers
@model CategoryModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Categories";
}
@section Styles{
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
}

<div class="container category-list">

    <div class="row">
        <div class="col-4 col-sm-3 categories">
            <div class="add-btn"><a href="#" class="d-block text-center" id="add-category">+ Add category</a></div>
            <ul id="categories-list">
                @CategoryHelper.RenderCategories(Html)
            </ul>
        </div>
        <div class="col-4 col-sm-3 subcategories">
            <div class="add-btn"><a href="#" class="d-block text-center" id="add-subcategory">+ Add subcategory</a></div>
            <ul id="subcategories-list">
            </ul>
        </div>
        <div class="background"></div>
        <div class="form-popup">
            <form class="add-category-popup-form" asp-controller="Categories" asp-action="Add" method="post">
                <h1 class="text-center">Add new category</h1>
                <label>Name</label>
                <input type="text" name="categoryName" id="newItem" placeholder="Name your menu category" /><br />
                <div class="add-cancel-btns">
                    <input class="text-center" id="cancelAdding" value="Cancel" />
                    <input type="submit" class="text-center" id="addCategory" value="Add" />
                </div>
            </form>

        </div>
    </div>
</div>
<script>
    var showSubcategories = function (subcategoryList, itemId) {
        $(".hidden-input").remove();
        let hiddenInput = $(
            "<input class=\"hidden-input\" type=\"hidden\" name=\"parentId\" value=" + itemId + " />"
        );
        $(".add-category-popup-form").prepend(hiddenInput);
        $("#subcategories-list").empty();

        for (var i = 0; i < subcategoryList.length; i++) {
            var hiddenMark = "<div class=\"container hidden-mark\" style=\"visibility: hidden\" id=\"hidden-mark-" + subcategoryList[i].Id + "\">hidden</div>";
            if (subcategoryList[i].Visibility == false) {
                hiddenMark = "<div class=\"container hidden-mark\" id=\"hidden-mark-" + subcategoryList[i].Id + "\">hidden</div>";
            }
            let newSubcategory = $(
                "<li class=\"category\" id =\"subcategory-" + subcategoryList[i].Id + "\" onmouseover=\"ShowActionsDots(" + subcategoryList[i].Id + ")\" onmouseout=\"HideActionsDots(" + subcategoryList[i].Id + ")\">" + subcategoryList[i].Name +
                hiddenMark +
                "<div class=\"category-actions\">" +
                "<div class=\"category-actions-dots\" id=\"action-dots-" + subcategoryList[i].Id + "\" onmouseover=\"ShowActionsMenu(" + subcategoryList[i].Id + ")\" onmouseout=\"HideActionsMenu(" + subcategoryList[i].Id +")\"></div>" +
                "<div class=\"container category-actions-popup\" id =\"actions-popup-" + subcategoryList[i].Id + "\" onmouseover=\"ShowActionsMenu(" + subcategoryList[i].Id + ")\" onmouseout=\"HideActionsMenu(" + subcategoryList[i].Id +")\">" +
                        "<ul class=\"actions-list\">" +
                            "<li class=\"actions-list-item\" onclick=\"ChangeVisibility(" + subcategoryList[i].Id + ", false)\">Hide</li>" +
                            "<li class=\"actions-list-item\" onclick=\"ChangeVisibility(" + subcategoryList[i].Id + ", true)\">Show</li>" +
                        "</ul>" +
                    "</div>" +
                "</div> " +
                "</li>"
            );
            $("#subcategories-list").append(newSubcategory);
        }
        $(".subcategories").css("visibility", "visible");
    }

    function ShowActionsDots(id) {
        $("#action-dots-" + id).css("visibility", "visible");
    }
    function HideActionsDots(id) {
        $("#action-dots-" + id).css("visibility", "hidden");
    }
    function ShowActionsMenu(id) {
        $("#actions-popup-" + id).css("visibility", "visible");
        $(".category-actions-dots").css("background-image", "radial-gradient(circle, #C63638 1.5px, transparent 2px)");
    }
    function HideActionsMenu(id) {
        $("#actions-popup-" + id).css("visibility", "hidden");
        $(".category-actions-dots").css("background-image", "radial-gradient(circle, #B2B2B2 1.5px, transparent 2px)");
    }
    function ChangeVisibility(id, changeTo) {
        if (changeTo === true)
            $("#hidden-mark-" + id).css("visibility", "hidden");
        else
            $("#hidden-mark-" + id).css("visibility", "visible");
        event.preventDefault();

        $.ajax({
            type: "POST",
            url: "/Categories/ChangeVisibility?id=" + encodeURIComponent(id) + "&changeTo=" + changeTo,
            dataType: "json",
            success: function (data) { },
            error: function () { alert("Error occured!!") }
        });
    }
</script>