.category-list {
    margin-top: 5%;
    margin-left: 20%;
    font-family: Open Sans;
    font-style: normal;
}
.category-list div ul {
    margin-top:10%;
    list-style-type: none;
    color: #B2B2B2;
    margin-bottom: 150px;
}
/*.category-list div ul li*/
.category {
    border: 1px solid #B2B2B2;
    margin: 20px 1px 1px 1px;
    width: 150px;
    height: 25px;
    text-align: center;
    cursor: pointer;
}
    /*.category-list div ul li:hover*/
    .category:hover {
        color: #C63638;
        box-shadow: 0px 0px 10px 0px rgba(30, 30, 30, 0.1);
    }
    .category-list div ul li:hover a {
        color: #C63638;
    }
.category-list a {
    text-decoration: none;
    color: #B2B2B2;
  
}
.category-list a:hover {
    color: #C63638;
}
.category-list .add-btn {
    border: 1px dashed #B2B2B2;
    width: 150px;
    margin-left : 40px;
}
.background-muted{
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    background-color: rgba(34, 34, 34, 0.2);
    width: 100%;
    height: 100%;
    display: none;
}
.add-category-popup-form {
    z-index: 100;
    height: 200px;
}
.form-popup {
    box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.2);
    background-color: white;
    height: 200px;
    width: 400px;
    position: fixed;
    z-index: 50;
    top: 30%;
    left: 40%;
    display: none;
    border-radius: 3px;
}
.form-popup h1 {
    font-size: 22px;
    margin-top: 10%;
}
.form-popup label {
    margin-bottom: 3px;
    color: #6C7077;
    font-family: Open Sans;
    font-size: 10px;
    line-height: 19px;
    text-transform: uppercase;
    margin-left: 50px;
    font-weight: bold;
}
.form-popup #newItem {
    width: 75%;
    height: 2rem;
    border: 1px solid #B2B2B2;
    margin-left: 50px;
    border-radius: 3px;
}
.form-popup input::placeholder {
    color: #AAB2BE;
    font-size: 14px;
}
.form-popup .add-cancel-btns {
    width: 205px;
    margin-top: 25px;
    margin-left: 145px;        
}
.form-popup .add-cancel-btns input {
    width: 100px;
    border: none;
    background-color: white;
    color: #C63638;
    cursor: pointer;
}
.form-popup .add-cancel-btns input:hover {
    background-color: #C63638;
    color: white;
}
.subcategories {
    visibility: hidden;
}
.teams {
    visibility: hidden;
}
.category-actions {
    margin-top: -16px;
    margin-left: 115px;
}
.category-actions-dots {
    width: 20px;
    height: 20px;
    background-image: radial-gradient(circle, #B2B2B2 1.5px, transparent 2px);
    background-size: 33.33% 100%;
    visibility:hidden;
}
.category-actions-popup {
    box-shadow: 0px 0px 10px 0px rgba(30, 30, 30, 0.1);
    background-color: white;
    height: 50px;
    width: 100px;
    border-radius: 3px;
    margin-left: -5px;
    margin-top: -10px;
    visibility: hidden;
    position: relative;
    z-index: 20;
}
.actions-list {
    font-family: Open Sans;
    font-style: normal;
    width: 100px;
    list-style-type: none;
    margin-left: -35px;
   
}
.actions-list-item {
    color: black;
    margin-left: -20px;
    width: 100px;
    text-align: center;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
}
.actions-list-item:hover {
    color: #C63638;
    background-color: #F9C7C7
}
.hidden-mark {
    width: 35px;
    height: 12px;
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-size: 8px;
    color: #B2B2B2;
    font-family: Open Sans;
    font-style: normal;
    margin-top: -18.5px;
    margin-left: 5px;
    
}