.icon-cam{
    background: url("../img/icons/cam.svg");

}
#ArticleForm{
    font-family: "Open Sans", sans-serif;
}
#ArticleForm .font-size-medium{
    font-size: 12px;
}
#ArticleForm .font-size-small{
    font-size: 10px;
}
#ArticleForm .font-size-large{
    font-size: 14px;
}
#ArticleForm .font-weight-600{
    font-weight: 600;
}
#ArticleForm .color-light-gray{
    color: #C6CCD7;
}
#ArticleForm .color-gray{
    color: #7F8899;
}
#ArticleForm .color-dark-gray{
    color: #434C5D;
}

#ArticleForm .form-row{
    margin-bottom: 20px;
}
#ArticleForm .select-row>div:nth-child(2){
    padding-right: 13px;
    padding-left: 13px;
}
#ArticleForm .select-row>div:first-child{
    padding-right: 26px;
}
#ArticleForm .select-row>div:last-child{
    padding-left: 26px;
}
#ArticleForm textarea.form-control{
    padding: 21px;
    padding-top: 16px;
}
#ArticleForm .form-control.font-weight-600, #ArticleForm select.custom-select.font-weight-600>option{
    font-weight: 600;
}
#ArticleForm select.custom-select, #ArticleForm input.form-control {
    padding: 12px;
    padding-left: 21px;
    height: 42px;
    line-height: 16px;

}
#ArticleForm select,#ArticleForm input, #ArticleForm textarea {
    border-radius: 0px;
    box-shadow: none;
}
#ArticleForm select.custom-select>option{
    line-height: 20px;
}
/* Switch Begin*/
#ArticleForm .switch{
    position: relative;
    display: inline-block;
    width: 26px;
    height: 14px;
    top:5px;
}
#ArticleForm .switch>input {
    opacity: 0;
    width: 0;
    height: 0;
}
#ArticleForm .switch>.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    border: 1px solid #D4D9E2;
    -webkit-transition: .4s;
    transition: .4s;
}
#ArticleForm .switch>.slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 2px;
    bottom: 2px;
    background-color: slategray;
    -webkit-transition: .4s;
    transition: .4s;
}
#ArticleForm .switch>input:checked + .slider:before {
    -webkit-transform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
}
#ArticleForm .switch>input:checked + .slider.red:before{
    background-color: #C80515;
}
/* Rounded sliders */
#ArticleForm .switch>.slider.round {
    border-radius: 14px;
}
#ArticleForm .switch>.slider.round:before {
    border-radius: 50%;
}
/* Switch End */
/* quill begin */
#ArticleForm #editor .ql-editor{
    min-height: 250px;
}
#ArticleForm .ql-toolbar.ql-snow .ql-formats{
    border-right: 1px solid #ced4da;
    margin: 0px;
}
#ArticleForm .ql-toolbar.ql-snow button:first-child{
    margin-left: 23px;
}
#ArticleForm .ql-toolbar.ql-snow button{
    margin-right: 23px;
    padding: 0px;
}

#ArticleForm .form-row{
    align-items: flex-start;
}
#ArticleForm .ql-toolbar button svg{
    fill: #B2B2B2;
}
#ArticleForm .ql-toolbar button:hover svg{
    fill:#D72130;
}
/* quill end */
#DragNDrop-img{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    aspect-ratio: 813 / 450;
    width: 100%;
    background-color: #fafafa;
    font-size: 14px;
    border: 1px dashed #D1D1D1;
    margin-bottom: 25px;
}

#DragNDrop-img.uploaded .form-label{
    display: none;
}
#DragNDrop-img #test-image{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

}
#DragNDrop-img.edit #test-image{
    filter: blur(8px) brightness(0.85);
}
#DragNDrop-img.edit .form-label{
    z-index: 1;
}

#DragNDrop-img .relative-centered{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#DragNDrop-img .icon .icon-cam{
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 23px;
}
#DragNDrop-img .icon{
    width: 63px;
    height: 63px;
    background-color: #D72130;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#DragNDrop-img .description{
    color: #D72130;
    text-align: center;
}
