.articles .font-size-medium{
    font-size: 12px;
}
.articles .font-size-huge{
    font-size: 16px;
}
.articles .font-size-small{
    font-size: 10px;
}
.articles .font-size-large{
    font-size: 14px;
}
.articles .font-weight-600{
    font-weight: 600;
}
.articles .color-light-gray{
    color: #C6CCD7;
}
.articles .color-gray{
    color: #7F8899;
}
.articles .color-dark-gray{
    color: #434C5D;
}

.articles{
    font-family: "Open Sans", sans-serif;
}
.articles>.article{
    width: 100%;
    display: flex;
    padding: 25px;
    transition-duration: 0.2s;
}
.articles .status{
    display: flex;
    justify-content: space-between;
}
.articles>.article:hover{
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.04);
}
.articles>.article .dropdown{
    display: none;
}
.articles>.article:hover{
    padding-top: 25px;
    box-shadow: black;
}
.articles>.article:hover .dropdown{
    display: block;
}
.articles>.article>.image{
    flex-basis: 284px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 158px;
    overflow: hidden;
}
.articles>.article>.image>img{
    height:100%;
}
.articles>.article>.info{
    width: 100%;
    max-height: 158px;
    padding: 5px;
    padding-left: 34px;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}
.articles .status>.published{
    padding-left: 10px;
}
.articles .status>.published::before{
    content: " ";
    width: 8px;
    height: 8px;
    border-radius: 8px;
    display: block;
    position: relative;
    left: -12px;
    top: 4px;
    margin-bottom: -8px;
    background-color: #229D1F;
}
.articles>.article>.info>.text>div{
    margin-bottom: 15px;
}

.articles .dropbtn {
    min-width: 160px;
    background-color: transparent;
    height: 48px;
    color: red;
    padding: 0px;
    font-size: 30px;
    font-weight: bolder;
    border: none;
    line-height: 6px;
    text-align: left;
}
.articles .dropbtn:hover{

}
.articles .dropdown {
    width: 0px;
    position: relative;
    display: inline-block;
}
.articles .dropdown.right {
    right: 30px;
    top: -30px;
}
.articles .dropdown.top{
    top:0px;
}
.articles .dropdown-content {

    display: none;
    position: absolute;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.articles .dropbtn>.dot::after{
    display: inline-block;
    content: " ";
    width: 6px;
    height: 6px;
    margin-left: 3px;
    border-radius: 3px;
    background-color: #D72130;
}
.articles .dropdown-content span,.articles .dropdown-content a,.articles .dropdown-content button {
    color: black;
    border:none;

    background-color: #FFFFFF;
    text-align: left;
    width: 100%;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.articles .dropdown-content span:hover,.articles .dropdown-content a:hover ,.articles .dropdown-content button:hover{
    background-color: #fbe7e8;
    color:#D72130;
}
.articles .dropdown:hover>.dropdown-content {display: block;}
.articles .inner-dropdown>.dropdown-content{
    padding-top: 8px;
    position: absolute;
    top:135px;
    left: 100%;
}
.articles .inner-dropdown:hover>.dropdown-content{
    display: block;
}
.articles .inner-dropdown>span::after{
    align-self: end;
    position:absolute;
    display: inline-block;
    content: "";
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #000000;
    right: 10px;
    bottom: 20px;
}
.articles .inner-dropdown:hover>span::after{
    border-left: 6px solid #D72130;
}

//////////////////////

.row {
    justify-content: center;
}

.top-dropdown {
    position: relative;
    display: inline-block;
}

.top-dropbutton {
    background: white;
    min-width: 10rem;
    border: 2px solid #D4D9E2;
}

.top-droplist {
    max-width: 10rem;
    display: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.top-dropdown:hover .top-droplist {
    display: block;
}

.top-dropdown:hover .top-droplist button {
    min-width: 10rem;
    border: none;
 }

.top-droplist button:hover {
    background: rgba(215, 33, 48, .1);
    color: #D72130;
}