﻿.container a {
    text-decoration: none;
    cursor: pointer;
}

.row img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.col-4, .col-8 {
    max-height: 11rem;
}

.font-sans {
    font-family: Open Sans;
    font-style: normal;
}

.article-card-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #2B2F43;
}

.article-card-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #7F7B7B;
    height: 40%;
    overflow: hidden;
}

.article-card-text p {
    margin: 0;
}