﻿.user {
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
}

    .user > .avatar {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
    }

        .user > .avatar > img {
            width: 100%;
        }

.menu-for-authorized {
    position: fixed;
    height: auto;
    width: 178px;
    box-shadow: 0px 0px 17px 7px rgb(0, 0, 9);
    top: 86px;
    z-index: 2;
    display: none;
}

.dropbtn {
    border: none;
    outline: none;
    background-color: white;
}

    .dropbtn:focus {
        outline: none;
    }

.dropdown {
    position: relative;
    display: flex;
    justify-content: flex-end;
}


.show {
    display: block;
}

.menu-for-authorized:after {
    position: absolute;
    left: 80%;
    top: -5px;
    width: 0;
    height: 0;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
}

.menu-for-authorized > .profile-info {
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    padding: 12px 0px 12px 25px;
    flex-direction: column;
}

.menu-for-authorized > ul {
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    margin-bottom: 0px;
}

.menu-for-authorized > .profile-info > .email {
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    color: #7F7B7B;
}

.menu-for-authorized > ul > li > form > button {
    height: 41px;
    width: 100%;
    padding: 0px 0px 0px 25px;
    border: none;
    background: white;
    text-align: start;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    outline: none;
}

.menu-for-authorized > ul > li > form > .log-out {
    border-top: 1px solid #EDEDED;
}

.menu-for-authorized > ul > li > form > button:hover {
    background: rgb(251, 231, 232);
    color: #D72130;
}
