.category-list {
    margin-top: 5%;
    margin-left: 20%;
    font-family: Open Sans;
    font-style: normal;
}
.category-list div ul {
    margin-top:10%;
    list-style-type: none;
    color: #B2B2B2;
    margin-bottom: 150px;
}
/*.category-list div ul li*/
.category {
    border: 1px solid #B2B2B2;
    margin: 20px 1px 1px 1px;
    width: 150px;
    height: 25px;
    text-align: center;
    cursor: pointer;
}
    /*.category-list div ul li:hover*/
    .category:hover {
        color: #C63638;
        box-shadow: 0px 0px 10px 0px rgba(30, 30, 30, 0.1);
    }
    .category-list div ul li:hover a {
        color: #C63638;
    }
.category-list a {
    text-decoration: none;
    color: #B2B2B2;
  
}
.category-list a:hover {
    color: #C63638;
}
.category-list .add-btn {
    border: 1px dashed #B2B2B2;
    width: 150px;
    margin-left : 40px;
}
.background{
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    background-color: rgba(34, 34, 34, 0.2);
    width: 100%;
    height: 100%;
    display: none;
}
.add-category-popup-form {
    z-index: 100;
    height: 200px;
}
.form-popup {
    box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.2);
    background-color: white;
    height: 200px;
    width: 400px;
    position: fixed;
    z-index: 50;
    top: 30%;
    left: 40%;
    display: none;
    border-radius: 3px;
}
.form-popup h1 {
    font-size: 22px;
    margin-top: 10%;
}
.form-popup label {
    margin-bottom: 3px;
    color: #6C7077;
    font-family: Open Sans;
    font-size: 10px;
    line-height: 19px;
    text-transform: uppercase;
    margin-left: 50px;
    font-weight: bold;
}
.form-popup #newItem {
    width: 75%;
    height: 2rem;
    border: 1px solid #B2B2B2;
    margin-left: 50px;
    border-radius: 3px;
}
.form-popup input::placeholder {
    color: #AAB2BE;
    font-size: 14px;
}
.form-popup .add-cancel-btns {
    width: 205px;
    margin-top: 25px;
    margin-left: 145px;        
}
.form-popup .add-cancel-btns input {
    width: 100px;
    border: none;
    background-color: white;
    color: #C63638;
    cursor: pointer;
}
.form-popup .add-cancel-btns input:hover {
    background-color: #C63638;
    color: white;
}
.subcategories {
    visibility: hidden;
}
.teams {
    visibility: hidden;
}
.category-actions {
    margin-top: -16px;
    margin-left: 115px;
}
.category-actions-dots {
    width: 20px;
    height: 20px;
    background-image: radial-gradient(circle, #B2B2B2 1.5px, transparent 2px);
    background-size: 33.33% 100%;
    visibility:hidden;
}
.category-actions-popup {
    box-shadow: 0px 0px 10px 0px rgba(30, 30, 30, 0.1);
    background-color: white;
    height: 50px;
    width: 100px;
    border-radius: 3px;
    margin-left: -5px;
    margin-top: -10px;
    visibility: hidden;
    position: relative;
    z-index: 20;
}
.actions-list {
    font-family: Open Sans;
    font-style: normal;
    width: 100px;
    list-style-type: none;
    margin-left: -35px;
   
}
.actions-list-item {
    color: black;
    margin-left: -20px;
    width: 100px;
    text-align: center;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
}
.actions-list-item:hover {
    color: #C63638;
    background-color: #F9C7C7
}
.hidden-mark {
    width: 35px;
    height: 12px;
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-size: 8px;
    color: #B2B2B2;
    font-family: Open Sans;
    font-style: normal;
    margin-top: -18.5px;
    margin-left: 5px;
    
}
.articles .font-size-medium{
    font-size: 12px;
}
.articles .font-size-huge{
    font-size: 16px;
}
.articles .font-size-small{
    font-size: 10px;
}
.articles .font-size-large{
    font-size: 14px;
}
.articles .font-weight-600{
    font-weight: 600;
}
.articles .color-light-gray{
    color: #C6CCD7;
}
.articles .color-gray{
    color: #7F8899;
}
.articles .color-dark-gray{
    color: #434C5D;
}

.articles{
    font-family: "Open Sans", sans-serif;
}
.articles>.article{
    width: 100%;
    display: flex;
    padding: 25px;
    transition-duration: 0.2s;
}
.articles .status{
    display: flex;
    justify-content: space-between;
}
.articles>.article:hover{
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.04);
}
.articles>.article .dropdown{
    display: none;
}
.articles>.article:hover{
    padding-top: 25px;
    box-shadow: black;
}
.articles>.article:hover .dropdown{
    display: block;
}
.articles>.article>.image{
    flex-basis: 284px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 158px;
    overflow: hidden;
}
.articles>.article>.image>img{
    height:100%;
}
.articles>.article>.info{
    width: 100%;
    max-height: 158px;
    padding: 5px;
    padding-left: 34px;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}
.articles .status>.published{
    padding-left: 10px;
}
.articles .status>.published::before{
    content: " ";
    width: 8px;
    height: 8px;
    border-radius: 8px;
    display: block;
    position: relative;
    left: -12px;
    top: 4px;
    margin-bottom: -8px;
    background-color: #229D1F;
}
.articles>.article>.info>.text>div{
    margin-bottom: 15px;
}

.articles .dropbtn {
    min-width: 160px;
    background-color: transparent;
    height: 48px;
    color: red;
    padding: 0px;
    font-size: 30px;
    font-weight: bolder;
    border: none;
    line-height: 6px;
    text-align: left;
}
.articles .dropbtn:hover{

}
.articles .dropdown {
    width: 0px;
    position: relative;
    display: inline-block;
}
.articles .dropdown.right {
    right: 30px;
    top: -30px;
}
.articles .dropdown.top{
    top:0px;
}
.articles .dropdown-content {

    display: none;
    position: absolute;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.articles .dropbtn>.dot::after{
    display: inline-block;
    content: " ";
    width: 6px;
    height: 6px;
    margin-left: 3px;
    border-radius: 3px;
    background-color: #D72130;
}
.articles .dropdown-content span,.articles .dropdown-content a,.articles .dropdown-content button {
    color: black;
    border:none;

    background-color: #FFFFFF;
    text-align: left;
    width: 100%;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.articles .dropdown-content span:hover,.articles .dropdown-content a:hover ,.articles .dropdown-content button:hover{
    background-color: #fbe7e8;
    color:#D72130;
}
.articles .dropdown:hover>.dropdown-content {display: block;}
.articles .inner-dropdown>.dropdown-content{
    padding-top: 8px;
    position: absolute;
    top:135px;
    left: 100%;
}
.articles .inner-dropdown:hover>.dropdown-content{
    display: block;
}
.articles .inner-dropdown>span::after{
    align-self: end;
    position:absolute;
    display: inline-block;
    content: "";
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #000000;
    right: 10px;
    bottom: 20px;
}
.articles .inner-dropdown:hover>span::after{
    border-left: 6px solid #D72130;
}

//////////////////////

.row {
    justify-content: center;
}

.top-dropdown {
    position: relative;
    display: inline-block;
}

.top-dropbutton {
    background: white;
    min-width: 10rem;
    border: 2px solid #D4D9E2;
}

.top-droplist {
    max-width: 10rem;
    display: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.top-dropdown:hover .top-droplist {
    display: block;
}

.top-dropdown:hover .top-droplist button {
    min-width: 10rem;
    border: none;
 }

.top-droplist button:hover {
    background: rgba(215, 33, 48, .1);
    color: #D72130;
}
.icon-cam{
    background: url("../img/icons/cam.svg");

}
#ArticleForm{
    font-family: "Open Sans", sans-serif;
}
#ArticleForm .font-size-medium{
    font-size: 12px;
}
#ArticleForm .font-size-small{
    font-size: 10px;
}
#ArticleForm .font-size-large{
    font-size: 14px;
}
#ArticleForm .font-weight-600{
    font-weight: 600;
}
#ArticleForm .color-light-gray{
    color: #C6CCD7;
}
#ArticleForm .color-gray{
    color: #7F8899;
}
#ArticleForm .color-dark-gray{
    color: #434C5D;
}

#ArticleForm .form-row{
    margin-bottom: 20px;
}
#ArticleForm .select-row>div:nth-child(2){
    padding-right: 13px;
    padding-left: 13px;
}
#ArticleForm .select-row>div:first-child{
    padding-right: 26px;
}
#ArticleForm .select-row>div:last-child{
    padding-left: 26px;
}
#ArticleForm textarea.form-control{
    padding: 21px;
    padding-top: 16px;
}
#ArticleForm .form-control.font-weight-600, #ArticleForm select.custom-select.font-weight-600>option{
    font-weight: 600;
}
#ArticleForm select.custom-select, #ArticleForm input.form-control {
    padding: 12px;
    padding-left: 21px;
    height: 42px;
    line-height: 16px;

}
#ArticleForm select,#ArticleForm input, #ArticleForm textarea {
    border-radius: 0px;
    box-shadow: none;
}
#ArticleForm select.custom-select>option{
    line-height: 20px;
}
/* Switch Begin*/
#ArticleForm .switch{
    position: relative;
    display: inline-block;
    width: 26px;
    height: 14px;
    top:5px;
}
#ArticleForm .switch>input {
    opacity: 0;
    width: 0;
    height: 0;
}
#ArticleForm .switch>.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    border: 1px solid #D4D9E2;
    -webkit-transition: .4s;
    transition: .4s;
}
#ArticleForm .switch>.slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 2px;
    bottom: 2px;
    background-color: slategray;
    -webkit-transition: .4s;
    transition: .4s;
}
#ArticleForm .switch>input:checked + .slider:before {
    -webkit-transform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
}
#ArticleForm .switch>input:checked + .slider.red:before{
    background-color: #C80515;
}
/* Rounded sliders */
#ArticleForm .switch>.slider.round {
    border-radius: 14px;
}
#ArticleForm .switch>.slider.round:before {
    border-radius: 50%;
}
/* Switch End */
/* quill begin */
#ArticleForm #editor .ql-editor{
    min-height: 250px;
}
#ArticleForm .ql-toolbar.ql-snow .ql-formats{
    border-right: 1px solid #ced4da;
    margin: 0px;
}
#ArticleForm .ql-toolbar.ql-snow button:first-child{
    margin-left: 23px;
}
#ArticleForm .ql-toolbar.ql-snow button{
    margin-right: 23px;
    padding: 0px;
}

#ArticleForm .form-row{
    align-items: flex-start;
}
#ArticleForm .ql-toolbar button svg{
    fill: #B2B2B2;
}
#ArticleForm .ql-toolbar button:hover svg{
    fill:#D72130;
}
/* quill end */
#DragNDrop-img{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    aspect-ratio: 813 / 450;
    width: 100%;
    background-color: #fafafa;
    font-size: 14px;
    border: 1px dashed #D1D1D1;
    margin-bottom: 25px;
}

#DragNDrop-img.uploaded .form-label{
    display: none;
}
#DragNDrop-img #test-image{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

}
#DragNDrop-img.edit #test-image{
    filter: blur(8px) brightness(0.85);
}
#DragNDrop-img.edit .form-label{
    z-index: 1;
}

#DragNDrop-img .relative-centered{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#DragNDrop-img .icon .icon-cam{
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 23px;
}
#DragNDrop-img .icon{
    width: 63px;
    height: 63px;
    background-color: #D72130;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#DragNDrop-img .description{
    color: #D72130;
    text-align: center;
}

.container a {
    text-decoration: none;
    cursor: pointer;
}

.row img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.font-sans {
    font-family: Open Sans;
    font-style: normal;
}

.article-card-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #2B2F43;
}

.article-card-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #7F7B7B;
}
.user {
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
}

    .user > .avatar {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
    }

        .user > .avatar > img {
            width: 100%;
        }

.menu-for-authorized {
    position: fixed;
    height: auto;
    width: 178px;
    box-shadow: 0px 0px 17px 7px rgb(0, 0, 9);
    top: 86px;
    z-index: 2;
    display: none;
}

.dropbtn {
    border: none;
    outline: none;
    background-color: white;
}

    .dropbtn:focus {
        outline: none;
    }

.dropdown {
    position: relative;
    display: flex;
    justify-content: flex-end;
}


.show {
    display: block;
}

.menu-for-authorized:after {
    position: absolute;
    left: 80%;
    top: -5px;
    width: 0;
    height: 0;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
}

.menu-for-authorized > .profile-info {
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    padding: 12px 0px 12px 25px;
    flex-direction: column;
}

.menu-for-authorized > ul {
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    margin-bottom: 0px;
}

.menu-for-authorized > .profile-info > .email {
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    color: #7F7B7B;
}

.menu-for-authorized > ul > li > form > button {
    height: 41px;
    width: 100%;
    padding: 0px 0px 0px 25px;
    border: none;
    background: white;
    text-align: start;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    outline: none;
}

.menu-for-authorized > ul > li > form > .log-out {
    border-top: 1px solid #EDEDED;
}

.menu-for-authorized > ul > li > form > button:hover {
    background: rgb(251, 231, 232);
    color: #D72130;
}

/* Comments section */
.comments-block {
    background: #f8f8f8;
    padding: 1em 1.5em;
}

.section-header {
    padding-bottom: 1em;
}

.comments-block textarea {
    font-size: 14px;
    padding-top: 1.5em;
    width: 100%;
    display: block;
    resize: none;
    border: none;
    outline: none;
    height: auto;
    overflow: hidden;
}

.comments-block textarea::placeholder {
    font-size: 14px;
    font-weight: normal;
}

.comments-block .counter {
    font-weight: bold;
}

.comments-block .sort-by {
    font-size: 14px;
    font-weight: bold;
    color: #D72130;
}

.comments-block .sort-by svg {
    position: relative;
    width: 14px;
    height: 14px;
    fill: #D72130;
    stroke: #D72130;
    stroke-width : 1px;
}

.comments-block .sort-by select {
    appearance: none;
    color: #D72130;
    font-weight: bold;
    background: #f8f8f8;
    border: 1px solid #f8f8f8;
    outline: none;
}

.white {
    background: #ffffff;
}

.border-gray {
    border: 1px solid #dfdfdf;
}

.text-input {
    border-bottom: 1px solid #dfdfdf;
}

.comments-block .small-avatar {
    padding: 1em 1em;
}

.small-avatar img{
    width: 34px;
    height: 34px;
  }

.a-comment p {
    word-wrap: break-word;
    height: auto;
    margin: 0;
    font-size: 14px;
}

.a-comment .author {
    font-size: 18px;
    font-weight: bold;
}

.a-comment .date {
    color: #aaaaaa;
    font-weight: bold;
}

.a-comment .text {
    padding: 0.5em 0em;
}

.edited {
    font-weight: normal;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

.line {
    margin: 0.5em 0em;
    height: 1px;
    border-top: 2px solid #dfdfdf;
}

#like, #dislike, #false-like, #false-dislike {
    padding-right: 1em;
    color: #aaaaaa;
}

#like-amount, #dislike-amount {
    padding-left: 0.25em;
}

#like svg, #dislike svg{
    width: 16px;
    height: 16px;
    fill: #aaaaaa;
}

.comments-block .button {
    border: none;
    outline: none;
}

#like.button, #dislike.button {
    background: white;
}

#show-more.button, #show-less.button {
    background: #f8f8f8;
}

.comments-block .comments-menu>* {
    background: white;
    color: #aaaaaa;
    font-size: 14px;
    padding-left: 2em;
    padding-right: 0em;
    border: none;
    outline: none;
}
.comments-block .comments-menu button:hover {
    color: #D72130;
}

@media (max-width: 450px) {
    #like, #dislike {
        padding-right: 0.5em;
    }
    .comments-block .comments-menu>* {
        padding-left: 1em;
    }
}

.disabled {
    display: none!important;
}

#show-more, #show-less {
    padding-top: 1em;
    font-size: 12px;
    color: #acacac;
}

#show-more .flex-break, #show-less .flex-break {
    margin-bottom: -7px;
}

#show-more svg, #show-less svg {
    width: 12px;
    height: 12px;
    fill: #acacac;
}

.pop-up-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    opacity: 1;
    z-index: 1000;
}

.login-pop-up, .delete-pop-up {
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
    background: #fff;
    width: 450px;
    position: relative;
    transition: all 5s ease-in-out;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
}

.delete-pop-up {
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 40vh;
}

.pop-up-close {
    border-radius: 5px;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #D72130;
}

.pop-up-close:hover {
    cursor : pointer;
    color: #000000;
}

.for-delete .header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.for-delete p {
    text-align: center;
    margin-bottom: 0px;
    font-weight: 500;
}

.for-delete input[type = "submit"], .for-delete input[type = "button"] {
    margin-top: 35px;
    padding: 5px;
    width: 100px;
    font-weight: bold;
    background: #ffffff;
    font-size: 14px;
}

.for-delete input[type = "button"] {
    border: none;
}

    .for-delete input[type = "button"]:hover {
        box-shadow: 0px 0px 25px 5px rgba(172, 172, 172, 0.5);
    }

.for-delete #delete-success {
    color: white;
    background: #D72130;
    font-weight: normal;
}

.for-delete #false-delete {
    color: #D72130;
    background: white;
    margin-right: 10px;
}

.for-delete .delete-trashbox {
    margin-top: -70px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50px;
    background: #D72130;
    display: flex;
    align-items: center;
    justify-content: center;
}

.for-delete .delete-trashbox svg {
    fill: white;
    height: 50px;
    width: 50px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* icons */
i[class^="icon"]{
    display: inline-block;
    width: 22px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
i.icon-facebook{
    background-image: url("../icons/facebook.svg");
}
i.icon-googleplus{
    background-image: url("../icons/googleplus.svg");
}
i.icon-twitter{
    background-image: url("../icons/twitter.svg");
}
i.icon-loupe{
    background-image: url("../icons/loupe.svg");
}

/* borders */
.right-btm-border.gray-border,
.top-border.gray-border
{
    border-color:#EDEDED;
}
.right-btm-border.darkgray-border,
.top-border.darkgray-border
{
    border-color: #D8D8D8;
}
.right-btm-border{
    border-top:0px;
    border-left: 0px;
    border-right: 1px;
    border-bottom: 1px;
    border-style: solid;
}
.top-border{
    border: 0px;
    border-top: 1px;
    border-style: solid;
}

/* base classes */
.bg-red{
    background-color: #D72130;
}
.border-red{
    border: 1px solid #D72130!important;
}
.flex{
    display: flex;
}
.flex.horizontal-center{
    justify-content: center;
}
.flex.vertical-center{
    align-items: center;
}
.flex.space-evenly{
    justify-content: space-evenly;
}

header{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    height: 83px;
    width: 100%;

}
header>[class^="container"]{
    height: 100%;
}
header>[class^="container"]>.row{
    height: 100%;
}
header>[class^="container"]>.row>a{
    margin: 0px;
    padding:0px;
}

header .logo{
    text-align: center;
    min-width: 253px;
    max-width: 253px;
    padding-top: 26px;
    height: 100%;
}
header .logo span{
    color: #FFFBFB;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
header .searchbar{
    padding: 0px;
}
header .searchbar input{
    padding-left: 60px;
    width: 100%;
    height: 100%;
    border: none;
}
header .searchbar i{
    position: absolute;
    top: 32px;
    left: 25px;
}
header .searchbar input:focus{
    outline: none;
}
header .sharebar>div{
    display: flex;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-around;
    align-items: center;
}
header .sharebar>div>*{
    cursor: pointer;
}
header .sharebar>span,i{
    color:#7F8899;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

}
header .sign-up,.log-in{
    display: flex;
    color: #D72130;
    font-size: 12px;
    line-height: 17px;
    align-items: center;
    justify-content: center;
    width: 107px;
    height: 32px;
    background: transparent;
    border: none;
}

    .log-in:hover {
        background: #D72130;
        color: white;
    }

header .container-fluid .btn-secondary.dropdown-toggle,
header .container-fluid .btn-secondary.dropdown-toggle:hover,
header .container-fluid .btn-secondary.dropdown-toggle:active,
header .container-fluid .btn-secondary.dropdown-toggle:focus,
header .container-fluid .btn-secondary.dropdown-toggle:focus:active {
        font-size: 12px;
        color: black;
        background: rgba(0,0,0,0);
        box-shadow: none;
        border: none;
    }

.bottom-nav {
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
}
.bottom-nav .col{
    max-width: 295px;
}
.bottom-nav .title{
    margin-bottom: 29px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}
.bottom-nav a{
    color: #7F7B7B;
    font-size: 12px;
}
.bottom-nav form{
    width: 284px;
    font-size: 14px;
}

.bottom-nav form input{

    border-color: #ced4da;
    font-size: 14px;
    border-radius: 0px;
    box-shadow: none;
}
.bottom-nav form input:hover{
    border-color: #ced4da;
    font-size: 14px;
    border-radius: 0px;
    box-shadow: none;
}
.bottom-nav form input:focus{
    border-color: #ced4da;
    font-size: 14px;
    border-radius: 0px;
    box-shadow: none;
}
.bottom-nav form input:active{
    border-color: #ced4da;
    font-size: 14px;
    border-radius: 0px;
    box-shadow: none;
}
.bottom-nav form button.btn-outline-secondary,
.bottom-nav form button.btn-outline-secondary:hover,
.bottom-nav form button.btn-outline-secondary:focus,
.bottom-nav form button.btn-outline-secondary:not(.disabled):not(:disabled):active,
.bottom-nav form button.btn-outline-secondary:active:focus
{
        width: 96px;
        border: 0px;
        border-radius: 0px;
        box-shadow: none;
        font-size: 14px;
        color: #FFFBFB;
        background-color: #D72130;
    }


footer{

    font-family: 'Open Sans', sans-serif;
    height: 80px;
    width: 100%;
}
footer a,a:hover,a:active{
    text-decoration: none;
}
footer>div{
    padding-left: 64px;
    padding-right: 56px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer span.footer-title{
    color: #FFFBFB;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
footer span.footer-copyright{
    color: #FFFBFB;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    font-size: 12px;
    line-height: 16px;
}
footer span.footer-copyright p{
    color: #FFFBFB;
    margin-bottom: 5px;
}


.sidebar {
background-color: white;
color: #B2B2B2;
position: absolute;
width: 150px;
height: 700px;
left: 50px;
top: 100px;
transition: .8s;
}
.sidebar.active {
    left: 50px;
}
.left-menu-icon {
    display: block;
    position: absolute;
    left: 45px;
    top: 32px;
    height: 20px;
    width: 20px;
    visibility:hidden;
}
.left-menu-icon i {
    color: #FFFBFB;
}
.menu {
    height: 490px;
    width: 150px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    direction: rtl;
    z-index: -1;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-y: auto;
}
.menu a {
    color: #B2B2B2;
    direction: ltr;
}
.menu a:hover {
    color: #1a1e21;
}
.menu img {
    visibility: hidden;
    margin-right: 4px;
}
.menu a.active {
    color: #C63638;
}
.menu a.active img {
    visibility: visible;
}
.menu a.active:hover {
    color: #C63638;
}
.menu::-webkit-scrollbar {
    width: 4px;
}
.menu::-webkit-scrollbar-track {
    border-radius: 100px;
}
.menu::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #B2B2B2;
}
.menu::-webkit-scrollbar-thumb:hover {
    background-color: #1a1e21;
}
.follow {
    font-family: "Roboto";
    font-style: normal;
    margin-left: 10%;
    margin-top: 50px;
    width: 70%;
}
.follow .text {
    margin-bottom: 5px;
}
.follow .col-6 {
    cursor: pointer;
}
@media screen and (max-width: 1480px) {
    .sidebar {
        left: -200px;
    }
    .left-menu-icon {
        visibility: visible;
    }
}
/*# sourceMappingURL=left-side-nav-bar.css.map */
.no-padding {
    padding: 0px 0px 0px 0px;
}

.no-margin {
    margin: 0px 0px 0px 0px;
}

.input-field {
    width: 390px;
    height: 42px;
    padding-left: 15px;
    border: 1px solid #D4D9E2;
}

.input-field-names {
    width: 178px;
    height: 42px;
    padding-left: 15px;
    border: 1px solid #D4D9E2;
}

.input-validation-error {
    border: 1px solid #D72130;
}

.text-font-weight {
    font-weight: 600;
}

.left-corner-box-text {
    line-height: 28px;
    font-size: 22px;
    margin-bottom: 5px;
}

.height-by-view-100 {
    height: 100vh;
}

.height-by-percent-100 {
    height: 100%;
}

.top-panel {
    height: 83px;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.log-in-via-fb-google-button {
    background: white;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border-color: black;
    border-width: 1px;
    outline: 0px solid black;
    font-weight: 700;
    padding-top: 3px;
}

    .log-in-via-fb-google-button:focus {
        outline: none;
    }

    .log-in-via-fb-google-button:hover {
        background: black;
        color: white;
    }

.log-in-label-text {
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 0.8999999761581421px;
    text-align: left;
    color: #434C5D;
}

.padding-left-offset-34 {
    padding: 0px 0px 0px 34px;
}

.padding-left-offset-44 {
    padding-left: 44px;
}

.margin-top-offset-12 {
    margin-top: 12px;
}

.log-in-label-text-error {
    color: #D72130;
}

.log-in-label-text-reset-password {
    color: #57A902;
}

.log-in-label-text-top {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    color: #434C5D;
    margin-right: 35px;
}

.margin-top-offset-20 {
    margin-top: 20px;
}

.margin-top-offset-8 {
    margin-top: 8px;
}

.margin-right-offset-13 {
    margin-right: 13px;
}

.margin-top-offset-34 {
    margin-top: 34px;
}

.log-in-button {
    background: #D72130;
    width: 390px;
    height: 42px;
    border: none;
    color: white;
}

.log-in-button-text {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.800000011920929px;
}

.log-in-forgot-password {
    text-decoration: none;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: right;
}

.get-started-button {
    height: 32px;
    width: 130px;
    border: 1px solid #D72130;
    background-color: white;
    margin-right: 56px;
    color: #D72130;
    cursor: pointer;
}

.get-started-button-text {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;
    color: #D72130;
    padding: .4rem 1rem;
}

.get-started-button:hover {
    background-color: #D72130;
    color: white;
    text-decoration: none;
}


.register-success-text-1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0px;
    padding-top: 35px;
}

.register-success-text-2 {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0px;
    color: #596377;
    width: 40%;
    text-align: center;
    padding-top: 10px;
}

.email-text-3 {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    color: #D72130;
}

.forgot-password-back-to-log-in {
    color: black;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0px;
    padding-top: 12px;
}

.forgot-password-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0px;
    color: #596377;
    padding-top: 8px;
}

#log-in-text {
    line-height: 33px;
    font-size: 24px;
    margin-bottom: 5px;
}

#left-corner-box {
    width: 243px;
    height: 84px;
    background: #D72130;
    position: fixed;
    color: #FFFBFB;
    cursor: pointer;
    z-index: 2;
    text-decoration: none;
}

::placeholder {
    color: #C6CCD7;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0px;
}

/* More articles block 
-------------------------------------------------- */
.btn-articles-list {
    width: 180px;
    height: 42px;
    border: 2px solid #B2B2B2;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 21px;
    font-weight: bold;
    z-index: 1000;
  }

.btn-articles-list:focus {
    outline: none !important;
}

.btn-articles-list:hover {
    box-shadow: 0px 0px 25px 3px rgba(172, 172, 172, 0.5);
}

.more-articles .line {
    margin-top: -21px;
    height: 1px;
    background: #D8D8D8;
    border: 1px solid #B2B2B2;
    z-index: 999;
    margin-bottom: 61px;
}
  
  .container.more-articles {
    margin-top: 1em;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
  }

  .more-articles .article-container {
    display: flex;
    border: 1px solid #EDEDED;
    height: 105px;
  }
  
  .more-articles .article-container a {
    width: 100%;
    height: auto;
  }
  
  .more-articles p {
    padding: 0.5em 0.5em;
    margin: 0px;
  }

  .more-articles a {
    text-decoration: none;
    padding: 0px;
    display:flex;
  }

  .more-articles a:hover {
    box-shadow: 0px 0px 5px 0px #B2B2B2;
  }
  
  .more-articles .small-article-img {
    width: 35%;
    height: auto;
  }

  .more-articles .title {
    font-weight: bold;
    font-size: 16px;
    color: #2B2F43;
  }

  .more-articles .info {
    font-size: 14px;
    color: #7F7B7B;
  }
  
.notification-box {
    padding:15px;
    position: fixed;
    top: 83px;
    right: 30px;
    background-color: white;
    box-shadow: 0px 0px 6px 1px rgba(26, 27, 42, 0.4);
    display: flex;
    align-items:center;
    justify-content:space-between;
    height: 80px;
    z-index:75;
}
.notification-box img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.notification-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}
.notification-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
}
.notification-actions {
    margin-left: 20px;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.retry {
    color: darkred;
    font-size: x-small;
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
}
.retry img {
    margin-left:3px;
    position: relative;
    bottom: -3px;
    width:10px;
    height:10px;
}
.retry:hover {
    cursor:pointer;
}
.dismiss-notification-cross {
    display: flex;
    justify-content: flex-end;
}
.dismiss-notification-cross img {
    width: 10px;
    height: 10px;
    margin-right:0;
}
.dismiss-notification-cross img:hover {
    cursor:pointer;
}
@font-face {
    font-family: "Roboto";
    src: url("~/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("~/fonts/OpenSans-Regular.ttf");
}

#personal-page-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 55%;
    margin-top: 90px;
}

.personal-page-menu {
    border: 1px solid #EDEDED;
    text-align: center;
    padding: 5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.personal-page-nav {
    display: block;
    outline: inherit;
    text-decoration: none;
    color: inherit;
}

.personal-page-nav:hover {
    display: block;
    outline: inherit;
    text-decoration: none;
    color: inherit;
}

.personal-page-nav:visited {
    display: block;
    outline: inherit;
    text-decoration: none;
    color: inherit;
}

.personal-page-menu:hover {
    cursor: pointer;
    color: #D72130;
}

.text-above-input {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #434C5D;
}
.hidden-element{
    visibility: hidden;
}
.personal-page-menu-active {
    box-shadow: 0px 0px 10px 2px rgba(127, 99, 99, 0.15);
    color: #D72130;
}
.password-input-form {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    border: 1px solid #D4D9E2;
    border-radius: 0px;
    background-color: #fff;
    background-clip: padding-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#input-fields {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#input-fields-container {
    width: 56%;
}
#update-profile-button {
    margin-top: 40px;
    background: #D72130;
    border-radius: 0px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    height: 38px;
    align-items: center;
}

#update-profile-button:hover {
    cursor: pointer;
}


input[type="password"]:not(:placeholder-shown) {
    font: large Roboto;
    font-size: 18px;
    letter-spacing: 3px;
    /*font-weight:900;*/
}



.password {
    position: relative;
}

.password-control {
    position: sticky;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/view.svg) 0 0 no-repeat;
}

.log-in-button {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    background: inherit;
}

.log-in-button-text {

    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.800000011920929px;
}
.password-control.view {
    background: url(../img/no-view.svg) 0 0 no-repeat;
}
.password-control-label-text {
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 0.8999999761581421px;
    text-align: left;
    color: #434C5D;
}
.password-control-text-error {
    color: #D72130;
}

.no-margin{
    margin: 0px 0px 0px 0px;
}

.margin-top-offset-8{
    margin-top: 8px;
}

::placeholder {
    color: #d3d9e4;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0px;
}

#personal-page-container .password-input-form:focus {
    border: 2px solid;
    border-radius: 5px;
    border-color: black;
    box-shadow: none;
}
.input-ok {
    border: 1px solid #56BD5B;
}

.input-fail {
    border: 1px solid #E1464E;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}


#personal-page-container
{
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    margin-top: 90px;
    margin-bottom: 250px
}
.personal-page-menu
{
    border: 1px solid #EDEDED;
    text-align: center;
    padding: 5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}
.personal-page-menu:hover
{
    cursor: pointer;
    color: #D72130;
}
.personal-page-menu-active
{
    box-shadow: 0px 0px 10px 2px rgba(127, 99, 99, 0.15);
    color: #D72130;
}
#personal-page-avatar-container
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    width: 100%;
}
#image-cropper {
    position: absolute;
    width: 120px;
    height: 120px;
    overflow: hidden;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
#personal-page-avatar {
    float: left;
    width: 120px;
    height: 120px;
    object-fit: cover;
}
#avatar-upload
{
    opacity: 0%;
    position: absolute;
    z-index: -1;
}
#avatar-upload-label
{
    position: relative;
    left: 40px;
    top: 80px;
    z-index: 2;
}
#avatar-upload-label:hover
{
    cursor: pointer;
}
#input-fields {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}
#input-fields-container
{
    width: 56%;
}
.text-above-input
{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #434C5D;
}
.personal-page-input-form
{
    border: 1px solid #D4D9E2;
    border-radius: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
#update-profile-button {
    margin-top: 40px;
    background: #D72130;
    border-radius: 0px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    height: 38px;
    align-items: center;
}
.hidden-element {
    visibility:hidden;
}
#update-profile-button:hover {
    cursor: pointer;
    background: #E02232;
}
#update-profile-button:active {
    background: #C80515;
}
#personal-page-container .form-control:hover {
    border: 1px solid #A6A9AF;
}
#personal-page-container .form-control:focus {
    border: 1px solid #7F8899;
    box-shadow: none;
}
.input-ok {
    border: 1px solid #56BD5B;
}
.input-fail {
    border: 1px solid #E1464E;
}


.pop-up {
    position:absolute;
    left:50%;
    top:32%;
    width: 500px;
}
.pop-up-box {
    z-index: 50;
    position: relative;
    left: -50%;
    background-color: white;
    box-shadow: 0px 0px 6px 1px rgba(26, 27, 42, 0.4);
    width: 100%;
    padding-bottom: 15px;
}
.pop-up-image-centerer {
    display: flex;
    width: 100%;
    justify-content: center;
}
.pop-up-image-cropper {
    width: 70px;
    height: 70px;
    position: relative;
    transform: translate(0%, -50%);
    overflow: hidden;
    border-radius: 50%;
    background-color: #D72130;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-cropper img {
    transform: translate(7%, -7%);
}
.error-name {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 25px;
}
.error-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}
.pop-up-bold {
    font-weight: bold;
    padding-bottom: 25px;
}
.horizontal-line {
    width: 100%;
    height: 1px;
    background-color: #F4F5F8;
    margin-bottom: 15px;
}
.red-button-wrapper {
    display: flex;
    justify-content: flex-end;
}
.red-button {
    background-color: #D72130;
    color: #FFFFFF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    width: 120px;
    margin-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.red-button:hover {
    cursor: pointer;
    background: #E02232;
}
.red-button:active {
    background: #C80515;
}
.background {
    position: fixed;
    z-index:45;
    left: 0%;
    top: 0px;
    background-color: rgba(34, 34, 34, 0.20);
    width:100%;
    height:100%;
}
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px; 
}
.footer {
  position: absolute;
  bottom: -130px;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/* selectors-id */

#arrow {
    border-top: 2px solid #D72130;
    border-right: 2px solid #D72130;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    transform: rotate(45deg);
    width: 10px;
}

#article {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
}

#card {
    background-color: #F6F6F6;
    border-radius: 0;
    left: 80%;
    padding: 24px 32px;
    position: absolute;
    top: 200px;
    width: 40%;
}

#img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* selectors-classes */

.link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.path {
    font-size: 12px;
    line-height: 17px;
}

/* side-text */

.side-title {
    color: rgba(204, 211, 224, 0.3);
    font-family: Roboto Condensed, sans-serif;
    font-size: 7vw;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1.25px;
    line-height: 192px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
}

.dealbook {
    top: 10%;
    left: 25%;
}

.news {
    left: 85%;
    top: 50%;
}

/* card-block */

.card-date {
    font-size: 14px;
    line-height: 16px;
}

.card-title {
    font-size: 16px;
    line-height: 22px;
}

.card-text {
    font-size: 22px;
    line-height: 30px;
}

.card-share {
    font-size: 14px;
    line-height: 100%;
}

.share {
    padding: 0;
}

/* fonts */

.font-roboto {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.font-opensans {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
}

/* colors */

.gray-path {
    color: #B2B2B2;
}

.gray-card {
    color: #F6F6F6;
}

.gray {
    color: #7F7B7B;
}

.red-path {
    color: #D72130;
}

.red-title {
    color: #C63638;
}

.black-text {
    color: #000000;
}

.black-card-text {
    color: #2B2F43;
}