/* Comments section */
.comments-block {
    background: #f8f8f8;
    padding: 1em 1.5em;
}

.section-header {
    padding-bottom: 1em;
}

.comments-block textarea {
    font-size: 14px;
    padding-top: 1.5em;
    width: 100%;
    display: block;
    resize: none;
    border: none;
    outline: none;
    height: auto;
    overflow: hidden;
}

.comments-block textarea::placeholder {
    font-size: 14px;
    font-weight: normal;
}

.comments-block .counter {
    font-weight: bold;
}

.comments-block .sort-by {
    font-size: 14px;
    font-weight: bold;
    color: #D72130;
}

.comments-block .sort-by svg {
    position: relative;
    width: 14px;
    height: 14px;
    fill: #D72130;
    stroke: #D72130;
    stroke-width : 1px;
}

.comments-block .sort-by select {
    appearance: none;
    color: #D72130;
    font-weight: bold;
    background: #f8f8f8;
    border: 1px solid #f8f8f8;
    outline: none;
}

.white {
    background: #ffffff;
}

.border-gray {
    border: 1px solid #dfdfdf;
}

.text-input {
    border-bottom: 1px solid #dfdfdf;
}

.comments-block .small-avatar {
    padding: 1em 1em;
}

.small-avatar img{
    width: 34px;
    height: 34px;
  }

.a-comment p {
    word-wrap: break-word;
    height: auto;
    margin: 0;
    font-size: 14px;
}

.a-comment .author {
    font-size: 18px;
    font-weight: bold;
}

.a-comment .date {
    color: #aaaaaa;
    font-weight: bold;
}

.a-comment .text {
    padding: 0.5em 0em;
}

.edited {
    font-weight: normal;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

.line {
    margin: 0.5em 0em;
    height: 1px;
    border-top: 2px solid #dfdfdf;
}

#like, #dislike, #false-like, #false-dislike {
    padding-right: 1em;
    color: #aaaaaa;
}

#like-amount, #dislike-amount {
    padding-left: 0.25em;
}

#like svg, #dislike svg{
    width: 16px;
    height: 16px;
    fill: #aaaaaa;
}

.comments-block .button {
    border: none;
    outline: none;
}

#like.button, #dislike.button {
    background: white;
}

#show-more.button, #show-less.button {
    background: #f8f8f8;
}

.comments-block .comments-menu>* {
    background: white;
    color: #aaaaaa;
    font-size: 14px;
    padding-left: 2em;
    padding-right: 0em;
    border: none;
    outline: none;
}
.comments-block .comments-menu button:hover {
    color: #D72130;
}

@media (max-width: 450px) {
    #like, #dislike {
        padding-right: 0.5em;
    }
    .comments-block .comments-menu>* {
        padding-left: 1em;
    }
}

.disabled {
    display: none!important;
}

#show-more, #show-less {
    padding-top: 1em;
    font-size: 12px;
    color: #acacac;
}

#show-more .flex-break, #show-less .flex-break {
    margin-bottom: -7px;
}

#show-more svg, #show-less svg {
    width: 12px;
    height: 12px;
    fill: #acacac;
}

.pop-up-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    opacity: 1;
    z-index: 1000;
}

.login-pop-up, .delete-pop-up {
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
    background: #fff;
    width: 450px;
    position: relative;
    transition: all 5s ease-in-out;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
}

.delete-pop-up {
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 40vh;
}

.pop-up-close {
    border-radius: 5px;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #D72130;
}

.pop-up-close:hover {
    cursor : pointer;
    color: #000000;
}

.for-delete .header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.for-delete p {
    text-align: center;
    margin-bottom: 0px;
    font-weight: 500;
}

.for-delete input[type = "submit"], .for-delete input[type = "button"] {
    margin-top: 35px;
    padding: 5px;
    width: 100px;
    font-weight: bold;
    background: #ffffff;
    font-size: 14px;
}

.for-delete input[type = "button"] {
    border: none;
}

    .for-delete input[type = "button"]:hover {
        box-shadow: 0px 0px 25px 5px rgba(172, 172, 172, 0.5);
    }

.for-delete #delete-success {
    color: white;
    background: #D72130;
    font-weight: normal;
}

.for-delete #false-delete {
    color: #D72130;
    background: white;
    margin-right: 10px;
}

.for-delete .delete-trashbox {
    margin-top: -70px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50px;
    background: #D72130;
    display: flex;
    align-items: center;
    justify-content: center;
}

.for-delete .delete-trashbox svg {
    fill: white;
    height: 50px;
    width: 50px;
}