﻿.visible-element {
    visibility: visible;
}

.hidden-element {
    visibility: hidden;
}

.zero-height {
    height: 0px !important;
}

.no-border {
    border: none;
    border-radius: 0px;
}

.no-padding {
    padding: 0px;
}

.entire-row {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.clickable:hover {
    cursor: pointer;
}

.inline {
    display: inline;
}