﻿/* General inputs and buttons styles */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

.text-above-input-fields {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: #434C5D;
}

.input-border {
    border: 1px solid #D4D9E2;
    border-radius: 0px;
}

.input-border:hover {
    border: 1px solid #A6A9AF;
}

.input-border:focus {
    border: 1px solid #7F8899;
    box-shadow: none;
}

.input-font {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.input-border-ok {
    border: 1px solid #56BD5B;
}

.input-border-fail {
    border: 1px solid #E1464E;
}

.red-button {
    color: white;
    background-color: #D72130;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.red-button:hover {
    background-color: #E02232;
}

.red-button:active {
    background-color: #C80515;
}

.invalid-button-red {
    background-color: #f7d3d6 !important;
}

.invalid-button-transparent {
    color: #f7d3d6 !important;
}

.invalid-button-red:hover, .invalid-button-transparent:hover {
    cursor: default !important;
}