@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* icons */
i[class^="icon"]{
    display: inline-block;
    width: 22px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
i.icon-facebook{
    background-image: url("../icons/facebook.svg");
}
i.icon-googleplus{
    background-image: url("../icons/googleplus.svg");
}
i.icon-twitter{
    background-image: url("../icons/twitter.svg");
}
i.icon-loupe{
    background-image: url("../icons/loupe.svg");
}

/* borders */
.right-btm-border.gray-border,
.top-border.gray-border
{
    border-color:#EDEDED;
}
.right-btm-border.darkgray-border,
.top-border.darkgray-border
{
    border-color: #D8D8D8;
}
.right-btm-border{
    border-top:0px;
    border-left: 0px;
    border-right: 1px;
    border-bottom: 1px;
    border-style: solid;
}
.top-border{
    border: 0px;
    border-top: 1px;
    border-style: solid;
}

/* base classes */
.bg-red{
    background-color: #D72130;
}
.border-red{
    border: 1px solid #D72130!important;
}
.flex{
    display: flex;
}
.flex.horizontal-center{
    justify-content: center;
}
.flex.vertical-center{
    align-items: center;
}
.flex.space-evenly{
    justify-content: space-evenly;
}

header{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    height: 83px;
    width: 100%;

}
header>[class^="container"]{
    height: 100%;
}
header>[class^="container"]>.row{
    height: 100%;
}
header>[class^="container"]>.row>a{
    margin: 0px;
    padding:0px;
}

header .logo{
    text-align: center;
    min-width: 253px;
    max-width: 253px;
    padding-top: 26px;
    height: 100%;
}
header .logo span{
    color: #FFFBFB;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
header .searchbar{
    padding: 0px;
}
header .searchbar input{
    padding-left: 60px;
    width: 100%;
    height: 100%;
    border: none;
}
header .searchbar i{
    position: absolute;
    top: 32px;
    left: 25px;
}
header .searchbar input:focus{
    outline: none;
}
header .sharebar>div{
    display: flex;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-around;
    align-items: center;
}
header .sharebar>div>*{
    cursor: pointer;
}
header .sharebar>span,i{
    color:#7F8899;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

}
header .sign-up,.log-in{
    display: flex;
    color: #D72130;
    font-size: 12px;
    line-height: 17px;
    align-items: center;
    justify-content: center;
    width: 107px;
    height: 32px;
    background: transparent;
    border: none;
}

    .log-in:hover {
        background: #D72130;
        color: white;
    }

header .container-fluid .btn-secondary.dropdown-toggle,
header .container-fluid .btn-secondary.dropdown-toggle:hover,
header .container-fluid .btn-secondary.dropdown-toggle:active,
header .container-fluid .btn-secondary.dropdown-toggle:focus,
header .container-fluid .btn-secondary.dropdown-toggle:focus:active {
        font-size: 12px;
        color: black;
        background: rgba(0,0,0,0);
        box-shadow: none;
        border: none;
    }

.bottom-nav {
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
}
.bottom-nav .col{
    max-width: 295px;
}
.bottom-nav .title{
    margin-bottom: 29px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}
.bottom-nav a{
    color: #7F7B7B;
    font-size: 12px;
}
.bottom-nav form{
    width: 284px;
    font-size: 14px;
}

.bottom-nav form input{

    border-color: #ced4da;
    font-size: 14px;
    border-radius: 0px;
    box-shadow: none;
}
.bottom-nav form input:hover{
    border-color: #ced4da;
    font-size: 14px;
    border-radius: 0px;
    box-shadow: none;
}
.bottom-nav form input:focus{
    border-color: #ced4da;
    font-size: 14px;
    border-radius: 0px;
    box-shadow: none;
}
.bottom-nav form input:active{
    border-color: #ced4da;
    font-size: 14px;
    border-radius: 0px;
    box-shadow: none;
}
.bottom-nav form button.btn-outline-secondary,
.bottom-nav form button.btn-outline-secondary:hover,
.bottom-nav form button.btn-outline-secondary:focus,
.bottom-nav form button.btn-outline-secondary:not(.disabled):not(:disabled):active,
.bottom-nav form button.btn-outline-secondary:active:focus
{
        width: 96px;
        border: 0px;
        border-radius: 0px;
        box-shadow: none;
        font-size: 14px;
        color: #FFFBFB;
        background-color: #D72130;
    }


footer{

    font-family: 'Open Sans', sans-serif;
    height: 80px;
    width: 100%;
}
footer a,a:hover,a:active{
    text-decoration: none;
}
footer>div{
    padding-left: 64px;
    padding-right: 56px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer span.footer-title{
    color: #FFFBFB;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
footer span.footer-copyright{
    color: #FFFBFB;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    font-size: 12px;
    line-height: 16px;
}
footer span.footer-copyright p{
    color: #FFFBFB;
    margin-bottom: 5px;
}

