.sidebar {
    background-color: white;
    color: #B2B2B2;
    position: absolute;
    width: 150px;
    height: 700px;
    left: 50px;
    top: 100px;
    transition: .8s;
}
.sidebar.active {
    left: 50px;
}
.left-menu-icon {
    display: block;
    position: absolute;
    left: 45px;
    top: 32px;
    height: 20px;
    width: 20px;
    visibility:hidden;
}
.left-menu-icon i {
    color: #FFFBFB;
}
.menu {
    height: 490px;
    width: 150px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    direction: rtl;
    z-index: -1;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-y: auto;
}
.menu a {
    color: #B2B2B2;
    direction: ltr;
}
.menu a:hover {
    color: #1a1e21;
}
.menu img {
    visibility: hidden;
    margin-right: 4px;
}
.menu a.active {
    color: #C63638;
}
.menu a.active img {
    visibility: visible;
}
.menu a.active:hover {
    color: #C63638;
}
.menu::-webkit-scrollbar {
    width: 4px;
}
.menu::-webkit-scrollbar-track {
    border-radius: 100px;
}
.menu::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #B2B2B2;
}
.menu::-webkit-scrollbar-thumb:hover {
    background-color: #1a1e21;
}
.follow {
    font-family: "Roboto";
    font-style: normal;
    margin-left: 10%;
    margin-top: 50px;
    width: 70%;
}
.follow .text {
    margin-bottom: 5px;
}
.follow .col-6 {
    cursor: pointer;
}
@media screen and (max-width: 1480px) {
    .sidebar {
        left: -200px;
    }
    .left-menu-icon {
        visibility: visible;
    }
}
/*# sourceMappingURL=left-side-nav-bar.css.map */