﻿.no-padding {
    padding: 0px 0px 0px 0px;
}

.no-margin {
    margin: 0px 0px 0px 0px;
}

.input-field {
    width: 390px;
    height: 42px;
    padding-left: 15px;
    border: 1px solid #D4D9E2;
}

.input-field-names {
    width: 178px;
    height: 42px;
    padding-left: 15px;
    border: 1px solid #D4D9E2;
}

.input-validation-error {
    border: 1px solid #D72130;
}

.text-font-weight {
    font-weight: 600;
}

.left-corner-box-text {
    line-height: 28px;
    font-size: 22px;
    margin-bottom: 5px;
}

.height-by-view-100 {
    height: 100vh;
}

.height-by-percent-100 {
    height: 100%;
}

.top-panel {
    height: 83px;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.log-in-via-fb-google-button {
    background: white;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border-color: black;
    border-width: 1px;
    outline: 0px solid black;
    font-weight: 700;
    padding-top: 3px;
}

    .log-in-via-fb-google-button:focus {
        outline: none;
    }

    .log-in-via-fb-google-button:hover {
        background: black;
        color: white;
    }

.log-in-label-text {
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 0.8999999761581421px;
    text-align: left;
    color: #434C5D;
}

.padding-left-offset-34 {
    padding: 0px 0px 0px 34px;
}

.padding-left-offset-44 {
    padding-left: 44px;
}

.margin-top-offset-12 {
    margin-top: 12px;
}

.log-in-label-text-error {
    color: #D72130;
}

.log-in-label-text-reset-password {
    color: #57A902;
}

.log-in-label-text-top {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    color: #434C5D;
    margin-right: 35px;
}

.margin-top-offset-20 {
    margin-top: 20px;
}

.margin-top-offset-8 {
    margin-top: 8px;
}

.margin-right-offset-13 {
    margin-right: 13px;
}

.margin-top-offset-34 {
    margin-top: 34px;
}

.log-in-button {
    background: #D72130;
    width: 390px;
    height: 42px;
    border: none;
    color: white;
}

.log-in-button-text {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.800000011920929px;
}

.log-in-forgot-password {
    text-decoration: none;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: right;
}

.get-started-button {
    height: 32px;
    width: 130px;
    border: 1px solid #D72130;
    background-color: white;
    margin-right: 56px;
    color: #D72130;
    cursor: pointer;
}

.get-started-button-text {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;
    color: #D72130;
    padding: .4rem 1rem;
}

.get-started-button:hover {
    background-color: #D72130;
    color: white;
    text-decoration: none;
}


.register-success-text-1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0px;
    padding-top: 35px;
}

.register-success-text-2 {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0px;
    color: #596377;
    width: 40%;
    text-align: center;
    padding-top: 10px;
}

.email-text-3 {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    color: #D72130;
}

.forgot-password-back-to-log-in {
    color: black;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0px;
    padding-top: 12px;
}

.forgot-password-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0px;
    color: #596377;
    padding-top: 8px;
}

#log-in-text {
    line-height: 33px;
    font-size: 24px;
    margin-bottom: 5px;
}

#left-corner-box {
    width: 243px;
    height: 84px;
    background: #D72130;
    position: fixed;
    color: #FFFBFB;
    cursor: pointer;
    z-index: 2;
    text-decoration: none;
}

::placeholder {
    color: #C6CCD7;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0px;
}
