/* More articles block 
-------------------------------------------------- */
.btn-articles-list {
    width: 180px;
    height: 42px;
    border: 2px solid #B2B2B2;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 21px;
    font-weight: bold;
    z-index: 1000;
  }

.btn-articles-list:focus {
    outline: none !important;
}

.btn-articles-list:hover {
    box-shadow: 0px 0px 25px 3px rgba(172, 172, 172, 0.5);
}

.more-articles .line {
    margin-top: -21px;
    height: 1px;
    background: #D8D8D8;
    border: 1px solid #B2B2B2;
    z-index: 999;
    margin-bottom: 61px;
}
  
  .container.more-articles {
    margin-top: 1em;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
  }

  .more-articles .article-container {
    display: flex;
    border: 1px solid #EDEDED;
    height: 105px;
  }
  
  .more-articles .article-container a {
    width: 100%;
    height: auto;
  }
  
  .more-articles p {
    padding: 0.5em 0.5em;
    margin: 0px;
  }

  .more-articles a {
    text-decoration: none;
    padding: 0px;
    display:flex;
  }

  .more-articles a:hover {
    box-shadow: 0px 0px 5px 0px #B2B2B2;
  }
  
  .more-articles .small-article-img {
    width: 35%;
    height: auto;
  }

  .more-articles .title {
    font-weight: bold;
    font-size: 16px;
    color: #2B2F43;
  }

  .more-articles .info {
    font-size: 14px;
    color: #7F7B7B;
  }
  