﻿#upper-panel {
    display: flex;
    justify-content: space-between;
    padding-left: min(150px,10%);
    padding-right: min(150px,10%);
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    border-bottom: 1px solid;
    border-color: #EDEDED;
    width: 100%;
}

.from-top-shadow {
    box-shadow: 0px 10px 9px -2px rgba(80, 60, 60, 0.1);
}

#upper-panel h4 {
    position: relative;
    top: 2px;
    font-weight: bolder;
    margin-bottom: 0;
}

#add-partner-button {
    padding: 7px;
    padding-left: 23px;
    padding-right: 23px;
    color: white;
    background-color: #D72130;
}

#add-partner-button:hover {
    background: #E02232;
}

#add-partner-pop-up {
    padding: 30px;
}

.margin-bottom-6 {
    margin-bottom: 6px;
}

#provider-selector {
    margin-bottom: 30px;
}

.provider-page-selector:focus {
    box-shadow: none;
}

#add-partner-text-wrapper {
    display:flex;
    justify-content:center;
    margin-bottom: 22px;
}

#add-confirm-button {
    margin-right: 0px;
    border:none;
}

.centerer {
    display:flex;
    justify-content:center;
}

#add-partner-text {
    color: #D72130;
}

#parners-table-header {
    background-color: #f2f2f2;
    color: #434c5d;
    font-weight:700;
}

.partner-header {
    border: 1px solid #d4d9e2;
    padding: 5px;
    width: 100%;
    margin-left: 0px;
    font-weight:500;
}

.partner-row {
    width: 100%;
    color: #b2b2b2;
    margin-top: 10px;
}

.opened, .partner-header:hover {
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.partner-header h6{
    display: inline-block;
    width: 15px;
}

.partner-switch {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 14px;
    top: 6px;
}

.partner-switch > input {
    opacity: 0;
    width: 0;
    height: 0;
}

.partner-switch > .partner-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    border: 1px solid #D4D9E2;
    -webkit-transition: .4s;
    transition: .4s;
}

.partner-switch > .partner-switch-slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 2px;
    bottom: 2px;
    background-color: slategray;
    -webkit-transition: .4s;
    transition: .4s;
}

.partner-switch > input:checked + .partner-switch-slider:before {
    -webkit-transform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
}

.partner-switch > input:checked + .partner-switch-slider.switch-red:before {
    background-color: #C80515;
}

.partner-switch > .partner-switch-slider.slider-round {
    border-radius: 14px;
}

.partner-switch > .partner-switch-slider.slider-round:before {
    border-radius: 50%;
}

.partner-switch > input + .partner-switch-slider.not-active:before {
    background-color: #d4d9e2 !important;
}

.not-active {
    color: #d4d9e2 !important;
}

.grey-border {
    border: 1px solid #d4d9e2;
}

.edit-team-box-wrapper {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.edit-team-box {
    width:100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.margin-top-30 {
    margin-top: 30px;
}

.category-selection-checkbox-outer {
    border: 2px solid #d8d8d8;
    border-radius: 3px;
    height: 15px;
    width: 15px;
}

.category-selection-checkbox-input + span:before {
    content: '';
    transition: background .5s, border-color .5s;
}

.category-selection-checkbox-input:checked + span:before {
    position: relative;
    top: -6px;
    left: -2px;
    display: inline-block;
    content: '';
    background: url(/img/check-mark-white.svg);
    background-color: #d72130;
    border: 2px solid #d72130;
    border-radius: 3px;
    height: 15px;
    width: 15px;
}

.category-header {
    height: 22px;
    display: flex;
    align-items: center;
}

.category-header label{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 0px;
}

.category-header input {
    height: 0px;
}

.partner-category-list {
    max-height: 300px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: overlay;
}

.partner-category-list::-webkit-scrollbar {
    width: 14px;
}

.partner-category-list::-webkit-scrollbar-track {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 100px;
}

.partner-category-list::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #B2B2B2;
}

.partner-category-list::-webkit-scrollbar-thumb:hover {
    background-color: #1a1e21;
}

.category-row {
    padding: 10px;
    padding-top: 10px;
    width: 100%;
    border-bottom: 1px solid #ededed;
    margin-left: 0px;
    margin-right: 0px;
}

.partner-category-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.7px;
    color: #5f6879;
}

.category-sources-input {
    width: 100%;
    height: auto !important;
    border: none;
    color: #5f6879;
}

.category-sources-input::placeholder {
    color: gainsboro;
}

.category-sources-input:focus {
    outline: none;
}

.parner-buttons-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.partner-save-changes {
    border: none;
}

.edit-partner-icon-wrapper {
    display: flex;
    justify-content: space-around;
    align-content: center;
    max-width: 90px;
}

.edit-partner-icon {
    height: 15px;
}