﻿.notification-box {
    padding:15px;
    position: fixed;
    top: 83px;
    right: 30px;
    background-color: white;
    box-shadow: 0px 0px 6px 1px rgba(26, 27, 42, 0.4);
    display: flex;
    align-items:center;
    justify-content:space-between;
    height: 80px;
    z-index:75;
}
.notification-box img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.notification-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}
.notification-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
}
.notification-actions {
    margin-left: 20px;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.retry {
    color: darkred;
    font-size: x-small;
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
}
.retry img {
    margin-left:3px;
    position: relative;
    bottom: -3px;
    width:10px;
    height:10px;
}
.retry:hover {
    cursor:pointer;
}
.dismiss-notification-cross {
    display: flex;
    justify-content: flex-end;
}
.dismiss-notification-cross img {
    width: 10px;
    height: 10px;
    margin-right:0;
}
.dismiss-notification-cross img:hover {
    cursor:pointer;
}