﻿@font-face {
    font-family: "Roboto";
    src: url("~/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("~/fonts/OpenSans-Regular.ttf");
}

#personal-page-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 55%;
    margin-top: 90px;
}

.personal-page-menu {
    border: 1px solid #EDEDED;
    text-align: center;
    padding: 5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.personal-page-nav {
    display: block;
    outline: inherit;
    text-decoration: none;
    color: inherit;
}

.personal-page-nav:hover {
    display: block;
    outline: inherit;
    text-decoration: none;
    color: inherit;
}

.personal-page-nav:visited {
    display: block;
    outline: inherit;
    text-decoration: none;
    color: inherit;
}

.personal-page-menu:hover {
    cursor: pointer;
    color: #D72130;
}

.text-above-input {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #434C5D;
}
.hidden-element{
    visibility: hidden;
}
.personal-page-menu-active {
    box-shadow: 0px 0px 10px 2px rgba(127, 99, 99, 0.15);
    color: #D72130;
}
.password-input-form {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    border: 1px solid #D4D9E2;
    border-radius: 0px;
    background-color: #fff;
    background-clip: padding-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#input-fields {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#input-fields-container {
    width: 56%;
}
#update-profile-button {
    margin-top: 40px;
    background: #D72130;
    border-radius: 0px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    height: 38px;
    align-items: center;
}

#update-profile-button:hover {
    cursor: pointer;
}


input[type="password"]:not(:placeholder-shown) {
    font: large Roboto;
    font-size: 18px;
    letter-spacing: 3px;
    /*font-weight:900;*/
}



.password {
    position: relative;
}

.password-control {
    position: sticky;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/view.svg) 0 0 no-repeat;
}

.log-in-button {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    background: inherit;
}

.log-in-button-text {

    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.800000011920929px;
}
.password-control.view {
    background: url(../img/no-view.svg) 0 0 no-repeat;
}
.password-control-label-text {
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 0.8999999761581421px;
    text-align: left;
    color: #434C5D;
}
.password-control-text-error {
    color: #D72130;
}

.no-margin{
    margin: 0px 0px 0px 0px;
}

.margin-top-offset-8{
    margin-top: 8px;
}

::placeholder {
    color: #d3d9e4;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0px;
}

#personal-page-container .password-input-form:focus {
    border: 2px solid;
    border-radius: 5px;
    border-color: black;
    box-shadow: none;
}
.input-ok {
    border: 1px solid #56BD5B;
}

.input-fail {
    border: 1px solid #E1464E;
}
