@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}


#personal-page-container
{
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    margin-top: 90px;
    margin-bottom: 250px
}
.personal-page-menu
{
    border: 1px solid #EDEDED;
    text-align: center;
    padding: 5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}
.personal-page-menu:hover
{
    cursor: pointer;
    color: #D72130;
}
.personal-page-menu-active
{
    box-shadow: 0px 0px 10px 2px rgba(127, 99, 99, 0.15);
    color: #D72130;
}
#personal-page-avatar-container
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    width: 100%;
}
#image-cropper {
    position: absolute;
    width: 120px;
    height: 120px;
    overflow: hidden;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
#personal-page-avatar {
    float: left;
    width: 120px;
    height: 120px;
    object-fit: cover;
}
#avatar-upload
{
    opacity: 0%;
    position: absolute;
    z-index: -1;
}
#avatar-upload-label
{
    position: relative;
    left: 40px;
    top: 80px;
    z-index: 2;
}
#avatar-upload-label:hover
{
    cursor: pointer;
}
#input-fields {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}
#input-fields-container
{
    width: 56%;
}
.text-above-input
{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: #434C5D;
}
.personal-page-input-form
{
    border: 1px solid #D4D9E2;
    border-radius: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
#update-profile-button {
    margin-top: 40px;
    background: #D72130;
    border-radius: 0px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    height: 38px;
    align-items: center;
}
.hidden-element {
    visibility:hidden;
}
#update-profile-button:hover {
    cursor: pointer;
    background: #E02232;
}
#update-profile-button:active {
    background: #C80515;
}
#personal-page-container .form-control:hover {
    border: 1px solid #A6A9AF;
}
#personal-page-container .form-control:focus {
    border: 1px solid #7F8899;
    box-shadow: none;
}
.input-ok {
    border: 1px solid #56BD5B;
}
.input-fail {
    border: 1px solid #E1464E;
}

