﻿.pop-up {
    position:absolute;
    left:50%;
    top:32%;
    width: 500px;
}
.pop-up-box {
    z-index: 50;
    position: relative;
    left: -50%;
    background-color: white;
    box-shadow: 0px 0px 6px 1px rgba(26, 27, 42, 0.4);
    width: 100%;
    padding-bottom: 15px;
}
.pop-up-image-centerer {
    display: flex;
    width: 100%;
    justify-content: center;
}
.pop-up-image-cropper {
    width: 70px;
    height: 70px;
    position: relative;
    transform: translate(0%, -50%);
    overflow: hidden;
    border-radius: 50%;
    background-color: #D72130;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-cropper img {
    transform: translate(7%, -7%);
}
.error-name {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 25px;
}
.error-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}
.pop-up-bold {
    font-weight: bold;
    padding-bottom: 25px;
}
.horizontal-line {
    width: 100%;
    height: 1px;
    background-color: #F4F5F8;
    margin-bottom: 15px;
}
.red-button-wrapper {
    display: flex;
    justify-content: flex-end;
}
.pop-up-red-button {
    text-align: center;
    width: 120px;
    margin-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.red-button:hover {
    cursor: pointer;
    background: #E02232;
}
.red-button:active {
    background: #C80515;
}
.background {
    position: fixed;
    z-index:45;
    left: 0%;
    top: 0px;
    background-color: rgba(34, 34, 34, 0.20);
    width:100%;
    height:100%;
}

.pop-up-buttons-wrapper {
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

.pop-up-cancel-button {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #E02232;
    margin-right: 20px;
}

.pop-up-cancel-button:hover {
    cursor:pointer;
}

.padding-bottom-15 {
    padding-bottom:15px;
}