﻿#upper-panel {
    display: flex;
    justify-content: space-between;
    padding-left: min(150px,10%);
    padding-right: min(150px,10%);
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    border-bottom: 1px solid;
    border-color: #EDEDED;
    width:100%;
}

.from-top-shadow {
    box-shadow: 0px 10px 9px -2px rgba(80, 60, 60, 0.1);
}

#upper-panel h4 {
    position: relative;
    top: 2px;
    font-weight: bolder;
    margin-bottom: 0;
}

#add-team-button {
    padding: 7px;
    padding-left: 23px;
    padding-right: 23px;
    color: white;
    background-color: #D72130;
}

#add-team-button:hover {
    background: #E02232;
}

#add-team-button:active {
    background: #C80515;
}

#map-field {
    height: 670px;
}

#map {
    background-color:silver;
}

#team-info-form-div .text-above-input-fields {
    margin-top: 20px;
    margin-bottom: 10px;
} 

#drop-zone {
    margin-top: 30px;
    height: 200px;
    background-color: #fafafa;
    border: dashed #e8e8e8;
    overflow: hidden;
}

#logo-upload {
    opacity:0%;
    position:absolute;
    z-index:-1;
}

#label-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

#add-logo-text {
    display:flex;
    justify-content:center;
    font-weight:bold;
}

#red-add-text {
    color: #d72130;
}

#team-logo-div {
    position: relative;
    z-index: 5;
    width:auto;
    display:flex;
    justify-content:center;
}

#team-logo {
    float: left;
    width: 100%;
    height:200px;
    object-fit: cover;
}

#drop-zone:hover #drop-zone-icon-and-text {
    visibility: visible;
}

#team-info-form-div {
    box-shadow: 1px 1px 4px 0px rgba(80, 60, 60, 0.1);
}

#add-to-list-button {
    padding: 7px;
    color: white;
    background-color: #D72130;
}

#add-to-list-button:hover {
    cursor: pointer;
    background: #E02232;
}

#add-to-list-button:active {
    background: #C80515;
}

#add-to-list-button:focus {
    box-shadow:none;
}

#cancel-button {
    margin-top:10px;
    color: #D72130;
    width:100%;
    display: flex;
    justify-content: center;
}

.teams-page-spacer {
    margin-top: 30px;
}

#teams-table-header {
    background-color: #f2f2f2;
    color: #434c5d;
    font-weight:700;
    padding:5px;
    font-size:12px;
}

#teams-table-footer {
    border: 1px solid #f2f2f2;
    font-size: 12px;
    color: #adbac9;
}

.team-row {
    border: 1px solid #f2f2f2;
    padding: 7px;
}

#teams-table-footer img {
    height: 12px;
    margin-right:10px;
}

#teams-table-footer img:hover {
    cursor:pointer;
}

#page-selection-div {
    display:flex;
    align-items:center;
}

.page-number {
    margin-right: 10px;
}

.page-number:hover {
    cursor: pointer;
    color: #6f7983;
}

.current-page {
    color: #6f7983;
}

#page-numbers-div {
    display:flex;
    align-items:center;
}

#teams-table {
    width:100%;
}

.team-table-select {
    color: #adbac9;
    border-color: #adbac9;
    border-radius: 3px;
    margin-left: 10px;
}

.trash-bin {
    height:15px;
    width:auto;
}

.edit-delete-section {
    display: flex;
    justify-content: space-around;
    color: #E02232;
}

.team-row:hover {
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.team-row:hover > .edit-delete-section {
    visibility:visible;
}

#change-result-quantity-section {
    display:flex;
    justify-content:flex-end;
}

.no-focus-shadow:focus {
    box-shadow: none;
    border-color: #D4D9E2;
}

.add-location-button {
    margin-top: 5px;
    color: white;
    background-color: #D72130;
}

#wrapper-for-zoom-controls {
    width: 100%;
    height:0px;
}

.zoom {
    display:flex;
    justify-content:flex-end;
    position:relative;
}

.controls-styles {
    border: none;
    background: transparent;
    box-shadow: none!important;
}

#drop-zone-icon-and-text {
    position: relative;
    z-index:10;
    top:50px;
}

.sorting-button:hover {
    box-shadow: 0px 0px 10px 4px rgba(199, 199, 199, 0.4);
}