/* selectors-id */

#arrow {
    border-top: 2px solid #D72130;
    border-right: 2px solid #D72130;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    transform: rotate(45deg);
    width: 10px;
}

#article {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
}

#card {
    background-color: #F6F6F6;
    border-radius: 0;
    left: 80%;
    padding: 24px 32px;
    position: absolute;
    top: 200px;
    width: 40%;
}

#img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* selectors-classes */

.link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.path {
    font-size: 12px;
    line-height: 17px;
}

/* side-text */

.col {
    position: relative;
}

.side-title {
    color: rgba(204, 211, 224, 0.3);
    font-family: Roboto Condensed, sans-serif;
    font-size: 7vw;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1.25px;
    line-height: 192px;
    position: absolute;
    transform: rotate(90deg);
}

.dealbook {
    top: 0;
    left: 10%;
    transform-origin: 0 0;
}

.news {
    left: 60%;
    top: 85%;
    transform-origin: 100% 100%;
}

/* card-block */

.card-date {
    font-size: 14px;
    line-height: 16px;
}

.card-title {
    font-size: 16px;
    line-height: 22px;
}

.card-text {
    font-size: 22px;
    line-height: 30px;
}

.card-share {
    font-size: 14px;
    line-height: 100%;
}

.share {
    padding: 0;
}

/* fonts */

.font-roboto {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.font-opensans {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
}

/* colors */

.gray-path {
    color: #B2B2B2;
}

.gray-card {
    color: #F6F6F6;
}

.gray {
    color: #7F7B7B;
}

.red-path {
    color: #D72130;
}

.red-title {
    color: #C63638;
}

.black-text {
    color: #000000;
}

.black-card-text {
    color: #2B2F43;
}