﻿@model ChangePasswordModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Change Password";
}
@section Styles {}
<section>
    <link rel="stylesheet" href="~/css/passwordPageStyles.css">
    <link href="~/css/personalPageStyles.css" rel="stylesheet" />
    <link href="~/css/notificationBox.css" rel="stylesheet" />
    @Html.AntiForgeryToken()
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="notification-box" id="notification-about-update">
        <img id="notification-icon" src="~/img/Fail.png">
        <div>
            <div class="notification-title" id="update-state">
                Error!
            </div>
            <div class="notification-text" id="update-state-description">
                Please, log in first.
            </div>
        </div>
        <div class="notification-actions">
            <div class="dismiss-notification-cross">
                <img src="~/img/Cross.png" id="dismiss-img">
            </div>
            <div class="retry" id="retry">
                Retry
                <img src="~/img/reset-icon.jpg">
            </div>
        </div>
        <script>
            document.getElementById('dismiss-img').addEventListener('click', () => {
                MakeHidden('notification-about-update');
                MakeHidden('retry');
            });
            function MakeHidden(elementId) {
                document.getElementById(elementId).classList.remove("visible-element");
                document.getElementById(elementId).classList.add("hidden-element");
            }
            function MakeVisible(elementId) {
                document.getElementById(elementId).classList.remove("hidden-element");
                document.getElementById(elementId).classList.add("visible-element");
            }
        </script>
    </div>
    }
    @if (ViewBag.IsSuccess == true)
    {
        <div class="notification-box" id="notification-about-update">
            <img id="notification-icon" src="~/img/Check.png">
            <div>
                <div class="notification-title" id="update-state">
                    Success!
                </div>
                <div class="notification-text" id="update-state-description">
                    Your password is successfully updated.
                </div>
            </div>
            <div class="notification-actions">
                <div class="dismiss-notification-cross">
                    <img src="~/img/Cross.png" id="dismiss-img">
                </div>
                <div class="retry hidden-element" id="retry">
                    Retry
                    <img src="~/img/reset-icon.jpg">
                </div>
            </div>
            <script>
                document.getElementById('dismiss-img').addEventListener('click', () => {
                    MakeHidden('notification-about-update');
                    MakeHidden('retry');
                });
                function MakeHidden(elementId) {
                    document.getElementById(elementId).classList.remove("visible-element");
                    document.getElementById(elementId).classList.add("hidden-element");
                }
                function MakeVisible(elementId) {
                    document.getElementById(elementId).classList.remove("hidden-element");
                    document.getElementById(elementId).classList.add("visible-element");
                }
            </script>
        </div>

    }
    @if (ViewBag.IsSuccess == false)
    {
        <div class="notification-box" id="notification-about-update">
            <img id="notification-icon" src="~/img/Fail.png">
            <div>
                <div class="notification-title" id="update-state">
                    Something went wrong!
                </div>
                <div class="notification-text" id="update-state-description">
                    Please try again later
                </div>
            </div>
            <div class="notification-actions">
                <div class="dismiss-notification-cross">
                    <img src="~/img/Cross.png" id="dismiss-img">
                </div>
                <div class="retry" id="retry">
                    Retry
                    <img src="~/img/reset-icon.jpg">
                </div>
            </div>
            <script>
                document.getElementById('dismiss-img').addEventListener('click', () => {
                    MakeHidden('notification-about-update');
                    MakeHidden('retry');
                });
                function MakeHidden(elementId) {
                    document.getElementById(elementId).classList.remove("visible-element");
                    document.getElementById(elementId).classList.add("hidden-element");
                }
                function MakeVisible(elementId) {
                    document.getElementById(elementId).classList.remove("hidden-element");
                    document.getElementById(elementId).classList.add("visible-element");
                }
            </script>
        </div>
    }
    <div id="personal-page-container" class="row">
        <div class="col-lg-3 personal-page-menu">Personal</div>
        <div class="col-lg-3 personal-page-menu personal-page-menu-active">Change Password</div>
        <div class="col-lg-3 personal-page-menu">My Surveys</div>
        <div class="col-lg-3 personal-page-menu">Team Hub</div>

        <div id="input-fields">
            <div id="input-fields-container">
                <form asp-action="ChangePassword" asp-controller="Account" method="post">
                    <div>
                        <div class="text-above-input">old password</div>
                        <input type="password" asp-for="CurrentPassword" placeholder="Enter your old password here" id="current-password-input" class="password-input-form">
                        <div class="row no-margin margin-top-offset-8">
                            <span class="password-control-text-error password-control-label-text" asp-validation-for="CurrentPassword" asp-validation-summary="ModelOnly"></span>

                        </div>
                    </div>
                    <div>
                        <div class="text-above-input">new password</div>
                        <input type="password" asp-for="NewPassword" placeholder="8 +  characters (letters and numbers)" id="new-password-input" class="password-input-form">
                        <div class="row no-margin margin-top-offset-8">
                            <span class="password-control-text-error password-control-label-text" asp-validation-for="NewPassword"></span>
                        </div>
                    </div>
                    <div>
                        <div class="text-above-input">confirm password</div>

                        <input type="password" asp-for="ConfirmPassword" placeholder="Enter new password again" id="confirm-password-input" class="password-input-form">
                        <div class="row no-margin margin-top-offset-8">
                            <span class="password-control-text-error password-control-label-text" asp-validation-for="ConfirmPassword"></span>
                        </div>


                    </div>
                    <div id="update-profile-button" class="password-input-form">
                        <input class="log-in-button log-in-button-text" id="change-password-btn" role="button" type="submit" value="CHANGE PASSWORD">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>