﻿@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Successful email confirmation";
}

<div class="d-inline-flex flex-row-reverse  top-panel no-margin">
    <div class="d-flex align-items-center">
        <a class="get-started-button get-started-button-text" href="/Account/Login">Log In</a>
    </div>
    <div class="d-flex align-items-center">
        <span class="log-in-label-text-top">
            Already have an account?
        </span>
    </div>
</div>
<div class="col no-padding">

    <main class="d-flex flex-column justify-content-center align-items-center height-by-percent-100">

        <div class="email-text-3">
            <span>Sport Hub</span>
        </div>

        <div class="register-success-text-1">
            <span>Congratulations you have successfully confirmed your email</span>
        </div>

        <div class="register-success-text-2">
            <span>Now you can log in to your personal account.</span>
        </div>
    </main>

</div>
