﻿@model sports_hub_portal.Views.Account.ForgotPasswordModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Forgot password";
}

<div class="d-inline-flex flex-row-reverse  top-panel no-margin">
    <div class="d-flex align-items-center">
        <a class="get-started-button get-started-button-text" href="/Account/Register">Get Started</a>
    </div>
    <div class="d-flex align-items-center">
        <span class="log-in-label-text-top">
            Don't have an account?
        </span>
    </div>
</div>
<div class="col no-padding">
    <form method="post" class="d-flex justify-content-center align-items-center height-by-percent-100" asp-controller="Account" asp-action="ForgotPassword">
        <main>


            <div class="text-left">
                <span class="text-font-weight" id="log-in-text">Forgot your password?</span>

                <div class="forgot-password-text">Enter your email address below and <br> we’ll get you back on track.</div>
                <div class="log-in-label-text margin-top-offset-20">EMAIL ADDRESS</div>
                <div class="row no-margin margin-top-offset-8">

                    <div>
                        <input class="input-field" type="email" placeholder="Email@gmail.com" asp-for="Email" />
                    </div>

                </div>
                <div class="row no-margin margin-top-offset-8">
                    <span class="log-in-label-text-error log-in-label-text" asp-validation-for="Email"></span>

                </div>
                <div class="row no-margin margin-top-offset-34">
                    <input class="log-in-button log-in-button-text" role="button" type="submit" value="REQUEST RESET LINK">
                </div>
                <div class="d-flex justify-content-center">
                    <a class="forgot-password-back-to-log-in" href="/Account/Login">Back to Log In</a>
                </div>
            </div>
        </main>
    </form>
</div>

