﻿@model LoginModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Login";
}

<div class="d-inline-flex flex-row-reverse  top-panel no-margin">
    <div class="d-flex align-items-center">
        <a class="get-started-button get-started-button-text" href="/Account/Register">Get Started</a>
    </div>
    <div class="d-flex align-items-center">
        <span class="log-in-label-text-top">
            Don't have an account?
        </span>
    </div>
</div>
<div class="col no-padding">
    <form method="post" class="d-flex justify-content-center align-items-center height-by-percent-100" asp-controller="Account" asp-action="Login">
        <main>


            <div class="text-left">
                <span class="text-font-weight" id="log-in-text">Log in to Sports Hub</span>
                <div class="row no-margin margin-top-offset-20">
                    <div class="col-1 no-padding margin-right-offset-13">
                        <a href="/Account/GoogleFacebook/Facebook/GoogleFacebookLoginResponse" class="btn log-in-via-fb-google-button no-padding">f</a>
                    </div>
                    <div class="col-1 no-padding">
                        <a href="/Account/GoogleFacebook/Google/GoogleFacebookLoginResponse" class="btn log-in-via-fb-google-button no-padding">G</a>
                    </div>
                </div>
                <div class="log-in-label-text margin-top-offset-20 log-in-label-text-reset-password">@ViewData["ResetPasswordText"]</div>
                <div class="log-in-label-text margin-top-offset-20">EMAIL ADDRESS</div>
                <div class="row no-margin margin-top-offset-8">

                    <div>
                        <input class="input-field" type="email" placeholder="Email@gmail.com" asp-for="Email" />
                    </div>

                </div>
                <div class="row no-margin margin-top-offset-8">
                    <span class="log-in-label-text-error log-in-label-text" asp-validation-for="Email"></span>

                </div>
                <div class="row no-margin margin-top-offset-20">
                    <div class="col d-flex log-in-label-text no-padding">PASSWORD</div>
                    <div class="col d-flex no-padding justify-content-end">
                        <a class="text-right log-in-forgot-password" href="/Account/ForgotPassword">Forgot password?</a>
                    </div>
                </div>
                <div class="row no-margin margin-top-offset-8">

                    <div>
                        <input class="input-field" type="password" placeholder="8 + characters (letters and numbers)" asp-for="Password" />
                    </div>

                </div>
                <div class="row no-margin margin-top-offset-8">
                    <span class="log-in-label-text-error log-in-label-text" asp-validation-for="Password"></span>

                </div>
                <div class="row no-margin margin-top-offset-34">

                    <input class="log-in-button log-in-button-text" role="button" type="submit" value="LOG IN">

                </div>
            </div>
        </main>
    </form>
</div>

