﻿@model sports_hub_portal.Views.Account.RegisterModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Registration";
}
<div class="d-inline-flex flex-row-reverse  top-panel no-margin">
    <div class="d-flex align-items-center">
        <a class="get-started-button get-started-button-text" href="/Account/Login">Log In</a>
    </div>
    <div class="d-flex align-items-center">
        <span class="log-in-label-text-top">
            Already have an account?
        </span>
    </div>
</div>
<div class="col no-padding">

    <form method="post" class="d-flex d-flex justify-content-center align-items-center height-by-percent-100" asp-controller="Account" asp-action="Register">
        <div class="text-left">
            <span class="text-font-weight" id="log-in-text">Create Account</span>
            <div class="row no-margin margin-top-offset-20">
                <div class="col-1 no-padding margin-right-offset-13">
                    <a href="/Account/GoogleFacebook/Facebook/GoogleFacebookRegisterResponse" class="btn log-in-via-fb-google-button no-padding">f</a>
                </div>
                <div class="col-1 no-padding">
                    <a href="/Account/GoogleFacebook/Google/GoogleFacebookRegisterResponse" class="btn log-in-via-fb-google-button no-padding">G</a>
                </div>
            </div>
            <div class="log-in-label-text margin-top-offset-20">Or use your email for registration:</div>
            <div class="row no-margin margin-top-offset-12">
                <div class="col no-padding">
                    <span class="log-in-label-text">FIRST NAME</span>
                </div>
                <div class="col padding-left-offset-34">
                    <span class="log-in-label-text">LAST NAME</span>
                </div>

            </div>
            <div class="row no-margin margin-top-offset-8">
                <div class="col no-padding">
                    <input class="input-field-names" type="text" placeholder="John" asp-for="FirstName" />
                </div>
                <div class="col padding-left-offset-34">
                    <input class="input-field-names" type="text" placeholder="Doe" asp-for="LastName" />
                </div>
            </div>
            <div class="row no-margin margin-top-offset-8">
                <span class="log-in-label-text-error log-in-label-text" asp-validation-for="FirstName"></span>
                <span class="log-in-label-text-error log-in-label-text padding-left-offset-44" asp-validation-for="LastName"></span>
            </div>
            <div class="log-in-label-text margin-top-offset-20">EMAIL</div>
            <div class="row no-margin margin-top-offset-8">

                <div>
                    <input class="input-field" type="text" placeholder="Email@gmail.com" asp-for="Email" />
                </div>

            </div>
            <div class="row no-margin margin-top-offset-8">
                <span class="log-in-label-text-error log-in-label-text" asp-validation-for="Email"></span>
            </div>
            <div class="log-in-label-text margin-top-offset-20">PASSWORD</div>
            <div class="row no-margin margin-top-offset-8">

                <div>
                    <input class="input-field" type="password" placeholder="8 + characters (letters and numbers)" asp-for="Password" />
                </div>
            </div>
            <div class="row no-margin margin-top-offset-8">
                <span class="log-in-label-text-error log-in-label-text" asp-validation-for="Password"></span>
            </div>
            <div class="row no-margin margin-top-offset-34">

                <input class="log-in-button log-in-button-text" role="button" type="submit" value="SIGN UP">


            </div>
        </div>
    </form>
</div>

