﻿@model sports_hub_portal.Views.Account.ResetPasswordModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Reset password";
}

<div class="d-inline-flex flex-row-reverse  top-panel no-margin">
    <div class="d-flex align-items-center">
        <a class="get-started-button get-started-button-text" href="/Account/Register">Get Started</a>
    </div>
    <div class="d-flex align-items-center">
        <span class="log-in-label-text-top">
            Don't have an account?
        </span>
    </div>
</div>
<div class="col no-padding">
    <form method="post" class="d-flex justify-content-center align-items-center height-by-percent-100" asp-controller="Account" asp-action="ResetPassword">
        <main>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="Token" />
            <div class="text-left">
                <span class="text-font-weight" id="log-in-text">Please enter your new password.</span>

                <div class="log-in-label-text margin-top-offset-20">NEW PASSWORD</div>
                <div class="row no-margin margin-top-offset-8">

                    <div>
                        <input class="input-field" type="password" placeholder="new password" asp-for="Password" />
                    </div>

                </div>
                <div class="row no-margin margin-top-offset-8">
                    <span class="log-in-label-text-error log-in-label-text" asp-validation-for="Password"></span>

                </div>
                <div class="row no-margin margin-top-offset-20">
                    <div class="col d-flex log-in-label-text no-padding">PASSWORD</div>
                </div>
                <div class="row no-margin margin-top-offset-8">

                    <div>
                        <input class="input-field" type="password" placeholder="confirm password" asp-for="ConfirmPassword" />
                    </div>

                </div>
                <div class="row no-margin margin-top-offset-8">
                    <span class="log-in-label-text-error log-in-label-text" asp-validation-for="ConfirmPassword"></span>

                </div>
                <div class="row no-margin margin-top-offset-34">

                    <input class="log-in-button log-in-button-text" role="button" type="submit" value="SET NEW PASSWORD">

                </div>
                <div class="d-flex justify-content-center">
                    <a class="forgot-password-back-to-log-in" href="/Account/Login">Back to Log In</a>
                </div>
            </div>
        </main>
    </form>
</div>

