﻿@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Letter sended";
}

<div class="d-inline-flex flex-row-reverse  top-panel no-margin">
    <div class="d-flex align-items-center">
        <a class="get-started-button get-started-button-text" href="/Account/Register">Get Started</a>
    </div>
    <div class="d-flex align-items-center">
        <span class="log-in-label-text-top">
            Don't have an account?
        </span>
    </div>
</div>
<div class="col no-padding">
    
    <main class="d-flex flex-column justify-content-center align-items-center height-by-percent-100">

        <div>
            <img src="~/img/email.svg" alt="Alternate Text" />
        </div>

        <div class="register-success-text-1">
            <span>Check your email @ViewData["Email"]</span>
        </div>

        <div class="register-success-text-2">
            <span>If there's Sports Hub account linked to this email address, we'll send over instructions to reset your password.</span>
        </div>
    </main>
   
</div>

