@model LoginModel

<link rel="stylesheet" href="~/css/login.css" />

<form method="post" class="d-flex justify-content-center align-items-center" asp-controller="Account" asp-action="Login">
    <div class="text-left">
        <span class="text-font-weight" id="log-in-text">Log in to Sports Hub</span>
        <div class="pop-up-close">&times;</div>
        <div class="row no-margin margin-top-offset-20">
            <div class="col-1 no-padding margin-right-offset-13">
                <a href="/Account/GoogleFacebook/Facebook/GoogleFacebookLoginResponse" class="btn log-in-via-fb-google-button no-padding">f</a>
            </div>
            <div class="col-1 no-padding">
                <a href="/Account/GoogleFacebook/Google/GoogleFacebookLoginResponse" class="btn log-in-via-fb-google-button no-padding">G</a>
            </div>
        </div>
        <div class="log-in-label-text margin-top-offset-20 log-in-label-text-reset-password">@ViewData["ResetPasswordText"]</div>
        <div class="log-in-label-text margin-top-offset-20">EMAIL ADDRESS</div>
        <div class="row no-margin margin-top-offset-8">
            <div>
                <input class="input-field" type="email" placeholder="Email@gmail.com" asp-for="Email" />
            </div>
        </div>
        <div class="row no-margin margin-top-offset-8">
            <span class="log-in-label-text-error log-in-label-text" asp-validation-for="Email"></span>
        </div>
        <div class="row no-margin margin-top-offset-20">
            <div class="col d-flex log-in-label-text no-padding">PASSWORD</div>
            <div class="col d-flex no-padding justify-content-end">
                <a class="text-right log-in-forgot-password" href="/Account/ForgotPassword">Forgot password?</a>
            </div>
        </div>
        <div class="row no-margin margin-top-offset-8">
            <div>
                <input class="input-field" type="password" placeholder="8 + characters (letters and numbers)" asp-for="Password" />
            </div>
        </div>
        <div class="row no-margin margin-top-offset-8">
            <span class="log-in-label-text-error log-in-label-text" asp-validation-for="Password"></span>
        </div>
        <div class="row no-margin margin-top-offset-34">
            <input class="log-in-button log-in-button-text" role="button" type="submit" value="LOG IN">
        </div>
    </div>
    </main>
</form>