@model MoreArticlesModel

<section>
    <link rel="stylesheet" href="~/css/more-articles.css" />

    <div class="row">
        <div class="container more-articles">
            <div class="text-center">
                <button onclick="location.href=GetArticleListUrl()" class="btn-articles-list">MORE ARTICLES</button>
                <div class="line"></div>
            </div>
            <div class="row">
                @foreach (var item in Model.Articles)
                {
                <div class="col-md-6">
                    <div class="article-container">
                        <a asp-page="/ViewArticle" asp-page-handler="Redirect" asp-route-id="@item.Id">
                            <img class="small-article-img" src="/img/ArticleImages/@item.Image.Url">
                            <p>
                                <span class="title">@item.Headline</span>
                                <br><span class="info">@item.Caption</span>
                            </p>
                        </a>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <script>
        var GetArticleListUrl = function () {
            return window.location.href.slice(0, window.location.href.indexOf('/', 9)) + '/ArticleList';
        }
    </script>
</section>