﻿@page
@model sports_hub_portal.Pages.Admin.AddArticleModel
@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/css/ArticleForm.css")">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
}

<label for="image-upload">Picture *</label>
<div id="DragNDrop-img">
    @Html.AntiForgeryToken()
    <div class="relative-centered form-label">
        <div class="icon">
            <i class="icon-cam relative-centered"></i>
        </div>
        <div class="description">

            <b>+Add picture</b>
            <span>
            or drop it right here <br/>
            You can add next formats: .png .jpg .jpeg .tif
            </span>
        </div>
    </div>
    <form method="post" id="submit-image" enctype="multipart/form-data">
        <input type="file" id="image-upload" asp-for="ArticleImage" accept="image/*" hidden>
    </form>
    <img src="" id="test-image">
</div>


<form method="post" id="ArticleForm" class="color-gray">
    <input type="hidden" asp-for="Article.CategoryId" value="1">
    <input id="articleContent" type="hidden" asp-for="Article.Content" value="">
    <input id="return-photo-name" type="hidden" name="photoname" required>
    <div class="form-row select-row">
        <div class="col-4">
            <label for="ArticleConference" class="font-size-small">CONFERENCE *</label>
            <select class="custom-select font-size-medium font-weight-600" id="ArticleConference" asp-for="Article.ConferenceId" required>
                <option value="">Not Selected</option>
                @foreach (var i in Model.Conferences)
                {
                    <option value="@i.Id">@i.Name</option>
                }
            </select>
        </div>
        <div class="col-4">
            <label for="ArticleCategory" class="font-size-small">TEAM *</label>
            <select class="custom-select font-size-medium font-weight-600" id="ArticleCategory" asp-for="Article.TeamId" required>
                <option value="">Not Selected</option>
                @foreach (var i in Model.Teams)
                {
                    <option value="@i.Id">@i.Name</option>
                }
            </select>
        </div>
        <div class="col-4">
            <label for="ArticleLocation" class="font-size-small">LOCATION *</label>
            <select class="custom-select font-size-medium font-weight-600" id="ArticleLocation" asp-for="Article.LocationId" required>
                <option value="">Not Selected</option>
                @foreach (var i in Model.Locations)
                {
                    <option value="@i.Id">@i.Name</option>
                }
            </select>
        </div>



    </div>
    <div class="form-row ">
        <div class="col">
            <label for="AddArticleAlt" class="font-size-small">ALT.*</label>
            <input id="AddArticleAlt" class="form-control font-weight-600 font-size-medium" type="text" asp-for="Article.Alt" placeholder="Alternative text for picture" required />
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="AddArticleHeadline" class="font-size-small">ARTICLE HEADLINE *</label>
            <input id="AddArticleHeadline" class="form-control font-weight-600 font-size-medium" type="text" asp-for="Article.Headline" placeholder="Name" required />
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="AddArticleCaption" class="font-size-small">CAPTION *</label>
            <input id="AddArticleCaption" class="form-control font-size-medium font-weight-600" type="text" asp-for="Article.Caption" placeholder="Write caption text here" required />
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <div id="editor">
                hello
                <b>world</b>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="AddArticleCommentable" class="medium-label font-weight-600 font-size-medium">
                Coments: Show
            </label>
            <label class="switch">
                <input id="AddArticleCommentable" type="checkbox" asp-for="Article.Commentable" value="true" />
                <span class="slider round red"></span>
            </label>



            <input type="submit" value="Add" />
        </div>
    </div>

</form>

@section scripts{
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        let icons = Quill.import('ui/icons');
        function setIcons(){
            icons['header'][1] = '<svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
                '<path d="M9.06104 11H7.64746V6.0708H2.27148V11H0.865234V0.335938H2.27148V4.9209H7.64746V0.335938H9.06104V11Z" />\n' +
                '<path d="M15.6602 11H14.2979V1.96924L11.5659 2.97266V1.74219L15.4478 0.284668H15.6602V11Z" />\n' +
                '</svg>\n';
            icons['header'][2] = '<svg width="19" height="11" viewBox="0 0 19 11" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
                '<path d="M9.03369 11H7.62012V6.0708H2.24414V11H0.837891V0.335938H2.24414V4.9209H7.62012V0.335938H9.03369V11Z" />\n' +
                '<path d="M18.167 11H11.1797V10.0259L14.8711 5.92432C15.418 5.3042 15.7939 4.80127 15.999 4.41553C16.209 4.0249 16.314 3.62207 16.314 3.20703C16.314 2.65039 16.1455 2.19385 15.8086 1.8374C15.4717 1.48096 15.0225 1.30273 14.4609 1.30273C13.7871 1.30273 13.2622 1.49561 12.8862 1.88135C12.5151 2.26221 12.3296 2.79443 12.3296 3.47803H10.9746C10.9746 2.49658 11.2896 1.70312 11.9194 1.09766C12.5542 0.492188 13.4014 0.189453 14.4609 0.189453C15.4521 0.189453 16.2358 0.450684 16.812 0.973145C17.3882 1.49072 17.6763 2.18164 17.6763 3.0459C17.6763 4.0957 17.0073 5.3457 15.6694 6.7959L12.813 9.89404H18.167V11Z" />\n' +
                '</svg>\n';
            icons['link'] = '<svg width="9" height="11" viewBox="0 0 9 11" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
                '<path d="M2.21875 6.8252V11H0.8125V0.335938H4.74561C5.9126 0.335938 6.82568 0.633789 7.48486 1.22949C8.14893 1.8252 8.48096 2.61377 8.48096 3.59521C8.48096 4.63037 8.15625 5.42871 7.50684 5.99023C6.8623 6.54688 5.93701 6.8252 4.73096 6.8252H2.21875ZM2.21875 5.67529H4.74561C5.49756 5.67529 6.07373 5.49951 6.47412 5.14795C6.87451 4.7915 7.07471 4.27881 7.07471 3.60986C7.07471 2.9751 6.87451 2.46729 6.47412 2.08643C6.07373 1.70557 5.52441 1.50781 4.82617 1.49316H2.21875V5.67529Z" />\n' +
                '</svg>\n';
            icons['bold'] = '<svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
                '<path d="M0.771484 13V0.203125H5.36816C7.01465 0.203125 8.26562 0.504883 9.12109 1.1084C9.98242 1.71191 10.4131 2.58789 10.4131 3.73633C10.4131 4.39844 10.2607 4.96387 9.95605 5.43262C9.65137 5.90137 9.20312 6.24707 8.61133 6.46973C9.2793 6.64551 9.79199 6.97363 10.1494 7.4541C10.5068 7.93457 10.6855 8.52051 10.6855 9.21191C10.6855 10.4658 10.2871 11.4092 9.49023 12.042C8.69922 12.6689 7.52441 12.9883 5.96582 13H0.771484ZM3.85645 7.55957V10.627H5.87793C6.43457 10.627 6.8623 10.501 7.16113 10.249C7.45996 9.99121 7.60938 9.63086 7.60938 9.16797C7.60938 8.10156 7.0791 7.56543 6.01855 7.55957H3.85645ZM3.85645 5.53809H5.46484C6.13867 5.53223 6.61914 5.40918 6.90625 5.16895C7.19336 4.92871 7.33691 4.57422 7.33691 4.10547C7.33691 3.56641 7.18164 3.17969 6.87109 2.94531C6.56055 2.70508 6.05957 2.58496 5.36816 2.58496H3.85645V5.53809Z" />\n' +
                '</svg>\n';
            icons['italic'] = '<svg width="5" height="13" viewBox="0 0 5 13" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
                '<path d="M2.04102 13H0.397461L2.62109 0.203125H4.26465L2.04102 13Z" />\n' +
                '</svg>\n';
            icons['underline'] = '<svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
                '<path d="M10.0615 0.203125V8.9043C10.0557 10.1113 9.6748 11.0986 8.91895 11.8662C8.16895 12.6338 7.14941 13.0645 5.86035 13.1582L5.41211 13.1758C4.01172 13.1758 2.89551 12.7979 2.06348 12.042C1.23145 11.2861 0.80957 10.2461 0.797852 8.92188V0.203125H2.46777V8.86914C2.46777 9.79492 2.72266 10.5156 3.23242 11.0312C3.74219 11.541 4.46875 11.7959 5.41211 11.7959C6.36719 11.7959 7.09668 11.541 7.60059 11.0312C8.11035 10.5215 8.36523 9.80371 8.36523 8.87793V0.203125H10.0615Z" />\n' +
                '</svg>\n';
            icons['align'][''] = '<svg width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
                '<rect x="0.796875" y="4" width="19.4407" height="2" />\n' +
                '<rect x="0.796875" y="12" width="19.4407" height="2" />\n' +
                '<rect x="0.796875" width="12.2784" height="2" />\n' +
                '<rect x="0.796875" y="8" width="12.2784" height="2" />\n' +
                '</svg>\n';
            icons['align']['center'] = '<svg width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
                '<rect x="0.724609" y="4" width="19.4407" height="2" />\n' +
                '<rect x="0.724609" y="12" width="19.4407" height="2" />\n' +
                '<rect x="4.81738" width="12.2784" height="2" />\n' +
                '<rect x="4.81738" y="8" width="12.2784" height="2" />\n' +
                '</svg>\n';
            icons['align']['right'] = '<svg width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
                '<rect x="0.652344" y="4" width="19.4407" height="2" />\n' +
                '<rect x="0.652344" y="12" width="19.4407" height="2" />\n' +
                '<rect x="7.81445" width="12.2784" height="2" />\n' +
                '<rect x="7.81445" y="8" width="12.2784" height="2" />\n' +
                '</svg>\n';
            icons['list']['ordered'] = '<svg width="25" height="19" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
                '<rect x="6.11328" y="1" width="18.4175" height="1" />\n' +
                '<rect x="6.11328" y="9" width="18.4175" height="1" />\n' +
                '<rect x="6.11328" y="17" width="18.4175" height="1" />\n' +
                '<rect x="0.998047" y="16" width="3.06959" height="3" />\n' +
                '<rect x="0.998047" y="8" width="3.06959" height="3" />\n' +
                '<rect x="0.998047" width="3.06959" height="3" />\n' +
                '</svg>\n';
            icons['list']['bullet'] = '<svg width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
                '<rect x="6.41211" y="3" width="18.4175" height="1" />\n' +
                '<rect x="6.41211" y="11" width="18.4175" height="1" />\n' +
                '<rect x="6.41211" y="19" width="18.4175" height="1" />\n' +
                '<path d="M2.52051 5H1.81152V1.5752L0.765625 1.93262V1.33203L2.42969 0.719727H2.52051V5Z" />\n' +
                '<path d="M3.46094 13H0.592773V12.5107L2.01367 10.9609C2.21875 10.7324 2.36426 10.542 2.4502 10.3896C2.53809 10.2354 2.58203 10.0811 2.58203 9.92676C2.58203 9.72363 2.52441 9.55957 2.40918 9.43457C2.2959 9.30957 2.14258 9.24707 1.94922 9.24707C1.71875 9.24707 1.54004 9.31738 1.41309 9.45801C1.28613 9.59863 1.22266 9.79102 1.22266 10.0352H0.510742C0.510742 9.77539 0.569336 9.54199 0.686523 9.33496C0.805664 9.12598 0.974609 8.96387 1.19336 8.84863C1.41406 8.7334 1.66797 8.67578 1.95508 8.67578C2.36914 8.67578 2.69531 8.78027 2.93359 8.98926C3.17383 9.19629 3.29395 9.4834 3.29395 9.85059C3.29395 10.0635 3.2334 10.2871 3.1123 10.5215C2.99316 10.7539 2.79688 11.0186 2.52344 11.3154L1.48047 12.4316H3.46094V13Z" />\n' +
                '<path d="M1.41602 18.542H1.84961C2.06836 18.54 2.24121 18.4834 2.36816 18.3721C2.49707 18.2607 2.56152 18.0996 2.56152 17.8887C2.56152 17.6855 2.50781 17.5283 2.40039 17.417C2.29492 17.3037 2.13281 17.2471 1.91406 17.2471C1.72266 17.2471 1.56543 17.3027 1.44238 17.4141C1.31934 17.5234 1.25781 17.667 1.25781 17.8447H0.545898C0.545898 17.626 0.603516 17.4268 0.71875 17.2471C0.835938 17.0674 0.998047 16.9277 1.20508 16.8281C1.41406 16.7266 1.64746 16.6758 1.90527 16.6758C2.33105 16.6758 2.66504 16.7832 2.90723 16.998C3.15137 17.2109 3.27344 17.5078 3.27344 17.8887C3.27344 18.0801 3.21191 18.2607 3.08887 18.4307C2.96777 18.5986 2.81055 18.7256 2.61719 18.8115C2.85156 18.8916 3.0293 19.0176 3.15039 19.1895C3.27344 19.3613 3.33496 19.5664 3.33496 19.8047C3.33496 20.1875 3.20312 20.4922 2.93945 20.7188C2.67773 20.9453 2.33301 21.0586 1.90527 21.0586C1.49512 21.0586 1.15918 20.9492 0.897461 20.7305C0.635742 20.5117 0.504883 20.2207 0.504883 19.8574H1.2168C1.2168 20.0449 1.2793 20.1973 1.4043 20.3145C1.53125 20.4316 1.70117 20.4902 1.91406 20.4902C2.13477 20.4902 2.30859 20.4316 2.43555 20.3145C2.5625 20.1973 2.62598 20.0273 2.62598 19.8047C2.62598 19.5801 2.55957 19.4072 2.42676 19.2861C2.29395 19.165 2.09668 19.1045 1.83496 19.1045H1.41602V18.542Z" />\n' +
                '</svg>\n';
            icons['image'] = '<svg width="25" height="19" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
                '<rect x="0.78125" y="1" width="2.04639" height="18" />\n' +
                '<rect x="22.2686" y="1" width="2.04639" height="18" />\n' +
                '<path fill-rule="evenodd" clip-rule="evenodd" d="M24.3145 0V2L0.780949 2V0L24.3145 0Z" />\n' +
                '<path fill-rule="evenodd" clip-rule="evenodd" d="M23.291 17L23.291 19L1.8039 19L1.8039 16L7.94308 12L9.98947 15L17.1518 9L23.291 17Z" />\n' +
                '<path fill-rule="evenodd" clip-rule="evenodd" d="M7.43225 7C8.2799 7 8.96705 6.32843 8.96705 5.5C8.96705 4.67157 8.2799 4 7.43225 4C6.58461 4 5.89746 4.67157 5.89746 5.5C5.89746 6.32843 6.58461 7 7.43225 7Z" />\n' +
                '</svg>\n';
        }
        setIcons();
        console.log(icons);
        let toolbarOptions = [
            [{ 'header': 1 }, { 'header': 2 }, 'link'],
            ['bold', 'italic', 'underline'],
            [{'align':null},{'align':'center'}, {'align':'right'}],
            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            [{'image':null}]
        ];

        let quill = new Quill('#editor', {
            modules:{
                toolbar: toolbarOptions
            },
            theme: 'snow'
        });
    </script>
<script>
    $('#ArticleForm').submit(function (){
        $('#articleContent').val(JSON.stringify(quill.getContents()));
    })
</script>
    <script>
        let _URL = window.URL || window.webkitURL;
        let imgUpload = document.getElementById('image-upload')
        imgUpload.addEventListener("change", (evt) => {
            let formdata = new FormData(document.getElementById("submit-image"));
            let csrf = document.getElementsByName('__RequestVerificationToken')[0].value;
            let data = {
                method: 'post',
                headers: {
                    'XSRF-TOKEN': csrf
                },
                body: formdata
            }
            fetch(window.location.href + '?handler=ImageUploadHandlerForArticle', data)
                .then((res) => res.text())
                .then((res) => {
                    document.getElementById('return-photo-name').value = res;
                    document.getElementById('test-image').src = "/img/ArticleImages/" + res;
                })
                .catch((error) => {
                    console.log(error);
                });

        });
        let dropArea =document.getElementById('DragNDrop-img')

        function preventDefault(e) {
            e.preventDefault();
            e.stopPropagation();
        }
        dropArea.addEventListener('click', function (){
            imgUpload.click()
        }, false);
        dropArea.addEventListener('dragenter', preventDefault, false);
        dropArea.addEventListener('dragleave', preventDefault, false);
        dropArea.addEventListener('dragover', preventDefault, false);
        dropArea.addEventListener('drop', preventDefault, false);
        dropArea.addEventListener('dragenter',() => console.log('dragEnter'), false);
        dropArea.addEventListener('dragleave',() => console.log('dragLeave'), false);
        dropArea.addEventListener('dragover',() => console.log('dragover'), false);
        dropArea.addEventListener('drop', (e) => {
            let dt = e.dataTransfer,
                file = dt.files[0]

            let formData = new FormData(document.getElementById("submit-image"))
            formData.set('ArticleImage', file)
            let csrf = document.getElementsByName('__RequestVerificationToken')[0].value;
            fetch(window.location.href + '?handler=ImageUploadHandlerForArticle', {
                method: 'POST',
                headers: {
                    'XSRF-TOKEN': csrf
                },
                body: formData
            })
            .then((res) => res.text())
            .then((res) => {
                document.getElementById('return-photo-name').value = res;
                document.getElementById('test-image').src = "/img/ArticleImages/" + res;
            })
            .catch((error) => {
                console.log(error);
            });
        },false)


    </script>
}
