﻿@page "{type?}"
@model ArticleModel

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/css/Article.css")">
}

<section>
    <div class="container my-5">
        <div class="row">
            <div class="col-4">
                <div class="row top-dropdown">
                    <button class="top-dropbutton">All Conference</button>
                    <div class="top-droplist">
                        @foreach (var conference in Model.Conferences)
                        {
                            <form method="get">
                                <button type="submit" asp-page-handler="Update" asp-route-type="@conference.Name">
                                    @conference.Name
                                </button>
                            </form>
                        }
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="row top-dropdown">
                    <button class="top-dropbutton">All Teams</button>
                    <div class="top-droplist">
                        @foreach (var team in Model.Teams)
                        {
                            <form method="get">
                                <button type="submit" asp-page-handler="Update" asp-route-type="@team.Name">
                                    @team.Name
                                </button>
                            </form>
                        }
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="row top-dropdown">
                    <button class="top-dropbutton">All</button>
                    <div class="top-droplist">
                        <form method="get">
                            <button type="submit" asp-page-handler="Update" asp-route-type="1">
                                Published
                            </button>
                            <button type="submit" asp-page-handler="Update" asp-route-type="0">
                                Unpublished
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container articles">
        @foreach (var article in Model.Articles)
        {
            <div class="article">

                <div class="image">
                    <img src="@Url.Content($"~/img/ArticleImages/{article.Image.Url}")" alt="Alt">
                </div>
                <div class="info">
                    <div class="text">
                        <div class="title font-size-huge color-dark-gray"><span>@article.Headline</span></div>
                        <div class="description font-size-large color-gray"><span>@article.Caption</span></div>
                    </div>
                    <div class="status">
                        <div class="teams font-size-large color-gray">
                            @article.Conference.Name / @article.Team.Name
                        </div>
                        @if (article.Public)
                        {
                            <div class="published font-size-medium">
                                Published
                            </div>
                        }
                    </div>
                </div>

                <div class="dropdown right">
                    <button class="dropbtn"><i class="dot"></i><i class="dot"></i><i class="dot"></i></button>
                    <div class="dropdown-content">
                        @if (article.Public)
                        {
                            <form method="post">
                                <button type="submit" asp-page-handler="Unpublish" asp-route-id="@article.Id">Unpublish</button>
                            </form>
                        }
                        else
                        {
                            <form method="post">
                                <button type="submit" asp-page-handler="Publish" asp-route-id="@article.Id">Publish</button>
                            </form>
                        }
                        <a asp-page="EditArticle" asp-route-id="@article.Id">Edit</a>
                        <form method="post">
                            <button type="submit" asp-page-handler="Delete" asp-route-id="@article.Id">Delete</button>
                        </form>
                        <div class="inner-dropdown">
                            <span>Move</span>
                            <div class="dropdown-content">
                                <form method="post">
                                    @foreach (var category in Model.Categories)
                                    {
                                        if (category.Id != article.CategoryId)
                                        {
                                            <button type="submit" asp-page-handler="MoveByCategory" asp-route-articleId="@article.Id" asp-route-categoryId="@category.Id">@category.Name</button>
                                        }
                                    }
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</section>