﻿@page
@model ArticleListModel
@{

}
@section Styles { }

<section>
    <link href="~/css/ArticleList.css" rel="stylesheet" />
    <div class="container my-5">
        @foreach (var articles in Model.articles)
        {
            <a asp-page="ViewArticle" asp-route-id="@articles.Id">
                <div class="row my-5">
                    <div class="col-4">
                        <img src="@Url.Content($"~/img/ArticleImages/{articles.Image.Url}")" alt="Alternate Text" />
                    </div>
                    <div class="col-8">
                        <div class="row article-card-title font-sans">@articles.Headline</div>
                        <div class="row my-4 article-card-text font-sans">
                            <p>
                                @articles.Content
                            </p>
                        </div>
                        <div class="row article-card-text font-sans">@articles.Conference.Name / @articles.Team.Name</div>
                    </div>
                </div>
            </a>
        }
    </div>
    @section scripts {
        <script>
            var p = $('.article-card-text p');
            for (let trigger = 0; trigger < p.length; trigger++) {
                while ($(p[trigger]).outerHeight() > $('.article-card-text').height()) {
                    $(p[trigger]).text(function (index, text) {
                        return text.replace(/\W*\s(\S)*$/, '...');
                    });
                }
            }
        </script>
    }
</section>