﻿@page
@model sports_hub_portal.Pages.UploadModel
@{
    ViewData["title"] = "Personal page";
}
@section Styles {
    <link rel="stylesheet" href="~/css/inputs-and-buttons-styles.css">
}
<section>
    <link rel="stylesheet" href="css/personalPageStyles.css">
    <link rel="stylesheet" href="css/popUpBox.css">
    <link rel="stylesheet" href="css/notificationBox.css">
    @Html.AntiForgeryToken()
    <div id="notification-from-server">
        @if (Model.ShowNotification)
         {
            if (Model.UpdateResultSuccess)
            {
                if (Model.UpdatedEmail)@(await Html.PartialAsync("Notifications/SuccessfullEmailChange.cshtml"))
                else @(await Html.PartialAsync("Notifications/SuccessfullUpdate.cshtml"))
            }
            else
            {
                if(Model.EmailExists)@(await Html.PartialAsync("Notifications/ErrorAccountExists.cshtml"))
                else @(await Html.PartialAsync("Notifications/ErrorUpdate.cshtml"))
            }
         }
    </div>

    @(await Html.PartialAsync("Notifications/ErrorInFieldsUpdate.cshtml"))

    @(await Html.PartialAsync("Notifications/ErrorImageUpload.cshtml"))

    @(await Html.PartialAsync("Shared/_WrongFormatPopUp.cshtml"))

    <div id="personal-page-container" class="row">
        <div class="col-lg-3 personal-page-menu personal-page-menu-active">Personal</div>
        <div class="col-lg-3 personal-page-menu">Change Password</div>
        <div class="col-lg-3 personal-page-menu">My Surveys</div>
        <div class="col-lg-3 personal-page-menu">Team Hub</div>
        <div id="personal-page-avatar-container">
            <div id="image-cropper">
                <img src="~/img/AvatarUploads/@Model.AvatarName" id="personal-page-avatar">
            </div>
            <label for="avatar-upload">
                <img src="~/img/Group156.png" id="avatar-upload-label">
            </label>
            <form method="post" asp-page-handler="ImageUploadHandler" id="submit-avatar" enctype="multipart/form-data">
                <input type="file" id="avatar-upload" asp-for="Avatar" name="Avatar">
            </form>
        </div>
        <div id="input-fields">
            <form id="input-fields-container" method="post" asp-page-handler="UserInfoHandler" onsubmit="return CheckInputs();">
                <input type="hidden" class="form-control personal-page-input-form" name="NewAvatarName" id="avatar-name-input">
                <div class="text-above-input">first name</div>
                <input type="text" class="form-control personal-page-input-form" name="FirstName" id="first-name-input" value="@Model.FirstName">
                <div class="text-above-input">last name</div>
                <input type="text" class="form-control personal-page-input-form" name="LastName" id="last-name-input" value="@Model.LastName">
                <div class="text-above-input">email</div>
                <input type="text" class="form-control personal-page-input-form" name="Email" id="email-input" value="@Model.Email">
                <input type="submit" id="update-profile-button" class="form-control" value="update profile">
            </form>
        </div>
    </div>
    @section scripts{
        <script>
            $('#avatar-upload').on("change", () => {
                let file = $("#avatar-upload")[0].files[0];
                if (file.name.split(".").pop() == "jpeg" || file.name.split(".").pop() == "png" || file.name.split(".").pop() == "tif" || file.name.split(".").pop() == "jpg") {
                    let formdata = new FormData(document.getElementById("submit-avatar"));
                    let csrf = document.getElementsByName('__RequestVerificationToken')[0].value;
                    let data = {
                        method: 'post',
                        headers: {
                            'XSRF-TOKEN': csrf
                        },
                        body: formdata
                    }
                    let url = window.location.href;
                    if (url.includes("?")) url = url.slice(0, url.lastIndexOf('?'));
                    fetch(url + '?handler=ImageUploadHandler', data)
                        .then((res) => res.text())
                        .then((res) => {
                            $('#personal-page-avatar').attr('src', "/img/AvatarUploads/" + res);
                            $('#avatar-name-input').attr('value', res);
                        })
                        .catch((error) => {
                            MakeHidden('notification-about-update');
                            MakeHidden('notification-about-email-update');
                            MakeHidden('notification-about-update-succsess');
                            MakeHidden('notification-about-fields-error');
                            MakeVisible('notification-about-image-upload');
                            console.log(error);
                        });
                }
                else {
                    MakeVisible('wrong-format-pop-up');
                }
            });
            $('#first-name-input').on('change', () => { UncheckedInput('first-name-input') });
            $('#last-name-input').on('change', () => { UncheckedInput('last-name-input') });
            $('#email-input').on('change', () => { UncheckedInput('email-input') });
            $('#ok-button').on('click', () => { MakeHidden('wrong-format-pop-up') });
            $('body').on('click', '#retry', () => {
                $('#input-fields-container').submit();
            })
            function CheckInputs() {
                let result = true;
                let firstName = $('#first-name-input').val();
                let lastName = $('#last-name-input').val();
                let email = $('#email-input').val();
                if (firstName.length == 0 || /\d/.test(firstName)) {
                    InputError('first-name-input');
                    result = false;
                }
                else {
                    InputOk('first-name-input');
                }
                if (lastName.length == 0 || /\d/.test(lastName)) {
                    InputError('last-name-input');
                    result = false;
                }
                else {
                    InputOk('last-name-input');
                }
                const re = /^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/; //email
                if (!re.test(email)) {
                    InputError('email-input');
                    result = false;
                }
                else {
                    InputOk('email-input');
                }
                if (!result) {
                    MakeHidden('notification-about-image-upload');
                    MakeHidden('notification-about-update');
                    MakeHidden('notification-about-email-update');
                    MakeHidden('notification-about-update-succsess');
                    MakeVisible('notification-about-fields-error');
                }
                return result;
            }
            function MakeHidden(elementId) {
                $('#' + elementId).addClass("hidden-element");
            }
            function MakeVisible(elementId) {
                $('#' + elementId).removeClass("hidden-element");
            }
            function InputError(inputId) {
                $('#' + inputId).removeClass("input-ok");
                $('#' + inputId).addClass("input-fail");
            }
            function InputOk(inputId) {
                $('#' + inputId).removeClass("input-fail");
                $('#' + inputId).addClass("input-ok");
            }
            function UncheckedInput(inputId) {
                $('#' + inputId).removeClass('input-ok');
                $('#' + inputId).removeClass('input-fail');
            }
        </script>
    }
</section>