﻿@page "{id:int}"
@model ViewArticleModel
@{

}
@section Styles {
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/view-article.css">
}

<section>
    <div class="container my-5">

        <div class="col">
            <div class="dealbook side-title">@Model.articles.Category.Name</div>
            <div class="news side-title">NEWS</div>
            <!-- Title part -->
            <div class="row">
                <div class="path font-opensans">
                    <a class="gray-path link" href="">@Model.articles.Category.Name</a>
                    <div class="red-path" id="arrow"></div>
                    <span class="red-path">@Model.articles.Headline</span>
                </div>
            </div>

            <!-- Image part -->
            <div class="row my-4">
                <img id="img" src="@Url.Content($"~/img/ArticleImages/{Model.articles.Image.Url}")" alt="">
            </div>

            <!-- Text part -->
            <div class="row my-5 black-text" id="article">
                @Html.Raw(@Model.articles.Content)
            </div>
        </div>

    </div>
    <div id="comment-section">
        @await Component.InvokeAsync("Comments", new { articleId = Model.articles.Id })
    </div>
    @await Component.InvokeAsync("MoreArticles", new { categoryId = Model.articles.CategoryId})
</section>