﻿<div class="notification-box hidden-element" id="notification-about-image-upload">
    <img id="notification-icon" src="/img/Fail.png">
    <div>
        <div class="notification-title" id="update-state">
            Somephing went wrong!
        </div>
        <div class="notification-text" id="update-state-description">
            An error occured during image upload please try again later.
        </div>
    </div>
    <div class="notification-actions">
        <div class="dismiss-notification-cross">
            <img src="~/img/Cross.png" id="dismiss-img" onclick="MakeHidden('notification-about-image-upload')">
        </div>
        <div class="retry hidden-element" id="retry">
            Retry
            <img src="~/img/reset-icon.jpg">
        </div>
    </div>
</div>