﻿<div class="notification-box hidden-element notification" id="notification-about-fields-error">
    <img id="notification-icon" src="/img/Fail.png">
    <div>
        <div class="notification-title" id="update-state">
            Error
        </div>
        <div class="notification-text" id="update-state-description">
            Please check inputs.
        </div>
    </div>
    <div class="notification-actions">
        <div class="dismiss-notification-cross">
            <img src="~/img/Cross.png" id="dismiss-img" onclick="MakeHidden('notification-about-fields-error')">
        </div>
        <div class="retry hidden-element" id="retry">
            Retry
            <img src="~/img/reset-icon.jpg">
        </div>
    </div>
</div>