﻿<div class="notification-box" id="notification-about-update">
    <img id="notification-icon" src="/img/Fail.png">
    <div>
        <div class="notification-title" id="update-state">
            Somephing went wrong!
        </div>
        <div class="notification-text" id="update-state-description">
            Please try again later.
        </div>
    </div>
    <div class="notification-actions">
        <div class="dismiss-notification-cross">
            <img src="~/img/Cross.png" id="dismiss-img" onclick="MakeHidden('notification-about-update'); MakeHidden('retry')">
        </div>
        <div class="retry" id="retry">
            Retry
            <img src="~/img/reset-icon.jpg">
        </div>
    </div>
</div>