﻿@model sports_hub_portal.Pages.Notifications.NotificationModel
<div class="notification-box notification @if (Model.InitiallyHidden) { @(Html.Raw("hidden-element"))}" id="@Model.Id">
    <img  @if (Model.Sucsess) { @(Html.Raw($"src = \"/img/Check.png\"")) } else { @(Html.Raw($"src = \"/img/Fail.png\""))}>
    <div>
        <div class="notification-title" >
            @Model.Header
        </div>
        <div class="notification-text" >
            @Model.MainText
        </div>
    </div>
    <div class="notification-actions">
        <div class="dismiss-notification-cross">
            <img src="~/img/Cross.png" onclick="MakeHidden('@Model.Id')">
        </div>
        <div class="retry @if (Model.Sucsess || !Model.EnableRetryButton) { @(Html.Raw("hidden-element"))}" >
            Retry
            <img src="~/img/reset-icon.jpg">
        </div>
    </div>
</div>