﻿<div class="notification-box" id="notification-about-update-succsess">
    <img id="notification-icon" src="/img/Check.png">
    <div>
        <div class="notification-title" id="update-state">
            Updated!
        </div>
        <div class="notification-text" id="update-state-description">
            Your personal info was successfully updated.
        </div>
    </div>
    <div class="notification-actions">
        <div class="dismiss-notification-cross">
            <img src="~/img/Cross.png" id="dismiss-img" onclick="MakeHidden('notification-about-update-succsess')">
        </div>
        <div class="retry hidden-element" id="retry">
            Retry
            <img src="~/img/reset-icon.jpg">
        </div>
    </div>
</div>