@model CommentModel

<div class="a-comment d-flex id-@Model.comment.Id">
    <div class="small-avatar">
        <img src="~/img/AvatarUploads/@Model.comment.UserProfile.AvatarName" alt="">
    </div>
    <div class="pt-2 pr-5 w-100 d-block">
        <p class="author">@Model.comment.UserProfile.FirstName @Model.comment.UserProfile.LastName</p>
        <p class="date">
            @Model.comment.SubmitTime.ToString("MMM dd", new System.Globalization.CultureInfo("en-EN"))
                @if (Model.comment.isEdited)
                {
                    <span class="edited">edited</span>
                }
            </p>
        <p class="text">@Html.Raw(Model.comment.Text)</p>
        <div class="flex-break"></div>
        <div class="line"></div>
        <div class="flex-break"></div>
        <div class="d-flex justify-content-between pb-4">
            <div class="d-flex ratings-@Model.comment.Id">
                @{
                    var ratingModel = new RatingsModel() { commentId = Model.comment.Id, Ratings = Model.comment.RatingsFromUsers, userId = Model.currentUser.Id };
                    await Html.RenderPartialAsync("Ratings", ratingModel);
                 }
            </div>
            <div class="d-flex comments-menu">
                @if (Model.currentUser == null)
                {
                    <button id="false-comment">Comment</button>
                }
                else if (Model.currentUser.Id == Model.comment.UserProfile.Id)
                {
                    <button id="edit" onclick="EditPrepare('@Model.comment.Text', @Model.comment.Id, '@Model.comment.UserProfileId', @Model.comment.ArticleId)">Edit</button>
                    <button id="comment" onclick="CommentPrepare(@Model.comment.Id, '@Model.comment.UserProfileId', @Model.comment.ArticleId)">Comment</button>
                    <button id="delete" onclick="DeletePopUp(@Model.comment.Id, @Model.comment.ArticleId)">Delete</button>
                }
                else
                {
                    <button id="comment" onclick="CommentPrepare(@Model.comment.Id, '@Model.currentUser.Id', @Model.comment.ArticleId)">Comment</button>
                }
            </div>
        </div>
    </div>
</div>
<div class="pl-5">
    @foreach (var item in Model.replies.Where(x=> x.RepliedCommentID == Model.comment.Id).ToList())
    {
        var model = new CommentModel() { 
        currentUser = Model.currentUser,
        comment = item,
        replies = Model.replies
    };
    await Html.RenderPartialAsync("Comment", model);
    }
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    var DeletePopUp = function (commentId, articleId) {
        var pop_up = $(
            "<div class=\"pop-up-overlay for-delete\">" +
            "<div class=\"delete-pop-up\">" +
            "<div class=\"delete-trashbox\">" +
            "<svg xmlns=\"http://www.w3.org/2000/svg\" class=\"bi bi-trash\" viewBox=\"0 0 16 16\">" +
                "<path d=\"M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z\" />" +
                "<path fill-rule=\"evenodd\" d=\"M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z\" />" +
            "</svg>" +
            "</div>" +
            "<p class=\"header\">You are about to delete this comment!</p>" +
            "<p>This comment will be deleted</p>" +
            "<p>Are you sure?</p>" +
            "<div class=\"d-flex justify-content-end pt-3\">" +
            "<input type =\"button\" id=\"false-delete\" onclick=\"Remove()\" value=\"Cancel\" />" +
            "<input type =\"button\" id=\"delete-success\" onclick=\"Delete(" + commentId + ", " + articleId + ")\" value=\"Delete\" />" +
            "</div>" +
            "</div>" +
            "</div>"
        );
        $(".pop-ups-section").append(pop_up);
    };
    var Delete = function (commentId, articleId) {
        let data = {
            method: 'post'
        }
        let url = window.location.href.slice(0, window.location.href.indexOf('/', 9));
        fetch(url + '/Comments/Delete' + '?commentIdstring=' + commentId + '&articleIdstring=' + articleId, data)
            .then((res) => res.text())
            .then((res) => {
                $('#comment-section').html(res);
            });
    };
    var Remove = function () {
        $(".pop-up-overlay.for-delete").remove();
    };
    var EditPrepare = function (commentText, commentId, userId, articleId) {
        commentText = commentText.replaceAll("<br />", "\r\n");
        $("#comment").val(commentText);
        $("#post").attr("onclick", "Edit('" + userId + "', '" + commentId + "', '" + articleId + "')");
    };
    var CommentPrepare = function (commentId, userId, articleId) {
        $("textarea").attr("placeholder", "Youre replying to comment...");
        $("#post").attr("onclick", "Comment('" + userId + "', '" + commentId + "', '" + articleId + "')");
    }
</script>