﻿<div class="pop-up hidden-element" id="delete-pop-up">
    <div class="background"></div>
    <div class="pop-up-box">
        <div class="pop-up-image-centerer">
            <div class="pop-up-image-cropper">
                <img src="~/img/Group23.svg">
            </div>
        </div>
        <div class="error-name">
            You are about to delete this team!
        </div>
        <div class="error-text">This team will be deleted.</div>
        <div class="error-text padding-bottom-15">Are you sure?</div>
        <div class="horizontal-line"></div>
        <div class="pop-up-buttons-wrapper">
            <div id="do-not-delete" class="pop-up-cancel-button">Cancel</div>
            <div class="red-button-wrapper"><div class="red-button pop-up-red-button" id="delete-button">Delete</div></div>
        </div>
    </div>
</div>
