﻿@model sports_hub_portal.Views.Teams.TeamsTableModel
<div class="row entire-row teams-page-spacer" id="teams-table-header">
    <div class="col-3 clickable sorting-button" onclick="SortBy('Name')">TEAMS</div>
    <div class="col-2 clickable sorting-button" onclick="SortBy('Location')">LOCATION</div>
    <div class="col-2 clickable sorting-button" onclick="SortBy('AdditionDate')">ADDED AT</div>
    <div class="col-2">SUBCATEGORY</div>
    <div class="col-2">CATEGORY</div>
</div>
<div id="teams-table-body" class="entire-row">
    @foreach (var team in Model.Teams.Details)
    {
        <div class="row entire-row team-row" ondblclick="StartEditing(@team.Id, '@team.Name',@team.CategoryId,@team.SubcategoryId, '@team.LogoName', @team.LocationId)">
            <div class="col-3">@team.Name</div>
            <div class="col-2">@team.LocationName</div>
            <div class="col-2">@team.AdditionDate.Date.ToString("d")</div>
            <div class="col-2">@team.SubcategoryName</div>
            <div class="col-2">@team.CategoryName</div>
            <div class="col-1 edit-delete-section hidden-element">
                <div class="clickable" onclick="StartEditing(@team.Id, '@team.Name',@team.CategoryId,@team.SubcategoryId, '@team.LogoName', @team.LocationId)">edit</div>
                <div class="clickable" onclick="AskToDelete(@team.Id)"><img src="~/img/TrashBin.png" class="trash-bin"/></div>
            </div>
        </div>
    }
</div>
@if (Model.Teams.QuantityOfResults > 5)
{
    <div class="row entire-row" id="teams-table-footer">
        <div class="col-4 p-3" id="page-selection-div">
            <img src="~/img/arrow-left.png" onclick="ShowPage(page-1)">
            <div id="page-numbers-div">
                @if (Model.QuantityOfPages > 5)
                {
                    <div class="page-number @if (Model.CurrentPage == 1) { @Html.Raw("current-page")} " onclick="ShowPage(1)">1</div>
                    <div>...</div>
                    if (Model.CurrentPage != 1 && Model.CurrentPage != Model.QuantityOfPages)
                    {
                        <div class="page-number current-page" onclick="ShowPage(@Model.CurrentPage)">@Model.CurrentPage</div>
                        <div>...</div>
                    }
                    <div class="page-number @if (Model.CurrentPage == Model.CurrentPage) { @Html.Raw("current-page")}" onclick="ShowPage(@Model.QuantityOfPages)">@Model.QuantityOfPages</div>
                }
                else
                {
                    for (int i = 0; i < Model.QuantityOfPages; i++)
                    {
                        bool addCurrPageClass = false;
                        if ((i + 1) == Model.CurrentPage) addCurrPageClass = true;
                        <div class="page-number @if (addCurrPageClass) { @Html.Raw("current-page")}" onclick="ShowPage(@(i+1))">@(i+1)</div>
                    }
                }
            </div>
            <img src="~/img/arrow-right.png" onclick="ShowPage(page+1)">
            <div id="rows-info">
                @((Model.CurrentPage - 1)*Model.QuantityOfResultsOnPage + 1) - @if (Model.CurrentPage * Model.QuantityOfResultsOnPage > Model.Teams.QuantityOfResults) {@Model.Teams.QuantityOfResults} else { @(Model.CurrentPage * Model.QuantityOfResultsOnPage)}  of @Model.Teams.QuantityOfResults results
            </div>
        </div>
        <div class="col-4 p-3"></div>
        <div class="col-4 p-3" id="change-result-quantity-section">
            Results per page
            <select class="form-select team-table-select" id="team-quantity-selector">
                @if (Model.QuantityOfResultsOnPage == 5)
                {
                    <option selected value="5">5</option>
                }
                else
                {
                    <option value="5">5</option>
                }
                @if (Model.QuantityOfResultsOnPage == 10)
                {
                    <option selected value="10">10</option>
                }
                else
                {
                    <option value="10">10</option>
                }
                @if (Model.QuantityOfResultsOnPage == 20)
                {
                    <option selected value="20">20</option>
                }
                else
                {
                    <option value="20">20</option>
                }
                @if (Model.QuantityOfResultsOnPage == 50)
                {
                    <option selected value="50">50</option>
                }
                else
                {
                    <option value="50">50</option>
                }
            </select>
        </div>
    </div>
}
