﻿@model sports_hub_portal.Views.Teams.TeamsPageModel
@using sports_hub_portal.Pages.Notifications
@{
    Layout = "~/Pages/Shared/_TestLayout.cshtml";
    ViewBag.Name = "Teams Page";
}
@section Styles {
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/TeamPage.css">
    <link rel="stylesheet" href="~/css/inputs-and-buttons-styles.css">
    <link rel="stylesheet" href="~/css/general-styles.css">
    <link rel="stylesheet" href="~/css/popUpBox.css">
    <link rel="stylesheet" href="~/css/notificationBox.css">
}
<script src="https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.js"></script>
<div class="from-top-shadow" id="upper-panel">
    <h4>Teams</h4>
    <div id="add-team-button" class="clickable">
        + Add Team
    </div>
</div>
<div class="container teams-page-spacer" id="map-container">
    @Html.AntiForgeryToken()
    @(await Html.PartialAsync("/Pages/Shared/_WrongFormatPopUp.cshtml"))
    @(await Html.PartialAsync("AreYouSureToDeleteTeamPopUp"))
    @(await Html.PartialAsync("/pages/Notifications/Notification.cshtml", new NotificationModel {
        Sucsess = false,
        EnableRetryButton = false,
        Id = "notification-about-input-error",
        Header = "Error.",
        MainText = "Please check inputs.",
        InitiallyHidden = true
    }))
    @(await Html.PartialAsync("/pages/Notifications/Notification.cshtml", new NotificationModel {
        Sucsess = false,
        EnableRetryButton = true,
        Id = "notification-about-uknown-error",
        Header = "Somephing went wrong!",
        MainText = "An error occured, please try again later.",
        InitiallyHidden = true
    }))
    @if (Model.ResultState)
    {
        var errormodel = new NotificationModel
        {
            Sucsess = true,
            EnableRetryButton = false,
            Id = "notification-about-update-team-info",
            Header = "Success!",
            MainText = Model.Result,
            InitiallyHidden = false
        };
        @(await Html.PartialAsync("/pages/Notifications/Notification.cshtml", errormodel))
    }
    else if (!string.IsNullOrEmpty(Model.Result))
    {
        var errormodel = new NotificationModel
        {
            Sucsess = false,
            EnableRetryButton = false,
            Id = "server-side-error",
            Header = "Somephing went wrong!",
            MainText = Model.Result,
            InitiallyHidden = false
        };
        @(await Html.PartialAsync("/pages/Notifications/Notification.cshtml", errormodel))
    }
    <div id="map-field" class="row">
        <div id="map" class="col-7 no-padding h-100">

        </div>
        <div id="team-info-form-div" class="col-5 h-100">
            <form id="add-team-form" method="post" asp-action="AddTeam" onsubmit="return CheckTeamInputs();"></form>
            <div class="text-above-input-fields">Select location</div>
            <select class="form-select form-control add-teams-select clickable input-border input-font" form="add-team-form" name="TeamLocation" id="location-selector">
                <option selected value="0">Any</option>
                @foreach (var location in Model.TeamLocations)
                {
                    <option value="@location.Id">@location.Name</option>
                }
            </select>
            <div class="text-above-input-fields">Select category</div>
            <select class="form-select form-control add-teams-select clickable input-border input-font" form="add-team-form" name="TeamCategory" id="category-selector">
                <option selected value="0">Any</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id.ToString()"> @category.CategoryName </option>
                }
            </select>
            <div class="text-above-input-fields">Select subcategory</div>
            <select class="form-select form-control add-teams-select clickable input-border input-font" form="add-team-form" name="TeamSubcategory" id="subcategory-selector">
                <option selected value='0'>Any</option>
            </select>
            <div class="text-above-input-fields">Enter name</div>
            <input type="text" class="form-control input-border input-font" name="TeamName" id="team-name-input" form="add-team-form">
            <input type="hidden" name="EditingId" id="team-editing" value="0" form="add-team-form">
            <input type="hidden" name="TeamLogo" id="team-logo-name" form="add-team-form">
            <div id="drop-zone" class="hidden-element">
                <div class="zero-height">
                    <div id="drop-zone-icon-and-text">
                        <div id="label-wrapper">
                            <label for="logo-upload" id="upload-icon-div" class="clickable">
                                <img src="~/img/Group156.png" id="logo-upload-icon">
                            </label>
                        </div>
                        <div id="add-logo-text"><div id="red-add-text">Add logo</div>, right here</div>
                    </div>
                </div>
                <div id="team-logo-div">
                    <img class="hidden-element" id="team-logo" />
                </div>
            </div>
            <form method="post" id="logo-form" enctype="multipart/form-data">
                <input type="file" id="logo-upload" name="TeamLogo">
            </form>
            <input type="submit" id="add-to-list-button" class="form-control no-border invalid-button-red teams-page-spacer" value="Add a team" form="add-team-form">
            <div id="cancel-button"><div id="cancel-word" class="invalid-button-transparent clickable">Cancel</div></div>
        </div>
        <div id="teams-table">
            @( await Html.PartialAsync("TeamsTable",Model.TableModel))
        </div>
        <form asp-action="DeleteTeam" method="post" id="delete-team">
            <input type="hidden" name="Id" id="delete-team-id-input" />
        </form>
        <div id="add-location-map-pop-up" class="hidden-element">
            <div>
                <h4>Add location</h4>
                <div>lng:<div class="longitude"> </div></div>
                <div>lat:<div class="latitude"> </div></div>
                <form asp-action="AddLocation" method="post">
                    <input type="hidden" name="Longitude" />
                    <input type="hidden" name="Latitude" />
                    <input type="text" class="form-control input-border input-font location-name-input no-focus-shadow" name="LocationName" placeholder="Enter location name">
                    <input type="submit" class="form-control add-location-button no-border no-focus-shadow" value="Add location">
                </form>
            </div>
        </div>
        <div class="hidden-element">
            <div id="internal-wrapper-of-zoom-controls">
                <div class="m-1">
                    <img src="~/img/ZoomIn.png" class="zoom-in" />
                </div>
                <div class="m-1">
                    <img src="~/img/ZoomOut.png" class="zoom-out" />
                </div>
            </div>
            <div id="internal-wrapper-of-rotation-controls">
                <div class="m-1">
                    <img src="~/img/MapReset.png" class="reset-rotation" />
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        //#region Maps functionality

            // Holds value of coordinates of user mouse. Changes every time user moves mouse over the map
            var coordinates;

            // Markers of locations on the map
            const features = [
                            @foreach (var location in Model.TeamLocations)
                            {
                                @(Html.Raw("{\n"))
                                @(Html.Raw("    'type': 'Feature',\n"))
                                @(Html.Raw("    'properties': {\n"))
                                @(Html.Raw("        'description': '<h6 class =\"pt-2\" >" + location.Name + "</h6>',\n"))
                                @(Html.Raw("        'icon': 'Team'\n"))
                                @(Html.Raw("    },\n"))
                                @(Html.Raw("    'geometry': {\n"))
                                @(Html.Raw("        'type': 'Point',\n"))
                                @(Html.Raw("        'coordinates': [" + location.Longitude.ToString() + ", " + location.Latitude.ToString() + "]\n"))
                                @(Html.Raw("    },\n"))
                                @(Html.Raw("    'id': '" + location.Id + "'\n"))
                                @(Html.Raw("},\n"))
                            }
            ];

            //Mapbox token
            mapboxgl.accessToken = '@Model.Token';

            // Map initialization
            const map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/koliasick/ckuabxcry2pna17mwoqevlefw',
                center: [-96, 38.907],
                zoom: 3
            });

            map.on('load', () => {

                // Loads Image for team markers
                map.loadImage(
                    window.location.href.slice(0, window.location.href.indexOf('/', 9)) + '/img/TeamPointer.png',
                    (error, image) => {
                        if (error) throw error;
                        map.addImage('Team', image);
                    });

                // Adds team markers to map
                map.addSource('places', {
                    'type': 'geojson',
                    'data': {
                        'type': 'FeatureCollection',
                        'features': features
                    }
                });

                // Adds layer on which markers are shown
                map.addLayer({
                    'id': 'places',
                    'type': 'symbol',
                    'source': 'places',
                    'layout': {
                        'icon-image': 'Team',
                        'icon-allow-overlap': true
                    }
                });

                // When user clicks on team marker this part of code gets 
                map.on('click', 'places', (e) => {
                    const id = e.features[0].id;
                    $('#location-selector').val(id).change();
                });

                // Creates new map PopUp without close button at the corner
                const mapPopUp = new mapboxgl.Popup({ closeButton: false });

                // Shows you PopUp with plase name when you start hovering above its marker and makes your cursor pointer
                map.on('mouseenter', 'places', (e) => {
                    map.getCanvas().style.cursor = 'pointer';
                    const coordinates = e.features[0].geometry.coordinates.slice();
                    const description = e.features[0].properties.description;
                    while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                    }
                    mapPopUp.setLngLat(coordinates)
                        .setHTML(description)
                        .addTo(map);
                });

                // Removes PopUp when you stop hovering over marker and returns your cursor to normal
                map.on('mouseleave', 'places', () => {
                    map.getCanvas().style.cursor = '';
                    mapPopUp.remove();
                });

                // Writes coordinates of your mouse to variable whenever you move mouse on map
                map.on('mousemove', (e) => {
                    coordinates = e.lngLat.wrap();
                });

                // On click checks if you clicked on marker and if not creates add new location PopUp
                map.on('click', (e) => {
                    const features = map.queryRenderedFeatures(e.point);
                    if (features.length > 0 && features[0].source == 'places') return;
                    $('.longitude').html(coordinates.lng);
                    $('.latitude').html(coordinates.lat);
                    document.getElementsByName('Longitude')[0].setAttribute('value', coordinates.lng);
                    document.getElementsByName('Latitude')[0].setAttribute('value', coordinates.lat);
                    while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                    }
                    new mapboxgl.Popup()
                        .setLngLat(coordinates)
                        .setHTML($('#add-location-map-pop-up').html())
                        .addTo(map);
                });

                // Adds custom zoom and rotation controls
                map.addControl(new CustomZoomControl(), 'top-right');
                map.addControl(new CustomRotationControl(), 'bottom-right');

                // Adds listeners with correspondons actions on control buttons
                $('.zoom-in').on('click', () => { map.flyTo({ zoom: map.getZoom() + 1 }); });
                $('.zoom-out').on('click', () => { map.flyTo({ zoom: map.getZoom() - 1 }); });
                $('.reset-rotation').on('click', () => { map.easeTo({ bearing: 0, pitch: 0}); });
            });

            // Custom Mapbox control class. There must be onAdd and onRemove method in Mapbox controls
            class CustomZoomControl {
                onAdd(map) {
                    this.map = map;
                    this.container = document.getElementById('internal-wrapper-of-zoom-controls');
                    this.container.className = "mapboxgl-ctrl mapboxgl-ctrl-group controls-styles";
                    return this.container;
                }
                onRemove() {
                    this.container.parentNode.removeChild(this.container);
                    this.map = undefined;
                }
            }
            class CustomRotationControl
            {
                onAdd(map) {
                    this.map = map;
                    this.container = document.getElementById('internal-wrapper-of-rotation-controls');
                    this.container.className = "mapboxgl-ctrl mapboxgl-ctrl-group controls-styles";
                    return this.container;
                }
                onRemove() {
                    this.container.parentNode.removeChild(this.container);
                    this.map = undefined;
                }
            }

            // When you change location map moves to location you selected
            $('#location-selector').on('change', () => {
                const selectedId = $('#location-selector').val();
                const moveTo = features.find(f => f.id == selectedId).geometry.coordinates;
                map.flyTo({ center: moveTo });
            });
        //#endregion
        //#region Drag 'n drop and logo upload functionality 

            var dropzone = $('#drop-zone');

            //Makes every alredy existing drag and drop on this part irelevant
            dropzone.on('drag dragstart dragend dragover dragenter dragleave drop', function (e) {
                e.preventDefault();
                e.stopPropagation();
            })

            //On drop gets dropped files checks if file haves allowed filename extentions and if yes puts it inside input and calls SendLogo function
            dropzone.on('drop', function (e) {
                let files = e.originalEvent.dataTransfer.files;
                if (files[0].name.split(".").pop() == "jpeg" || files[0].name.split(".").pop() == "png" || files[0].name.split(".").pop() == "tif" || files[0].name.split(".").pop() == "jpg") {
                    document.getElementById('logo-upload').files = files;
                    SendLogo();
                }
                else {
                    MakeVisible('wrong-format-pop-up');
                }
            });

            //When user chooses file it checks if filename extention is allowed and then calls SendLogo
            $('#logo-upload').on("change", () => {
                let file = $("#logo-upload")[0].files[0];
                if (file.name.split(".").pop() == "jpeg" || file.name.split(".").pop() == "png" || file.name.split(".").pop() == "tif" || file.name.split(".").pop() == "jpg") {
                    SendLogo();
                }
                else {
                    MakeVisible('wrong-format-pop-up');
                }
            });

            //Sends team Logo to server via post request as a form containing image.
            function SendLogo() {
                let formdata = new FormData(document.getElementById("logo-form"));
                let csrf = document.getElementsByName('__RequestVerificationToken')[0].value;
                let data = {
                    method: 'post',
                    headers: {
                        'XSRF-TOKEN': csrf
                    },
                    body: formdata
                }
                let url = window.location.href.slice(0, window.location.href.indexOf('/', 9));
                fetch(url + '/Teams/PostTeamLogo', data)
                    .then((res) => res.text())
                    .then((res) => {
                        MakeVisible('team-logo');
                        MakeHidden('drop-zone-icon-and-text');
                        $('#team-logo').attr('src', "/img/TeamLogoUploads/" + res);
                        $('#team-logo-name').val(res);
                    })
                    .catch((error) => {
                        $('.retry').off();
                        $('.retry').on('click', () => { SendLogo(); });
                        UknownError();
                    });
            }
        //#endregion
        //#region Subcategories loading functionality 

            //Creates an event which supposed to fire every time application recieves and inserts into corresponding select subcategories options of selected category
            var GotSubcategories = new Event('gotSubcategories');

            $('#category-selector').on('change', () => {
                GetSubcategories();
            })

            //Gets subcategories of selected category and inserts it an options into subcategory select
            function GetSubcategories()
            {
                $('#subcategory-selector').html('<option selected value="0">Any</option>');
                let data = {
                    method: 'get'
                }
                let url = window.location.href.slice(0, window.location.href.indexOf('/', 9));
                fetch(url + '/Teams/GetSubcategories' + '?CategoryId=' + $('#category-selector').val(), data)
                    .then((res) => res.json())
                    .then((res) => {
                        for (var sub of res) {
                            $('#subcategory-selector').append('<option value="' + sub.id + '">' + sub.categoryName + '</option>');
                        }
                        document.dispatchEvent(GotSubcategories);
                    })
                    .catch((error) => {
                        $('.retry').off();
                        $('.retry').on('click', () => { GetSubcategories(); });
                        UknownError();
                    });
            }
        //#endregion
        //#region Teams table functionality

            //Holds number of page currently selected
            var page = 1;

            //Holds quantity of pages of teams with selected filtering paramethers
            var numberOfPages = @Model.TableModel.QuantityOfPages;

            //Holds current sorting settings
            var sortBy =
            {
                field: null,
                type: 'descending'
            }

            //Shows first page as soon as user changes filtering paramethers ar number of users on page
            $('#location-selector, #category-selector, #subcategory-selector, #team-name-input, #team-quantity-selector').on('change', () => { ShowPage(1); });

            //Gets filtering paramethers from inputs and gets table page partial from server and shows it
            function ShowPage(pageNumber)
            {
                if (pageNumber < 1) pageNumber = 1;
                else if (pageNumber > numberOfPages) pageNumber = numberOfPages;
                page = pageNumber;
                let rowsOnPage = $('#team-quantity-selector').val();
                if (rowsOnPage == null) rowsOnPage = 5;
                let location = $('#location-selector').val();
                let category = $('#category-selector').val();
                let subcategory = $('#subcategory-selector').val();
                let teamName = $('#team-name-input').val()
                let data = {
                    method: 'get'
                }
                let url = window.location.href.slice(0, window.location.href.indexOf('/', 9));
                fetch(url + '/Teams/GetTeamsTable' + '?Page=' + pageNumber + '&QuantityOfRows=' + rowsOnPage + '&Name=' + teamName + '&LocationId=' + location + '&CategoryId=' + category + '&SubcategoryId=' + subcategory + '&SortBy=' + sortBy.field + '&SortType=' + sortBy.type, data)
                    .then((res) => res.text())
                    .then((res) => {
                        $('#teams-table').html(res);
                        $('#team-quantity-selector').on('change', () => { ShowPage(1); });
                    })
                    .catch((error) => {
                        $('.retry').off();
                        $('.retry').on('click', () => { ShowPage(pageNumber); });
                        UknownError();
                    });
            }

            //Function that is being called when user clicks edit on particular team, it fills input forms with user data
            function StartEditing(teamId, name, categoryId, subcategoryId, logoName, locationId)
            {
                EnableTeamInput();
                $('#team-editing').val(teamId);
                $('#location-selector').val(locationId).change();
                document.addEventListener('gotSubcategories', () => { SetSubcategory(subcategoryId); });
                $('#category-selector').val(categoryId).change();
                $('#team-name-input').val(name);
                MakeVisible('team-logo');
                MakeHidden('drop-zone-icon-and-text');
                $('#team-logo').attr('src', "/img/TeamLogoUploads/" + logoName);
                $('#team-logo-name').val(logoName);
                $('#add-to-list-button').val('Apply changes');
            }

            //Function that is being called when user clicks delete on particular team, it shows delete confirmation PopUp
            function AskToDelete(Id)
            {
                MakeVisible('delete-pop-up');
                $('#delete-button').on('click', () => { Delete(Id); })
            }

            //Gets called when user confirms that he is sure to delete team, fills hidden delete form and submits it
            function Delete(Id)
            {
                $('#delete-team-id-input').val(Id);
                $('#delete-team')[0].submit();
            }

            //Gets called when user presses edit team and subcategories list is loaded, sets subcategory input value
            function SetSubcategory(Id)
            {
                document.removeEventListener('gotSubcategories', arguments.callee);
                $('#subcategory-selector').val(Id).change();
            }

            //Gets called when user clicks on field name on teams table, changes table sorting.
            function SortBy(fieldName)
            {
                if (sortBy.field == fieldName) {
                    if (sortBy.type == 'descending')
                        sortBy.type = 'ascending';
                    else sortBy.type = 'descending';
                }
                else {
                    sortBy.field = fieldName;
                    sortBy.type = 'ascending';
                }
                ShowPage(1);
            }
        //#endregion
        //#region General page functionality 

            $('#add-team-button').on('click', EnableTeamInput);

            // Enables add-team and cancel buttons and sets actions for cancel button
            function EnableTeamInput()
            {
                $('#add-to-list-button').val('Add a team');
                MakeVisible('drop-zone');
                $('#add-to-list-button').removeClass('invalid-button-red');
                $('#cancel-word').removeClass('invalid-button-transparent');
                $('#team-editing').val('0');
                $('#cancel-word').on('click', () => {
                    $('#add-team-form')[0].reset();
                    $('#logo-form')[0].reset();
                    MakeHidden('team-logo');
                    $('#team-logo').attr('src', '');
                    MakeVisible('drop-zone-icon-and-text');
                    MakeHidden('drop-zone');
                    $('#add-to-list-button').addClass('invalid-button-red');
                    $('#cancel-word').addClass('invalid-button-transparent')
                    $('#cancel-word').off('click');
                    $('#subcategory-selector').html('<option selected value="0">Any</option>')
                    $('#team-editing').val('0');
                    ShowPage(1);
                    UncheckedInput('location-selector');
                    UncheckedInput('category-selector');
                    UncheckedInput('subcategory-selector');
                    UncheckedInput('team-name-input');
                });
            }

            //Closes wrong format PopUp on click
            $('#ok-button').on('click', () => { MakeHidden('wrong-format-pop-up'); });

            //Closes delete confirmation PopUp on cancel
            $('#do-not-delete').on('click', () => { MakeHidden('delete-pop-up'); });

            //Checks if every essential field is filled on submit
            function CheckTeamInputs()
            {
                if ($('#add-to-list-button')[0].classList.contains('invalid-button-red')) return false;
                let TeamName = $('#team-name-input').val();
                let Location = $('#location-selector').val();
                let Category = $('#category-selector').val();
                let result = true;
                if (Location < 1) {
                    InputError('location-selector');
                    result = false;
                }
                else { InputOk('location-selector'); }
                if (Category < 1) {
                    InputError('category-selector');
                    result = false;
                }
                else { InputOk('category-selector'); }
                if (TeamName.length == 0)
                {
                    InputError('team-name-input');
                    result = false;
                }
                else { InputOk('team-name-input'); }
                if (!result) {
                    $('.notification').addClass("hidden-element");
                    MakeVisible('notification-about-fields-error');
                }
                return result;
            }

            //Adds error classes to input
            function InputError(inputId) {
                $('#' + inputId).removeClass("input-border-ok");
                $('#' + inputId).addClass("input-border-fail");
            }

            //Adds ok classes to input
            function InputOk(inputId) {
                $('#' + inputId).removeClass("input-border-fail");
                $('#' + inputId).addClass("input-border-ok");
            }

            //Removes error classes from inputs when they change
            $('#location-selector').on('change', () => { UncheckedInput('location-selector') });
            $('#category-selector').on('change', () => { UncheckedInput('category-selector') });
            $('#team-name-input').on('change', () => { UncheckedInput('team-name-input') });

            //Removes error classes from input
            function UncheckedInput(inputId) {
                $('#' + inputId).removeClass('input-border-ok');
                $('#' + inputId).removeClass('input-border-fail');
            }
        //#endregion
    </script>
    <script src="~/js/commonActions.js"></script>
}