﻿<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sports Hub - @ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div class="container-fluid no-padding">
        <div class="row no-margin">
            <div class="d-flex no-padding">
                <a class="d-flex align-items-center justify-content-center" id="left-corner-box" asp-controller="Home" asp-action="Index">
                    <div class="left-corner-box-text">Sports Hub</div>
                </a>
                <img class="img-fluid height-by-view-100" src="~/img/Login.png" alt="Alternate Text" />
            </div>
            @RenderBody()
        </div>



    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
