﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/add-category.css" />
</head>
<body>
    <div class="container category-list">
        <div class="row">
            <div class="col-4 col-sm-3 categories">
                <ul>
                    <li><a href="#" class="click open-popup-categ">+ Add category</a></li>
                    <li class="category" id="category0"><a href="#" class="click open-subcategories">NBA</a></li>

                </ul>
            </div>
            <div class="col-4 col-sm-3 subcategories">
                <ul>
                    <li><a href="#" class="click open-popup-subcateg">+ Add subcategory</a></li>
                    <li class="subcategory" id="subcategory0"><a href="#" class="click open-teams">West</a></li>
                </ul>
            </div>
            <div class="col-4 col-sm-3 teams">
                <ul>
                    <li><a href="#" class="click open-popup-team">+ Add team</a></li>
                    <li class="team" id="team0">WFC</li>
                </ul>
            </div>
        </div>
        <div id="add-popup">
            <h1>Add new category</h1>
            <p>Name</p>
            <input type="text" id="newItem" placeholder="Name your menu category" /><br />
            <div class="add-cancel-btns">
                <input type="submit" id="cancel" value="Cancel" />
                <input type="submit" id="add" value="Add" />
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
