﻿@using sports_hub_portal.Helpers
@using Microsoft.AspNetCore.Identity
@using DAL.Models
@using DAL.EF

@inject SignInManager<ApplicationUser> signInManager
@inject ApplicationContext applicationContext

@{
    if (signInManager.IsSignedIn(User))
    {
        ViewData["FirstName"] = applicationContext.UserProfiles.FirstOrDefault(x => x.EmailAddess == User.Identity.Name).FirstName;
        ViewData["LastName"] = applicationContext.UserProfiles.FirstOrDefault(x => x.EmailAddess == User.Identity.Name).LastName;
        ViewData["EmailAddress"] = applicationContext.UserProfiles.FirstOrDefault(x => x.EmailAddess == User.Identity.Name).EmailAddess;
        ViewData["AccountIcon"] = applicationContext.UserProfiles.FirstOrDefault(x => x.EmailAddess == User.Identity.Name).AvatarName;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - sports_hub_portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <environment include="Development">
        <link rel="stylesheet" href="~/css/layout.css">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/add-category.css" />
        <link rel="stylesheet" href="~/css/left-side-nav-bar.css" />
        <link rel="stylesheet" href="~/css/authorizedUser.css" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/bundle.min.css" />        
    </environment>
   
    @RenderSection("Styles")
</head>
<body onload="LoadMenu()">
    <header>
        <div class="container-fluid">
            <div class="row">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <div class="col logo bg-red">
                        <span>
                            Sports hub
                        </span>
                    </div>
                </a>
                <div class="col searchbar gray-border right-btm-border">
                    <i class="icon-loupe"></i>
                    <input type="text" placeholder="Search by" />
                </div>
                <div class="col-2 sharebar gray-border right-btm-border">
                    <div>
                        <span>
                            Share
                        </span>
                        <i class="icon-facebook"></i>
                        <i class="icon-twitter"></i>
                        <i class="icon-googleplus"></i>
                    </div>
                </div>
                <div class="col-3 flex space-evenly horizontal-center vertical-center gray-border right-btm-border">
                    @if (!signInManager.IsSignedIn(User))
                    {
                        <a href="/Account/Register"><div class="sign-up"><span>Sign up</span></div></a>
                        <a href="/Account/Login"><div class="log-in border-red"><span>Log in</span></div></a>
                    }
                    else
                    {

                        <div class="user d-flex align-items-center">
                            <div class="avatar">
                                <img src="/img/uploads/@ViewData["AccountIcon"]" alt="Alternate Text" />
                            </div>
                            @ViewData["FirstName"]
                            @ViewData["LastName"]
                            <div class="dropdown">
                                <button onclick="myFunction()" class="dropdown-toggle dropbtn ">
                                </button>

                                <div id="myDropdown" class="menu-for-authorized">
                                    <div class="profile-info">
                                        @ViewData["FirstName"]
                                        @ViewData["LastName"]
                                        <span class="email">
                                            @ViewData["EmailAddress"]
                                        </span>
                                    </div>
                                    <ul>
                                        <li>
                                            <form method="post" asp-controller="" asp-action="">
                                                <button type="submit">View profile</button>
                                            </form>
                                        </li>
                                        <li>
                                            <form method="post" asp-controller="" asp-action="">
                                                <button type="submit">Change password</button>
                                            </form>
                                        </li>
                                        <li>
                                            <form method="post" asp-controller="" asp-action="">
                                                <button type="submit">Team hub</button>
                                            </form>
                                        </li>
                                        <li>
                                            <form method="post" asp-controller="Account" asp-action="Logout">
                                                <button type="submit" class="log-out">Log out</button>
                                            </form>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    }
                    <div class="language">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            en
                        </button>
                        <div class="dropdown-menu" aria-labelledby="languageDropdownMenuButton">
                            <a class="dropdown-item" href="#">ua</a>
                            <a class="dropdown-item" href="#">ru</a>
                            <a class="dropdown-item" href="#">fr</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

            <div class="row bottom-nav top-border darkgray-border">
                <div class="col">
                    <p class="title">Company Info</p>
                    <a href="">
                        <p>About Sports Hub</p>
                    </a><a href="">
                        <p>News / In the Press</p>
                    </a><a href="">
                        <p>Advertising / Sports Blogger Ad Network</p>
                    </a><a href="">
                        <p>Events</p>
                    </a><a href="">
                        <p>Contact Us</p>
                    </a>
                </div>
                <div class="col">
                    <p class="title">Contributors</p>
                    <a href="">
                        <p>Featured Writers Program</p>
                    </a><a href="">
                        <p>Featured Team Writers Program</p>
                    </a><a href="">
                        <p>Internship Program</p>
                    </a>
                </div>
                <div class="col">
                    <p class="title">Company Info</p>
                    <form action="">
                        <label for="exampleInputEmail1">Sign up to receive the latest sports news</label>
                        <div class="input-group form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Your email address" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <a href="#" class="left-menu-icon" onclick="OpenLeftSideMenu()">
        <i class="fa fa-bars"></i>
    </a>
    <div class="sidebar">
        <nav class="nav flex-column menu">
            <a class="nav-link" asp-area="" asp-page="/Index"><img src="/img/red-dot.svg" alt="dot" />Home</a>
            @MenuHelper.RenderMenu(Html)
            <a class="nav-link" asp-controller="Categories" asp-action="Categories"><img src="/img/red-dot.svg" alt="dot" />Add category</a>
        </nav>
        <div class="container follow">
            <div class="row">
                <div class="col-12 text">Follow</div>
                <div class="col-6"><img src="/img/facebook.svg" alt="Facebook logo" style="height: 16px; width: 8px" /></div>
                <div class="col-6"><img src="/img/twitter.svg" alt="Twitter logo" style="height: 14px; width: 16px" /></div>
                <div class="w-100"></div>
                <div class="col-6"><img src="/img/google.svg" alt="Google logo" style="height: 15px; width: 15px" /></div>
                <div class="col-6"><img src="/img/youtube.svg" alt="YouTube logo" style="height: 13px; width: 18px" /></div>
            </div>
        </div>
    </div>
   
    <footer class="border-top footer text-muted bg-red">

        <div>
            <div>
                <span class="footer-title">
                    Sports Hub
                </span>
            </div>
            <div>
                <span class="footer-copyright">
                    <p>Copyright &copy;2019 Sports Hub</p><a asp-area="" asp-page="/Privacy"><p>Privacy/Terms</p></a>
                </span>
            </div>

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/category.js" asp-append-version="true"></script>
        <script src="~/js/sidebar.js" asp-append-version="true"></script>
        <script src="~/js/authorizedUser.js" asp-append-version="true"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/js/bundle.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
