<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - sports_hub_portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/add-category.css" />
    <link rel="stylesheet" href="~/css/left-side-nav-bar.css" />
    @RenderSection("Styles")
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <div class="col logo bg-red">
                        <span>
                            Sports hub
                        </span>
                    </div>
                </a>
                <div class="col searchbar gray-border right-btm-border">
                    <i class="icon-loupe"></i>
                    <input type="text" placeholder="Search by" />
                </div>
                <div class="col-2 sharebar gray-border right-btm-border">
                    <div>
                        <span>
                            Share
                        </span>
                        <i class="icon-facebook"></i>
                        <i class="icon-twitter"></i>
                        <i class="icon-googleplus"></i>
                    </div>
                </div>
                <div class="col-3 flex space-evenly horizontal-center vertical-center gray-border right-btm-border">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="/Account/Register"><div class="sign-up"><span>Sign up</span></div></a>
                        <a href="/Account/Login"><div class="log-in border-red"><span>Log in</span></div></a>
                    }
                    else
                    {
                        <form method="post" asp-controller="Account" asp-action="Logout">
                            <span>@User.Identity.Name</span>
                            <input type="submit" value="Log Out" />
                        </form>
                    }
                    <div class="language">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            en
                        </button>
                        <div class="dropdown-menu" aria-labelledby="languageDropdownMenuButton">
                            <a class="dropdown-item" href="#">ua</a>
                            <a class="dropdown-item" href="#">ru</a>
                            <a class="dropdown-item" href="#">fr</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/category.js" asp-append-version="true"></script>
    <script src="~/js/sidebar.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
