﻿<div class="pop-up hidden-element" id="wrong-format-pop-up">
    <div class="background"></div>
    <div class="pop-up-box">
        <div class="pop-up-image-centerer">
            <div class="pop-up-image-cropper">
                <img src="~/img/Group33.png">
            </div>
        </div>
        <div class="error-name">
            Wrong image format!
        </div>
        <div class="error-text">Please choose other image format.</div>
        <div class="error-text">We support only the next formats:</div>
        <div class="error-text pop-up-bold">.png .jpg .jpeg .tif</div>
        <div class="horizontal-line"></div>
        <div class="red-button-wrapper"><div class="red-button pop-up-red-button" id="ok-button">Ok, got it!</div></div>
    </div>
</div>
