﻿<div class="pop-up hidden-element" id="add-partner-pop-up">
    <div class="background"></div>
    <div class="pop-up-box" id="add-partner-pop-up">
        <div id="add-partner-text-wrapper">
            <h4> Add new News Partner </h4>
        </div>
        <form method="post" asp-action="AddPartner" id="add-partner-form">
            <div class="text-above-input-fields margin-bottom-6">name</div>
            <select name="NewsProvider" id="provider-selector" class="form-control provider-page-selector input-border input-font">
                <option value='Google News'>Google News</option>
                <option value='Another News Partner'>Another News Partner</option>
            </select>
        </form>
        <div class="pop-up-buttons-wrapper">
            <div id="do-not-add" class="pop-up-cancel-button" onclick="MakeHidden('add-partner-pop-up')">Cancel</div>
            <input class="red-button pop-up-red-button" id="add-confirm-button" value="Add" type="submit" form="add-partner-form">
        </div>
    </div>
</div>
