﻿<div class="pop-up hidden-element" id="cancel-pop-up">
    <div class="background"></div>
    <div class="pop-up-box">
        <div class="pop-up-image-centerer">
            <div class="pop-up-image-cropper">
                <img src="~/img/Group33.png">
            </div>
        </div>
        <div class="error-name">
            You are sure want to cancel?
        </div>
        <div class="error-text">If you cancel this page all entered</div>
        <div class="error-text padding-bottom-15">partners settings will be missed!</div>
        <div class="horizontal-line"></div>
        <div class="pop-up-buttons-wrapper">
            <div id="do-not-cancel" class="pop-up-cancel-button mr-4">No</div>
            <div class="red-button-wrapper"><div class="red-button pop-up-red-button" id="cancel-changes-button">Yes</div></div>
        </div>
    </div>
</div>
