﻿<div class="pop-up hidden-element" id="disable-pop-up">
    <div class="background"></div>
    <div class="pop-up-box">
        <div class="pop-up-image-centerer">
            <div class="pop-up-image-cropper">
                <img src="~/img/Group33.png">
            </div>
        </div>
        <div class="error-name">
            You are about to disable this partner!
        </div>
        <div class="error-text">This partner will be disabled.</div>
        <div class="error-text padding-bottom-15">Are you sure?</div>
        <div class="horizontal-line"></div>
        <div class="pop-up-buttons-wrapper">
            <div id="do-not-disable" class="pop-up-cancel-button">Cancel</div>
            <div class="red-button-wrapper"><div class="red-button pop-up-red-button" id="disable-button">Disable</div></div>
        </div>
    </div>
</div>
