﻿@model sports_hub_portal.Views.News.NewsPartnersModel
@using sports_hub_portal.Pages.Notifications
@{
    Layout = "~/Pages/Shared/_TestLayout.cshtml";
    ViewBag.Name = "News partners";
}
@section Styles {
    <link rel="stylesheet" href="~/css/news-partners.css">
    <link rel="stylesheet" href="~/css/inputs-and-buttons-styles.css">
    <link rel="stylesheet" href="~/css/general-styles.css">
    <link rel="stylesheet" href="~/css/popUpBox.css">
    <link rel="stylesheet" href="~/css/notificationBox.css">
}
<div class="from-top-shadow" id="upper-panel">
    <h4>News Partners</h4>
    <div id="add-partner-button" class="clickable">
        + Add New Partner
    </div>
</div>
<div class="container">
    @Html.AntiForgeryToken()
    @( await Html.PartialAsync("AddNewPartner"))
    @( await Html.PartialAsync("AreYouSureToCancelPopUp"))
    @( await Html.PartialAsync("AreYouSureToDisablePopUp"))
    @( await Html.PartialAsync("AreYouSureToDeletePartnerPopUp"))
    @( await Html.PartialAsync("/pages/Notifications/Notification.cshtml", new NotificationModel {
        Sucsess = false,
        EnableRetryButton = false,
        Id = "notification-about-uknown-error",
        Header = "Somephing went wrong!",
        MainText = "An error occured, please try again later.",
        InitiallyHidden = true
    }))
    @( await Html.PartialAsync("/pages/Notifications/Notification.cshtml", new NotificationModel {
        Sucsess = false,
        EnableRetryButton = false,
        Id = "notification-about-input-error",
        Header = "Error.",
        MainText = "Fill up required fields or disable partner.",
        InitiallyHidden = true
    }))
    @if (Model.ResultState)
    {
        var errormodel = new NotificationModel
        {
            Sucsess = true,
            EnableRetryButton = false,
            Id = "notification-about-update-partner-info",
            Header = "Success!",
            MainText = Model.Result,
            InitiallyHidden = false
        };
        @(await Html.PartialAsync("/pages/Notifications/Notification.cshtml", errormodel))
    }
    else if (!string.IsNullOrEmpty(Model.Result))
    {
        var errormodel = new NotificationModel
        {
            Sucsess = false,
            EnableRetryButton = false,
            Id = "server-side-error",
            Header = "Somephing went wrong!",
            MainText = Model.Result,
            InitiallyHidden = false
        };
        @(await Html.PartialAsync("/pages/Notifications/Notification.cshtml", errormodel))
    }
    @if (Model.NewsPartners.Count < 1)
    {
        <div class="centerer mt-5">
            <img src="~/img/GreyWarningIcon.png" />
        </div>
        <div class="centerer mt-3">
            <b>News partners page is empty!</b>
        </div>
        <div class="centerer mt-1">
            <div>You can <div id="add-partner-text" class="clickable inline">add new partners</div> here and manage them</div>
        </div>
    }
    else
    {
        <div id="parners-table-header" class="row ml-0 mr-0 mt-3 mb-1 p-3">
            <div class="col-7">
                NEWS PARTNERS NAME
            </div>
            <div class="col-4">
                STATUS
            </div>
            <div class="col-1">
                ACTIONS
            </div>
        </div>
        <div id="partners-table">
            @foreach (var partner in Model.NewsPartners)
            {
                <div class="partner-row">
                    <div data-partner="@partner.Id" class="partner-header row">
                        <div class="col-7">
                            <h6 class="inline clickable" data-partner="@partner.Id">+</h6>
                            <div class="inline partner-name" data-partner="@partner.Id">
                                @partner.Name
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="partner-switch @if(!partner.CanBeEnabled){ @(Html.Raw("not-active"))}">
                                <input type="checkbox" class="enabling-checkbox" data-partner="@partner.Id" value="@partner.Enabled.ToString().ToLower()" @if (partner.Enabled) { @(Html.Raw("checked=\"checked\"")) } />
                                <span class="partner-switch-slider switch-red @if(!partner.CanBeEnabled){ @(Html.Raw("not-active"))} slider-round"></span>
                            </label>
                            <span class="@if(!partner.CanBeEnabled){ @(Html.Raw("not-active"))}">
                                @if (partner.Enabled)
                                {@(Html.Raw("active"))}
                                else
                                { @(Html.Raw("inactive"))}
                            </span>
                        </div>
                        <div class="col-1 edit-partner-icon-wrapper">
                            <div class="clickable"><img src="~/img/Edit.png" class="edit-partner-icon edit-partner" data-partner="@partner.Id" /></div>
                            <div class="clickable"><img src="~/img/TrashBin.png" class="edit-partner-icon delete-partner" data-partner="@partner.Id" /></div>
                            <form method="post" class="delete-form" data-partner="@partner.Id" asp-action="DeletePartner">
                                <input type="hidden" name="PartnerId" value="@partner.Id" />
                            </form>
                        </div>
                    </div>
                    <div class="grey-border edit-team-box-wrapper panel-collapse collapse in" data-partner="@partner.Id" aria-expanded="false">
                        <div class="edit-team-box">
                            <div class="row">
                                <form id="partner-form-@partner.Id" method="post" asp-action="EditPartner" onsubmit="return CheckIfCanSaveWithoutDisablingPartner(@partner.Id);" class="partner-data-form"></form>
                                <input type="hidden" form="partner-form-@partner.Id" name="Id" value="@partner.Id" />
                                <div class="col-6">
                                    <div class="text-above-input-fields margin-bottom-6">api key</div>
                                    <input name="ApiKey" data-partner="@partner.Id" class="form-control input-border input-font" form="partner-form-@partner.Id" value="@partner.Token">
                                </div>
                                <div class="col-6">
                                    <div class="text-above-input-fields margin-bottom-6">default sources</div>
                                    <input name="Sources" data-partner="@partner.Id" class="form-control input-border input-font" form="partner-form-@partner.Id" value="@partner.DefaultSources">
                                </div>
                            </div>
                            <div class="row margin-top-30">
                                <div class="col-3 category-header pl-4">
                                    <label class="category-selection-checkbox all-categories-checkbox" data-partner="@partner.Id">
                                        <input type="checkbox" data-partner="@partner.Id" class="hidden-element category-selection-checkbox-input check-all-categories" value="false">
                                        <span class="category-selection-checkbox-outer"> </span>
                                    </label>
                                    <div class="text-above-input ml-2 mt-0 mb-0">
                                        category
                                    </div>
                                </div>
                                <div class="col-9 category-header">
                                    <div class="text-above-input ml-2 mt-0 mb-0">
                                        sources
                                    </div>
                                </div>
                            </div>
                            <div class="partner-category-list grey-border mt-1">
                                @foreach (var category in Model.Categories)
                                {
                                    <div class="category-row row">
                                        <div class="col-3 category-header">
                                            <label class="category-selection-checkbox one-category-checkbox">
                                                <input type="checkbox" name="CheckCategory-@category.Id" form="partner-form-@partner.Id" data-partner="@partner.Id" class="hidden-element category-selection-checkbox-input check-category-of-partner" @if (partner.CategoriesAndSources.Exists(x => x.category.Id == category.Id) && partner.CategoriesAndSources.Find(x => x.category.Id == category.Id).Enabled) { @(Html.Raw("checked=\"checked\" value=\"true\""))  } else { @(Html.Raw("value=\"false\"")) }>
                                                <span class="category-selection-checkbox-outer"> </span>
                                            </label>
                                            <div class="partner-category-name ml-3">
                                                @category.CategoryName
                                            </div>
                                        </div>
                                        <div class="col-7 category-header">
                                            <input type="text" class="category-sources-input" name="CategorySources-@category.Id" placeholder="type in category source" form="partner-form-@partner.Id" @if (partner.CategoriesAndSources.Exists(x => x.category.Id == category.Id && (!string.IsNullOrEmpty(x.Sources)))) { @Html.Raw($"value=\"" + partner.CategoriesAndSources.Find(x => x.category.Id == category.Id).Sources + "\"") } />
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="row ml-0 mr-0 margin-top-30 parner-buttons-wrapper">
                                <div class="partner-cancel-changes pop-up-cancel-button invalid-button-transparent" data-partner="@partner.Id">Cancel</div>
                                <input type="submit" form="partner-form-@partner.Id" class="partner-save-changes red-button pop-up-red-button mr-0 invalid-button-red" value="Save" data-partner="@partner.Id" name="Save-@partner.Id">
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
@section scripts{
    <script>
        // Fires when you disable partner
        let disablePartner = new Event('disablePartner');

        // Changes partner styles in partner list when you close is
        $('.panel-collapse').on('shown.bs.collapse', function (e) {
            let partnerId = e.currentTarget.dataset.partner;
            $('.partner-header[data-partner="' + partnerId + '"]').addClass('opened');
            $('.partner-header[data-partner="' + partnerId + '"] h6').html('-');
        });

        // Changes partner styles in partner list when you close is
        $('.panel-collapse').on('hidden.bs.collapse', function (e) {
            let partnerId = e.currentTarget.dataset.partner;
            $('.partner-header[data-partner="' + partnerId + '"]').removeClass('opened');
            $('.partner-header[data-partner="' + partnerId + '"] h6').html('+');
        });

        // Opens pertner settings when you click on partner plus sign in partner list
        $('.partner-header h6').on('click', (e) => {
            let partnerId = e.currentTarget.dataset.partner;
            $('.panel-collapse[data-partner="' + partnerId + '"]').collapse('toggle');
        })

        // Opens partner settings when you press edit
        $('.edit-partner').on('click', (e) => {
            let partnerId = e.currentTarget.dataset.partner;
            $('.panel-collapse[data-partner="' + partnerId + '"]').collapse('show');
        })

        // On click if switch is inactive opens partner settings and shows required fields to activate partner, if everything is good activates partner
        $('.partner-switch').on('click', (e) => {
            e.stopPropagation();
            e.preventDefault();
            let input = $(e.currentTarget).find('input')[0];
            let partnerId = input.dataset.partner;
            if ($(e.currentTarget).hasClass('not-active')) {
                $('.panel-collapse[data-partner="' + partnerId + '"]').collapse('show');
                CheckIfPartnerCanBeActivatedAndMarkFields(partnerId);
                return;
            }
            if (input.checked) {
                $(document).off('disablePartner');
                $(document).on('disablePartner', () => {
                    let promise = ToggleActivation(partnerId, false);
                    promise
                        .then(() => {
                            input.checked = false;
                            $(input).closest('label').next().html('inactive');
                        })
                        .catch(() => {
                            UknownError()
                        }); 
                    MakeHidden('disable-pop-up');
                });
                MakeVisible('disable-pop-up');
            }
            else {
                input.checked = true;
                $(input).closest('label').next().html('active');
                let promise = ToggleActivation(partnerId, true);
                promise
                    .then(() => {
                    })
                    .catch(() => {
                        input.checked = false;
                        UknownError()
                    }); 
            }
        });

        // Shows delete confirmation PopUp when you try to delete partner and 
        $('.delete-partner').on('click', (e) => {
            e.stopPropagation();
            let partnerId = e.currentTarget.dataset.partner;
            let name = $('.partner-name[data-partner="' + partnerId + '"]').html();
            $('#pop-up-partner-name').html(name);
            MakeVisible('delete-pop-up');
            $('#delete-button').off('click');
            $('#delete-button').on('click', () => {
                $('.delete-form[data-partner="' + partnerId + '"]').submit();
            });
        });

        // On this page every input that has attribute form is part of form that holds partner settings, so when somebody changes partner settings this fucntion enables save and cancel buttons
        $('input[form]').on('change', (e) => {
            let partnerId = e.currentTarget.dataset.partner;
            let cancelButton = $('.partner-cancel-changes[data-partner="' + partnerId + '"]');
            let saveButton = $('.partner-save-changes[data-partner="' + partnerId + '"]');
            saveButton.removeClass('invalid-button-red');
            cancelButton.removeClass('invalid-button-transparent')
            saveButton.off('click');
            cancelButton.on('click', () => {
                MakeVisible('cancel-pop-up');
            });
        });

        // Refreshes page when you click cancel
        $('#cancel-changes-button').on('click', (e) => {
            window.location.href = window.location.href.slice(0, window.location.href.indexOf('/', 9)) + '/News/NewsPartners';
        });

        // Hides cancel confirmation PopUp when you click cancel button
        $('#do-not-cancel').on('click', (e) => {
            MakeHidden('cancel-pop-up');
        });

        // Makes disabled save button unckickable
        $('.invalid-button-red').on('click', (e) => {
            e.preventDefault();
        });

        // Fires disableButton event when you confirm partner disabling in disable partner confirmation PopUp
        $('#disable-button').on('click', () => { document.dispatchEvent(disablePartner); });

        // Hides PopUp when you press cancel in disable partner confirmation PopUp
        $('#do-not-disable').on('click', () => { MakeHidden('disable-pop-up'); });

        // Shows add partner PopUp when you click on add pertner button or red add partner text
        $('#add-partner-button, #add-partner-text').on('click', () => { MakeVisible('add-partner-pop-up'); });

        // On click makes enable state of every category of this partner same as itself
        $('.all-categories-checkbox').on('click', (e) => {
            e.preventDefault();
            e.stopPropagation();
            let input = $(e.currentTarget).find('input')[0];
            let partnerId = input.dataset.partner;
            if (!input.checked) {
                input.checked = true;
                $('.check-category-of-partner[data-partner="' + partnerId + '"]').each((index, element) => {
                    element.checked = true;
                    $(element).change();
                });
            }
            else {
                input.checked = false;
                $('.check-category-of-partner[data-partner="' + partnerId + '"]').each((index, element) => {
                    element.checked = false;
                    $(element).change();
                });
            }
        });

        // Checks enable all categories checkbox if all categories checkboxes are checked and unchecks if at least one is not
        $('.one-category-checkbox').on('click', (e) => {
            if (e.target.tagName != 'INPUT') return;
            let input = $(e.currentTarget).find('input')[0];
            let partnerId = input.dataset.partner;
            let qunatityOfChecked = 0;
            let checkAll = $('.check-all-categories[data-partner="' + partnerId + '"]')[0];
            $('.check-category-of-partner[data-partner="' + partnerId + '"]').each((index, element) => {
                if (element.checked) qunatityOfChecked++;
            });
            if (qunatityOfChecked == @Model.Categories.Count) {
                checkAll.checked = true;
            }
            else {
                checkAll.checked = false;
            }
        });

        // Removes inputs error indication when you change value inside input
        $('input[name="ApiKey"], input[name="Sources"]').on('change', (e) => {
            $(e.currentTarget).removeClass('input-ok');
            $(e.currentTarget).removeClass('input-fail');
        })

        // Sends request to server to activate or deactivate particular partner, returns fetch promise
        function ToggleActivation(id, state) {
            let csrf = document.getElementsByName('__RequestVerificationToken')[0].value;
            let data = {
                method: 'post',
                headers: {
                    'XSRF-TOKEN': csrf,
                    'content-type': "application/json"
                },
                body: JSON.stringify({
                    id: id,
                    state: state
                })
            }
            let url = window.location.href.slice(0, window.location.href.indexOf('/', 9));
            return fetch(url + '/News/TogglePartner', data);
        }

        // Being called on form submit and checks if you can save changes without disabling partner and if you cant shows error notification
        function CheckIfCanSaveWithoutDisablingPartner(partnerId) {
            if (!$('.enabling-checkbox[data-partner="' + partnerId + '"]')[0].checked)
                return true;
            if (CheckIfPartnerCanBeActivatedAndMarkFields(partnerId))
                return true;
            else {
                $('.notification').addClass("hidden-element");
                MakeVisible('notification-about-input-error');
                return false;
            }
        }

        // Checks if all fields required for activation are filled, and paints them correspondingly
        function CheckIfPartnerCanBeActivatedAndMarkFields(partnerId) {
            let result = true;
            let tokenInput = $('input[name="ApiKey"][data-partner="' + partnerId + '"]');
            let sourcesInput = $('input[name="Sources"][data-partner="' + partnerId + '"]');
            if (tokenInput.val() == '') {
                tokenInput.addClass('input-border-fail');
                result = false;
            }
            else
                tokenInput.addClass('input-border-ok');
            if (sourcesInput.val() == '') {
                sourcesInput.addClass('input-border-fail');
                result = false;
            }
            else
                sourcesInput.addClass('input-border-ok');
            return result;
        }
    </script>
    <script src="~/js/commonActions.js"></script>
}